<style>
    #sa-education {
        /*background: #97AFB9;*/
        /*height: 300px;*/
        width: 100%;
        /*color: white;*/
        padding-top: 45px;
        padding-bottom: 50px;
    }

    #sa-education .sub-title {
        /*color: white;*/
        margin-top: 125px;
    }

    .left-title {
        text-align: center;
    }

    .right-side {
        position: relative;
    }

    .treatment-box {
        text-align: center;
    }
</style>

<div id='sa-education'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='left-title'>
                    <div class='sub-title'>FIRST LINE SUPERVISION</div>
                    <div class='section-title'>Psychiatric <span class='bold'>Assessment</span></div>
                    <hr class='short'>
                </div>
            </div>
            <div class='col-lg-6' style='position: relative'>
                <div class='right-side section-text'>
                    <p>The first of treatment involves conducting a psychiatric assessment, or psychological screening, to gather information
                    about our patients and identify possible diagnoses.</p>

                    <p>During the assessment, questions about past medical history and use of medication are asked, in addition to any history
                    of mental illness or mental disorders in the family. Previous psychiatric assessments, treatments, and degree of
                    adherence to past treatments are also reviewed, and records from such care are obtained from places that hold those
                    records. The method of assessment depends on whether the presenting problem is reported during a routine visit or a
                    crisis. During a routine visit, target questions may focus more on the general medical and psychiatric history and
                    evaluate several domains of mental function, including speech, emotional expression, thinking and perception. During
                    crisis or emergency visits, the assessments may focus more on immediate symptoms and behaviors.</p>

                </div>
            </div>
        </div>
    </div>
</div>