<style>
    #sa-education {
        /*background: #97AFB9;*/
        /*height: 300px;*/
        width: 100%;
        /*color: white;*/
        padding-top: 45px;
        padding-bottom: 50px;
    }

    #sa-education .sub-title {
        /*color: white;*/
        margin-top: 125px;
    }

    .left-title {
        text-align: center;
    }

    .right-side {
        position: relative;
    }

    .treatment-box {
        text-align: center;
    }
</style>

<div id='sa-education'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='left-title'>
                    <div class='sub-title'>MONITORING & FOLLOW UP</div>
                    <div class='section-title'>Clinical <span class='bold'>Services</span></div>
                    <hr class='short'>
                </div>
            </div>
            <div class='col-lg-6' style='position: relative'>
                <div class='right-side section-text'>
                  
                </div>
            </div>
        </div>
    </div>
</div>