
<style>
#medication {
    padding: 55px 0px;
}

#medication .banner {
    width: 100%;
}

#medication .col-lg-4 {
    padding: 0px;
}

#medication .col-lg-12 {
    padding: 0px 30px;
}

#medication .sub-title {
    text-align: center;
}

#medication .tab1 {
    text-align: center;
    background-color: #00314A !important;
    color: white;
}

#medication .tab2 {
    text-align: center;
    background: #344A53 !important;
    color: white;
}

#medication .tab3 {
    text-align: center;
    background: #97AFB9 !important;
    color: white;
}
</style>

<div id='medication'>
    <div class='container'>
        <div class='sub-title'>Medical Services</div>
        <div class='section-title center' style='padding-bottom: 25px'>Medication <span class='bold'>Management</span></div>
        <hr class='short'>
        <div class='section-text'>
            <p>Our psychiatric mental health practitioners are trained to attend to mental health issues across the lifespan. They are
            qualified to carry out examinations and mental health assessments, diagnose psychiatric illnesses, prescribe medication
            based on a treatment plan that is unique to your physical health, and coordinate services for other healthcare
            components, including psychotherapy.</p>
            
            <p>Wilmington Mental Health’s practitioners provide health care services directly to individuals being treated for or
            suspected of having physical or mental illnesses. Our patient care is both preventative and therapeutic in nature,
            consisting of direct supervision of various mental health issues to ensure the right medication is being used and to
            help reduce or eliminate symptoms effectively. Still, our team is deeply aware that medication treatment varies from
            individual to individual and requires interdisciplinary teams to work together to increase the efficacy of medication
            treatment.</p>
        </div>
        <img src='./images/stethoscope.jpg' class='banner'>
        <div class='row'>
            <div class='col-lg-12'>
                <div class='row'>
                    <div class='col-lg-4'>
                        <div class='tab1'>Medication Management</div>
                    </div>
                    <div class='col-lg-4'>
                        <div class='tab2'>Medication-Assisted Treatment</div>
                    </div>
                    <div class='col-lg-4'>
                        <div class='tab3'>Psychiatric Treatment</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>