<style>
    #sa-education {
        /*background: #97AFB9;*/
        /*height: 300px;*/
        width: 100%;
        /*color: white;*/
        padding-top: 45px;
        padding-bottom: 50px;
    }

    #sa-education .sub-title {
        /*color: white;*/
        margin-top: 125px;
    }

    .left-title {
        text-align: center;
    }

    .right-side {
        position: relative;
    }

    .treatment-box {
        text-align: center;
    }
</style>

<div id='sa-education'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-6'>
                <div class='left-title'>
                    <div class='sub-title'>MONITORING & FOLLOW UP</div>
                    <div class='section-title'>Psychotropic <span class='bold'>Medication</span></div>
                    <hr class='short'>
                </div>
            </div>
            <div class='col-lg-6' style='position: relative'>
                <div class='right-side section-text'>
                    <p>Our medication management program involves the initial evaluation of your needs for psychotropic medications, followed
                    by the provision of a prescription, and ongoing medical monitoring of your use of the medication.</p>

                    <p>Our prescribers are conservative with the use of psychotropic medications and will conduct a thorough review of several
                    prescribed drugs that may fit you and their possible side effects to create a treatment plan that is safe and effective.
                    The initial assessment allows for the identification of physical condition and helps in the creation of the treatment
                    plan. Your provider will closely monitor the effect medication is having on your body to help you get the desired
                    outcomes.
                    </p>

                    <p class='center'>Medical Services • Medication Management • Monitoring • Follow-Up</p>

                </div>
            </div>
        </div>
    </div>
</div>