<style>
    #telepsychiatry {
        padding: 55px 0px;
        margin-top: 0px;
        background: #00314A !important;
        color: white;
    }



    #telepsychiatry .section-text {
        margin-top: 25px;
        color: white !important;
    }
</style>

<div id='telepsychiatry'>
    <div class='container'>
        <div class='section-title'>Telepsychiatry<span>
                <div class='section-text'>
                    <p>WMH proudly offers telepsychiatry services to those who cannot come into the office to be seen. Telepsychiatry is
                    conducted through a HIPAA compliant video conferencing platform to provide autonomy, confidentiality, and privacy.</p>

                    <p>Please contact us if you would like more information on how to connect with your provider via telepsychiatry.</p>

                    <p>
                    Appointment Directions:<br>
                    <p>1) &nbsp;&nbsp;We will send you a video conference email or text message with a link to connect to the video conference at the time of
                    your appointment.</p>
                    <p>2) &nbsp;&nbsp;If you are using a mobile device you will need to download the application to your device before you can access the
                    virtual room.</p>
                    <p>3) &nbsp;&nbsp;If you received the link via email, open the message and click on the link. When you click to connect, the email will
                    automatically open the application or browser and ask you to provide your name before you enter the session.</p>
                    <p>4) &nbsp;&nbsp;You should be all set. Please make sure that you are connected to the internet and have your volume and webcam turned on
                    when you are accessing the room from your computer or laptop. Email or call our front desk if you experience any issues
                    or have questions about connecting with your provider via telepsychiatry.</p>
                    </p>



                </div>
        </div>
    </div>
</div>