<style>

    #medication-who {
        padding: 55px 0px;
        margin-top: 0px;
        background: #344A53 !important;
        color: white;
    }



    #medication-who .section-text {
        margin-top: 25px;
        color: white !important;
    }
</style>

<div id='medication-who'>
    <div class='container'>
        <div class='section-title'>Who should consider medication treatment?<span>
        <div class='section-text'>
            <p>Anyone who struggles with persistent symptoms that impact daily function. Our healthcare providers empower patients in
            understanding the risks medication can pose to their health, knowing what medications should be taken and what dosage
            may benefit an individual the most while thoroughly addressing issues and offering a medication management plan.
            Prescribers can offer details about your prescribed medications, including interactions with other medications,
            potential side effects, and other considerations that may affect recovery. Understanding the potential risks from mixing
            medications with food or supplements is important not only for your safety, but also to increase the effectiveness of
            the medication you have been prescribed.
            </p>

            <p>Understanding your role in managing your medications can be crucial for your recovery and overall mental health as it
            can help you quickly identify that you are not experiencing the outcomes you expected. On the other hand, you may
            experience health complications despite taking the right medications in the right doses. Therefore, our providers can
            track your medication intake to ensure that you are doing so consistently and that any complication that may arise
            during your treatment is reduced. WMH aims to provide an effective medication therapy management plan for you and your
            family.</p>

            <p>Even though most people would prefer not to take meds, research shows that people start going “off track” with their
            meds as soon as they start taking them. Many people stop taking their meds within a year after starting them!</p>

            <p class='center'>Mood disorders • Anxiety disorders • Obsessive compulsive disorders • ADHD • Sleep disorders • Psychotic disorders •
            Cognitive disorders</p>
           
        </div>
    </div>
</div>
</div>