<style>
	.get-started {
		padding: 100px 300px;
	}

	.get-started button{
		margin: 50px auto;
		font-size: 18px;
	}

	.large-text {
		font-size: 36px;
		margin: auto;
		text-align: center;
	}

</style>

<div class='get-started'>
	<div class='container'>
		<div class='row'>
			<div class='large-text'>We help people achieve positive and meaningful changes in their lives</div>
			<button class='main-box'>Get Started</button>
		</div>
	</div>
</div>
