<style>

.scroll-up {
	height: 100px;
	width: 100px;
	position: fixed;
	bottom: 100px;
	right: 20px;
	/*background: white;*/
	z-index: 100;
	/*border: 2px solid #97AFB9 !important;*/
	padding: 10px;
	text-align: center;
	font-size: 50px;
	color: #6E59A1 !important;
	display: none;
} 	

.scrolled {
	display: inline;

}
</style>
<a href='#'>
<div class='scroll-up'>
	<i class="fas fa-arrow-circle-up"></i>
	<div style='font-size: 15px'>Scroll to Top</div>
</div>
</a>
