<style>
.top-bar i {
	color: #4eaac8 !important;
}

.top-bar {
	background-color: rgba(245,245,245,1);
    color: #42474c;
    height: 46px;
    font-size: 14px;
    line-height: 24px;
    padding-top: 10px;
    text-align: left;
}

.top-bar a {
	color: #42474c;
}

</style>

<div class='top-bar'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-3'>Visit us daily from 9:00am to 7:00pm</div>
			<div class='col-lg-1'></div>
			<div class='col-lg-3'>
				<i class="fas fa-map-marker-alt"></i> 
				&nbsp;3825 Market St, Suite 4
			</div>
			<div class='col-lg-2'>
				<i class="fas fa-envelope"></i> 
				&nbsp;<a href='mailto:info@wmhwc.com'>info@wmhwc.com</a>
			</div>
			<div class='col-lg-3'>
				<a href='#' style='color: #3d3272; font-weight: bold; float: right'>Request a Consultation</a></div>
		</div>
	</div>
</div>