<style>

#treatments {
	background-color: #092129;
	padding: 75px 100px;
}

#treatments hr {
	border: 1px solid lightgray;
}

.treatment-box {
	width: 100%;
	min-height: 150px;
	text-align: left;
}

.treatment-header {
	font-size: 36px;
	color: white;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
}

.treatment-image img {
	height: 200px;
}

.treatment-name {
	font-size: 24px;
	font-weight: 300;
	color: lightgray;
	border-bottom: 1px solid lightgray;
	margin-top: 50px;
}

.treatment-subtext {
	color: lightgray;
	font-weight: 300;
	font-size: 22px;
	text-align: center;
	width: 75%;
	margin: 25px auto;
}

.treatment-text {
	font-size: 22px;
	font-weight: 300;
	color: lightgray;
	margin-top: 10px;
}

</style>


<div id='treatments'>
	<div class='container'>
		<div class='treatment-header'>Comprehensive Services</div>
		<div class='row'>
			<div class='col-lg-3' style='border-right: 1px solid lightgray'>
				<div class='treatment-box right'>
					<div class='treatment-name'>Substance <span class='bold'>Abuse</span></div>
					<div class='treatment-text'>Alcohol, drugs, cybersex, sex gambling, pornography, internet</div>
				</div>
				<div class='treatment-box right'>
					<div class='treatment-name'>Emotional <span class='bold'>Conflict</span></div>
					<div class='treatment-text'>Anxiety, depression, phobias, panic attacks, obsessions, etc</div>
				</div>
				<div class='treatment-box right'>
					<div class='treatment-name'>Interpersonal <span class='bold'>Issues</span></div>
					<div class='treatment-text'>Divorce, domestic violence, infidelity, jealousy, infertility, etc</div>
				</div>
			</div>
			<div class='col-lg-6'>
				<div class='treatment-subtext'>
					<siv class='bold large'>61,500,000</siv>
					<p>Americans who experienced a mental illness in a given year</p>
					
					<siv class='bold large'>70 - 90%</siv>
					<p>Individuals who reported benefits after receiving counseling treatment</p>
					<siv class='bold large'>90%</siv>
					<p>Percentage of people who die by suicide who also had a mental illness</p>
					<siv class='bold large'>7</siv>
					<p>The number of Americans who die by suicide per hour</p>
				</div>
			</div>
			<div class='col-lg-3' style='border-left: 1px solid lightgray'>
				<div class='treatment-box'>
					<div class='treatment-name'><span class='bold'>Stress</span></div>
					<div class='treatment-text'>Gender identity, grief, life changes, parenting, coping with illness, etc</div>
				</div>
				<div class='treatment-box'>
					<div class='treatment-name'>Behavioral <span class='bold'>Problems</span></div>
					<div class='treatment-text'>Anger, bullying or being bullied, school issues, conduct disorders</div>
				</div>
				<div class='treatment-box'>
					<div class='treatment-name'><span class='bold'>Trauma</span></div>
					<div class='treatment-text'>Child-Adult PTSD, feeling stuck and helpless, hopelessness</div>
				</div>
			</div>
		</div>
	</div>
</div>