<style>

.box {
	height: 400px;
	margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 55px !important;
    padding-right: 18% !important;
    padding-bottom: 65px !important;
    padding-left: 12% !important;
}

.box-text {
	font-size: 20px;
	margin-top: 15px;
}
.box-title {
	font-size: 38px;
	
}
#box-1 {
	background-color: #271d57 !important;
	color: white;
}

#box-2 {
	background: #4eaac8 !important;
	color: white;
}

#box-3 {
	background: #f6f8f9 !important;
	color: #42474c !important;
}

.read-more {
	float: right;
	margin-top: 20px;
	font-size: 20px;
	text-decoration: none;
	color: white;
}



</style>

<div id='three-box'>
<div class='row' style='width: 100%; margin: auto'>
	<div class='col-lg-4' style='padding: 0px'>
		<div class='box' id='box-1'>
			<div class='box-title'>Welcome to WMH</div>
			<div class='box-text'>We are here to help you. We listen to what you have to say and provide genuine support no matter the issue you are experiencing.</div>
			<a href='#'><div class='read-more'>Read more</div></a>
		</div>
	</div>
	<div class='col-lg-4' style='padding: 0px'>
		<div class='box' id='box-2'>
			<div class='box-title'>Find the right therapy</div>
			<div class='box-text'>We see patients from all walks of life. Our providers are all highly trained and experienced clinical mental health counselors and social workers.</div>
			<a href='#'><div class='read-more'>Read more</div></a>
		</div>
	</div>
	<div class='col-lg-4' style='padding: 0px'>
		<div class='box' id='box-3'>
			<div class='box-title'>Virtual appointments</div>
			<div class='box-text'>We are happy to have you here with us. We are providing therapy online to practice social distancing and prevent the spread of COVID-19.</div>
			<a href='#'><div class='read-more' style='color: black'>Read more</div></a>
		</div>
	</div>
</div>
</div>