<style>

.box {
	height: 400px;
	margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 55px !important;
    padding-right: 18% !important;
    padding-bottom: 65px !important;
    padding-left: 12% !important;
}

.box-title {
	font-size: 42px;
	
}
#box-1 {
	background-color: #271d57 !important;
	color: white;
}

#box-2 {
	background: #4eaac8 !important;
	color: white;
}

#box-3 {
	background: #f6f8f9 !important;
	color: #42474c !important;
}
</style>

<div id='three-box'>
<div class='row' style='width: 99.99%'>
	<div class='col-lg-4' style='padding: 0px'>
		<div class='box' id='box-1'>
			<div class='box-title'>For Adolescents</div>
			<div class='box-text'>Need text here</div>
		</div>
	</div>
	<div class='col-lg-4' style='padding: 0px'>
		<div class='box' id='box-2'>
			<div class='box-title'>For Adults</div>
			<div class='box-text'>Need text here</div>
		</div>
	</div>
	<div class='col-lg-4' style='padding: 0px'>
		<div class='box' id='box-3'>
			<div class='box-title'>For Seniors</div>
			<div class='box-text'>Need text here</div>
		</div>
	</div>
</div>
</div>