<style>

.get-started {
	padding: 300px 300px 100px 300px;
	height: 400px;
}

.get-started a {
	width: 100%;
	text-align: center;
}

.get-started button{
	margin: 50px auto;
	font-size: 18px;
}

.get-started .large-text {
	font-size: 28px;
	margin: auto;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 25px;
	width: 100%;
}

.get-started {
	height: 600px;
}

.get-started .section-title {
	width: 100%;
	text-align: center !important;
}

.get-started .sub-title {
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 100px;
}

.spwidget-button {
	text-align: center;
	margin: auto;
}
</style>

<div class='get-started background-alt'>
	<div class='container'>
		<div class='row'>
			<div class='sub-title'>PERSON-CENTERED TREATMENT</div>
			<div class='section-title'>We help people achieve positive and meaningful changes in their lives</div>
			<hr class='short'>
			<div class='section-title'></div>
			<a href="/whoweare"><button class='main-box'>Who we are</button></a>
		</div>
	</div>
</div>
