<style>
	.insurance {
		padding: 50px 0px;
	}
	
	.insurance img {
		height: 30px;
		width: auto;
		margin: 0px 10px;
		padding: 0px 5px;
	}

	.insurance-card {
		height: 150px;
		width: 100%;
		border: 1px solid lightgray;
		box-shadow: 2px 2px 10px gray;
		border-radius: 10px;
		padding: 60px 0px;
		margin-bottom: 20px;
		text-align: center;
	}

	.images {
		margin: auto;
	}
</style>


<div class='insurance'>
	
	<div class='row' style='width: 90% !important; margin: auto'>
		<div class='images'>
				<img src='./images/aetna.png' alt='Aetna logo'>>
				<img src='./images/bcbs.png' alt='BCBS logo'>>
				<img src='./images/cigna.png' alt='Cigna logo'>>
				<img src='./images/humana.png' alt='Humana logo'>>
				<img src='./images/magellan.png' alt='Magellan logo'>>
				<img src='./images/medcost.png' alt='Medcost logo'>>
				<img src='./images/united.png' alt='United logo'>>
				<img src='./images/Optum.png' alt='Optum logo'>>
			</div>
		</div>
	</div>
</div>