<style>
	.insurance {
		padding: 50px 0px;
	}
	
	.insurance img {
		width: 70%;
	}

	.insurance-card {
		height: 150px;
		width: 100%;
		border: 1px solid lightgray;
		box-shadow: 2px 2px 10px gray;
		border-radius: 10px;
		padding: 60px 0px;
		margin-bottom: 20px;
		text-align: center;
	}

</style>


<div class='insurance'>
	
	<div class='header-alt'>Most Insurance Plans <span class='bold'>Accepted</span></div>
	<div class='row' style='width: 90% !important; margin: auto'>
		<div class='col-lg-2'></div>		
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/aetna.png' alt='Aetna logo'>
			</div>
		</div>
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/bcbs.png' alt='BCBS logo'>>
			</div>
		</div>
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/cigna.png' alt='Cigna logo'>>
			</div>
		</div>
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/humana.png' alt='Humana logo'>>
			</div>
		</div>
		<div class='col-lg-2'></div>
	</div>

	<div class='row' style='width: 90% !important; margin: auto'>
		<div class='col-lg-2'></div>
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/magellan.png' alt='Magellan logo'>>
			</div>
		</div>
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/medcost.png' alt='Medcost logo'>>
			</div>
		</div>
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/united.png' alt='United logo'>>
			</div>
		</div>		
		<div class='col-lg-2'>
			<div class='insurance-card main-box'>
				<img src='./images/Optum.png' style='margin-top: -25px' alt='Optum logo'>>
			</div>
		</div>
		<div class='col-lg-2'></div>
	</div>
</div>

