<style>
	.insurance {
		padding: 50px 0px;
	}
	
	.insurance img {
		height: 30px;
		width: auto;
		margin: 0px 10px;
		padding: 0px 5px;
	}

	.insurance-card {
		height: 150px;
		width: 100%;
		border: 1px solid lightgray;
		box-shadow: 2px 2px 10px gray;
		border-radius: 10px;
		padding: 60px 0px;
		margin-bottom: 20px;
		text-align: center;
	}

	.images {
		margin: auto;
	}
</style>


<div class='insurance'>
	
	<div class='row' style='width: 90% !important; margin: auto'>
		<div class='images'>
				<img src='./images/aetna.png'>
				<img src='./images/bcbs.png'>
				<img src='./images/cigna.png'>
				<img src='./images/humana.png'>
				<img src='./images/magellan.png'>
				<img src='./images/medcost.png'>
				<img src='./images/united.png'>
				<img src='./images/Optum.png'>
			</div>
		</div>
	</div>
</div>