<style>

.alert {
	position: absolute;
	padding: 5px 20px 5px 0px;
	background: rgba(78, 170, 200, .6);
	color: white;
	top: 0px;
	left: 0px;
	text-align: left;
	width: 100%;
}

.jumbotron {
	background-image: url('https://livewp.site/wp/md/optima/wp-content/uploads/sites/15/2018/01/home_bg1-1.jpg?id=44');
	background-repeat: no-repeat;
	height: 80vh;
	width: 100%;
	margin-bottom: 0px;
	position: relative;
	text-align: center;
}

.main-text {
	font-size: 45px;
	color: white;
	margin-top: 100px;
	font-weight: 500;
	text-align: left;
	width: auto;
}

.sub-text {
	font-size: 20px;
	font-style: italic;
}
</style>

<div class='jumbotron'>
		<div class='alert'>
			<div class='container'>
			COVID-19 Update: To comply with COVID-19 guidelines, sessions are now available via video or phone.</div></div>
		<div class='container'>
			<div class='main-text'>
				Psychotherapy and Substance <br>
				Abuse Treatment
				<div class='sub-text'>Build a brighter future by starting within</div>
			</div>
		</div>
</div>
