<style>

.alert {
	position: absolute;
	padding: 5px 20px;
	background: rgba(78, 170, 200, .6);
	color: white;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}

.jumbotron {
	background-image: url('https://livewp.site/wp/md/optima/wp-content/uploads/sites/15/2018/01/home_bg1-1.jpg?id=44');
	background-repeat: no-repeat;
	height: 60vh;
	width: 100%;
	margin-bottom: 0px;
	position: relative;
	text-align: center;
}

.main-text {
	font-size: 68px;
	color: white;
	margin-top: 100px;
	font-weight: 500;
	text-align: left;
	width: auto;
}

</style>

<div class='jumbotron'>
		<div class='alert'>COVID-19 Update: To comply with COVID-19 guidelines, sessions are now available via video or phone.</div>
		<div class='container'>
			<div class='main-text'>
				Psychotherapy and<br>
				Substance Abuse Treatment
			</div>
		</div>
</div>
