<style>

.baseline {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 25px;
    text-align: center;
}

#legit {
    padding: 55px 10px;
}

#legit img {
  margin-top: 50px;
}
</style>

<div id='legit'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-3' style='text-align: center'>
                <script src="https://static.legitscript.com/seals/7189196.js"></script>
                <a href='/substance#outpatient'><button style='margin-top: 25px'>Outpatient Care</button></a>
            </div>
            <div class='col-lg-9'>
                <div class='section-title'>Addiction Treatment Facility</div>
                <hr class='short' style='margin-left: 0px; margin-bottom: 10px'>
                <div class='section-text'>
                    Wilmington Mental Health provides in-person drug or alcohol addiction treatment and complies with LegitScript’s certification standards, which helps ensure transparency and compliance with applicable laws and regulations. Our outpatient substance abuse program is suitable for people with jobs or extensive social supports, is low-intensity, and offers more than just drug education or relapse prevention. Our program is comparable to residential programs in services and effectiveness and adapts to your individual characteristics and needs.
                </div>
            </div>
        </div>
        <div class='baseline section-text'>OUR THERAPEUTIC EFFORT IS PROVIDED WITHIN THE MOST CARING, PRIVATE, AND PROFESSIONAL ENVIRONMENT</div>
    </div><br>
</div>