<style>

.address {
	font-size: 20px;
	margin-top: 26px;
	font-weight: 300;
}

.email {
	font-size: 20px;
	margin-top: 26px;
	font-weight: 300;
}

.map {
	position: absolute;
	margin-top: -75px;
	border-radius: 10px;
	box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.6);
	z-index: 2;
}

#map {
	background-color: #4eaac8;
	color: white; 
	padding: 55px 0px 55px 0px;
	z-index: -1;
}

#map a {
	color: white; 
	text-decoration: none;	
}

#map hr {
	width: 30%;
	margin-left: 0px;
	color: white;
}

#map i {
	color: white !important;
}

.map-header {
	font-size: 36px;
	line-height: 128%;
	font-weight: 300;
}

.map-text {
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

</style>

<div id='map' class='hide-on-mobile'>
	<div class='container'>
	<div class='row' style='width: 100%'>
		<div class='col-lg-0'></div>
		<div class='col-lg-6'>
			<div class='sub-title'>Contact Us</div>
			<div class='map-header'>Find Us on the Map</div>
			<hr>
			<div class='map-text'>Do you have any questions for us? Please text us or send us <br>an email.</div>
			<div class='address'>
				<i class="fas fa-map-marker-alt"></i> 
				&nbsp; 3825 Market St, Suite 4, Wilmington, NC 28403
			</div>
			<div class='email'><i class="fas fa-envelope"></i>&nbsp; <a href='mailto:info@wmhwc.com'>info@wmhwc.com</a></div>
		</div>
		<div class='col-lg-6'>
			<div class='map'>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3298.2652113116624!2d-77.9006765847861!3d34.24177568055476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89a9f5fa7433afd9%3A0xef323e99178d1274!2sWilmington%20Mental%20Health%2C%20PLLC!5e0!3m2!1sen!2sus!4v1606354262906!5m2!1sen!2sus" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
		</div>
	</div>
	</div>
</div>


