<style>

#stats {
	background-image: url('https://livewp.site/wp/md/optima/wp-content/uploads/sites/15/2018/01/home_counter_bg-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 600px;
	color: white;
	text-align: center;
}

.stat-icon {
	font-size: 50px;
	margin-top: 200px;
}

.stat-number {
	font-size: 42px;
}

</style>

<div id='stats'>
<div class='row' style='width: 99.99%'>
	<!-- <div class='col-lg-2'></div> -->
	<div class='col-lg-3'>
		<div class='stat-icon'><i class="far fa-calendar-alt"></i></div>
		<div class='stat-number'>61,500,000</div>
		<div class='stat-fact'>Americans who experienced a mental illness in a given year</div>		
	</div>
	<div class='col-lg-3'>
		<div class='stat-icon'><i class="fas fa-user-md"></i></div>
		<div class='stat-number'>70 - 90%</div>
		<div class='stat-fact'>Individuals who reported benefits after receiving counseling treatment</div>
	</div>
	<div class='col-lg-3'>
		<div class='stat-icon'><i class="far fa-user"></i></div>
		<div class='stat-number'>90%</div>
		<div class='stat-fact'>Percentage of people who die by suicide who also had a mental illness</div>
	</div>
	<div class='col-lg-3'>
		<div class='stat-icon'><i class="far fa-clock"></i></div>
		<div class='stat-number'>7</div>
		<div class='stat-fact'>The number of Americans who die by suicide per hour</div>
	</div>
	<!-- <div class='col-lg-2'></div> -->
</div>
</div>