<style>

.verify {
	margin-top: 100px;
	height: 400px;
}

.verify-image {
	text-align: center;
}

.verify-image img{
	width: 200px;
	filter: grayscale(100%);
	margin-top: 25px;
}

</style>


<div class='container'>
	<div class='verify'>
		<div class='header'>Verify Our <span class='bold'>Credentials</span></div>
		<div class='row'>
			<div class='col-lg-4'><div class='verify-image main-box'><img src='./images/PsychologyToday.png'></div>
		</div>
			<div class='col-lg-4'><div class='verify-image main-box'><img src='./images/TherapyTribe.png'></div>
		</div>
			<div class='col-lg-4'><div class='verify-image main-box'><img src='./images/GoodTherapy.jpg'></div>
		</div>
		</div>
	</div>
</div>
