<style>

#what2 .section-text {
	padding: 0% 8%;
	margin-top: 15px;
}
.image-title {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	margin-top: 15px;
}

#what2 {
	padding: 55px 0px;
}

#what2 .image {
	text-align: center;
}

#what2 .image img {
	width: 80%;
	margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 5px;
}

#what2 .section-title {
	width: 100%;
	text-align: center !important;
}

#what2 .sub-title {
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}

.get-started button{
	margin: 50px auto;
	font-size: 18px;
}

#what2 .large-text {
	font-size: 28px;
	margin: auto;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 25px;
}

</style>

<div id='what2'>
<!-- <div class='background-alt'> -->
	<div class='container'>
			<div class='sub-title'>ASSOCIATED FACTORS AND RISKS</div>
			<div class='section-title'>What causes mental health problems?</div>
			<hr class='short'>
			<div class='section-text' style='padding: 0px'>Extensive research into the causes of mental health have determined that there is no single factor that can be attributed, but rather a combination of factors: </div>
	<div class='row'>
		<div class='col-lg-3'>
			<div class='image'><img src='./images/family.jpg' alt='Family history'></div>
			<div class='image-title'>Family History</div>
			<div class='section-text'>Mental health problems run throughout your family</div>
		</div>
		<div class='col-lg-3'>
			<div class='image'><img src='./images/biology.jpg' alt='Biology'></div>
			<div class='image-title'>Biological Factors</div>
			<div class='section-text'>Brain chemistry, hormonal balance, or genetics</div>
		</div>
		<div class='col-lg-3'>
			<div class='image'><img src='./images/environment.jpg' alt='Environment'></div>
			<div class='image-title'>Environmental Exposure</div>
			<div class='section-text'>Adverse life experiences such as trauma or abuse</div>
		</div>
		<div class='col-lg-3'>
			<div class='image'><img src='./images/substance.jpg' alt='Substance'></div>
			<div class='image-title'>Substance Abuse</div>
			<div class='section-text'>Long-term exposure alcohol and drugs</div>
		</div>
	</div>
		</div>

<!-- </div> -->
</div>
