<style>


	#why-us {
		padding: 75px 200px;
		color: #5c656d;
		text-align: left;
		background: white;
		height: 600px;
	}

	#why-us button {
		float: none;
		margin-top: 20px;
	}

	#why-us button:hover {
		background: #00314A; 
		transition: background .5s ease;
	}
	
	#why-us img {
		width: 100%;
		border-radius: 10px;
		margin-top: 20px;
		/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/
	}

	#why-us hr {
		width: 30%;
		margin-left: 0px;
	}

</style>

<div class='background-alt' id='why-us'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='why-image'><img src='./images/plane.png'></div>
			</div>
			<div class='col-lg-6'>
				<br>
				<div class='sub-title'>Why Choose Us</div>
				<div class='section-title'>Our Goal is <span class='bold'>Accessibility</span></div>
				<hr>
				<div class='section-text'>Here at Wilmington Mental Health, our mission is to provide accessible and universal mental health care to those in our community. We offer outpatient services to help care for those who are struggling with mental health and substance use disorders. Mental health is essential at every stage in your life, and we are here to ensure that you are provided with the guidance you deserve. </div>
				<div class='why-button'><a href='/whoweare'><button class='main-box'>About Us</button></a></div>
			</div>
			</div>
		</div>
	</div>
