<style>
	
	#footer {
		/*height: 350px;*/
		background: #f6f8f9;
		margin-top: 0px;
		padding: 55px;
		color: #5c656d;
		/*z-index: -1;*/
		position: relative;
		border-top: 1px solid lightgray;
	}

	#footer a {
		color: #5c656d;
	}

	#footer img {
		width: 100%;
		margin-bottom: 0px;
		z-index: -1;
	}

	.bottom-footer {
		height: 40px;
		background: white;
		width: 100%;
	}

	.footer-header {
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	.footer-image-text {
		text-transform: uppercase;
		margin-bottom: 25px;
		font-size: calc(.55vw);
		text-align: justify;
		white-space: nowrap;

	}

	.social {
		margin-top: 50px;
	}

	.social-icon {
		margin-right: 15px;
	}

</style> 


<div id='footer'>
	<div class='top-footer'>
		<div class='row'>
			<div class='col-lg-2'></div>
			<div class='col-lg-2'>
				<div class='footer-image'><img src='./images/graylogo.svg'></div>
				<div class='footer-image-text'>Psychotherapy and Substance Abuse Treatment</div>
				<div class='footer-text'>Our goal is to offer accessible and universal mental health to all in our neighborhood.</div>
				<div class='social'>
					<span class='social-icon'>
						<a href='https://www.facebook.com/wilmingtonmh' target='_blank'><i class="fab fa-facebook-f"></i></a>
					</span>
					<span class='social-icon'>
						<a href='https://www.instagram.com/wilmingtonmh/' target='_blank'><i class="fab fa-instagram"></i></a>
					</span>
					<span class='social-icon'>
						<a href='https://twitter.com/wilmingtonmh' target='_blank'><i class="fab fa-twitter"></i></a>
					</span>
					<span class='social-icon'>
						<a href='https://www.linkedin.com/company/wilmingtonmh' target='_blank'><i class="fab fa-linkedin-in"></i></a>
					</span>
					<span class='social-icon'>
						<a href='https://www.yelp.com/biz/wilmington-mental-health-wilmington' target='_blank'><i class="fab fa-yelp"></i></a>
					</span>
					<span class='social-icon'>
						<a href='https://www.youtube.com/channel/UCzcnU0w2ywfWRb0VDpQ4Ypg' target='_blank'><i class="fab fa-youtube"></i></a>
					</span>
				</div>
			</div>
			<div class='col-lg-1'></div>
			<div class='col-lg-2'>
				<div class='footer-header bold'>Our Clinic</div>
				<div class='footer-text'>3825 Market St, Suite 4<br> Wilmington, NC 28403</div>
				<p><div class='footer-text'><a href='tel:91007775575'>P: 910.777.5575</a><br>F: 910.777.5273</div>
				<p><div class='footer-text'><a href='mailto:info@wmhwc.com'>info@wmhwc.com</a></div>
				<p><div class='footer-text'>Visit us Mon-Fri from <br>9:00 AM to 7:30 PM</div>
			</div>
			<div class='col-lg-2'>
				<div class='footer-header bold'>Privacy Policy</div>
				<p><div class='footer-text'>
					<a href='/privacy'>Privacy Policy</a>
				</div>				
				<p><div class='footer-text'>
					<a href='#' target='_blank'>Terms of Service</a>
				</div>
				<p><div class='footer-text'>
					<a href='/accessibility' target='_blank'>Accessibility Notice</a>
				</div>
			</div>
			<div class='col-lg-2'>
				<div class='footer-header bold'>Links</div>
				<p><div class='footer-text'><a href='/home'>Home</a></div>
				<p><div class='footer-text'><a href='/services'>Services</a></div>
				<p><div class='footer-text'><a href='/who'>Who We Are</a></div>
				<p><div class='footer-text'><a href='/who'>Resources</a></div>
				<p><div class='footer-text'><a href='/who'>Contact Us</a></div>
				<!-- <p><div class='footer-text'><a href='/careers'>Careers</a></div> -->
			</div>
			<div class='col-lg-1'></div>
		</div>
	</div>
</div>



  <script src="./js/index.js"></script>
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>


  <script>
$(function(){
  var hash = window.location.hash;
  hash && $('ul.nav a[href="' + hash + '"]').tab('show');

  $('.nav-pills a').click(function (e) {
    $(this).tab('show');
    var scrollmem = $('body').scrollTop();
    window.location.hash = this.hash;
    $('html,body').scrollTop(scrollmem);
  });
});
</script>

</body>
</html>