<style>

i {
  font-size: 20px;
  color: gray !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #4eaac8 !important;
}

.navbar {
  background: white;
  border-bottom: 1px solid lightgray;
  padding-left: 0px;
}

.nav-link {
  margin: auto 10px;
  font-weight: 400;
  padding: 1px 16px;
  text-align: left;
}

.nav-title {
  font-weight: bold;
}

.sub-item {
  padding-left: 30px;
}

</style>

<nav class="navbar navbar-expand-lg navbar-light w-100">
  <div class='container'>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='margin-left: 0px; padding-left: 0px'>
        Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/intake">Intake Process</a>
          <a class="dropdown-item" href="/insurance">Insurance & Payment Information</a>
          <a class="dropdown-item" href="#">Frequently Asked Questions</a>
        </div>      
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-title" href="#">What We Treat</a>
            <a class="dropdown-item sub-item" href="#">Treatment Preferences</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="#">Psychotherapy</a>
            <a class="dropdown-item sub-item" href="#">Individual</a>
            <a class="dropdown-item sub-item" href="#">Couples</a>
            <a class="dropdown-item sub-item" href="#">Family</a>
            <a class="dropdown-item sub-item" href="#">Group</a>
            <a class="dropdown-item sub-item" href="#">Anger Management</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="#">Addiction Treatment</a>
            <a class="dropdown-item sub-item" href="#">Aftercare</a>
            <a class="dropdown-item sub-item" href="#">Relapse Prevention</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="#">Specialties</a>
            <a class="dropdown-item sub-item" href="#">EMDR</a>
            <a class="dropdown-item sub-item" href="#">Biofeedback</a> 
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="#">Assessments</a>
            <a class="dropdown-item sub-item" href="#">Comprehensive Clinical Assessments</a>
            <a class="dropdown-item sub-item" href="#">Sex Offender Risk Assessment</a> 
        </div>   
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Who We Are</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Our Mission & Philosophy</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="#">Our Team</a>
              <a class="dropdown-item sub-item" href="#">Joseph Rengifo</a>
              <a class="dropdown-item sub-item" href="#">Havah Henzler</a>
              <a class="dropdown-item sub-item" href="#">Sarah Mooring</a>
              <a class="dropdown-item sub-item" href="#">Melissa Kemlage</a>
              <a class="dropdown-item sub-item" href="#">Lisa Blackmon</a>
              <a class="dropdown-item sub-item" href="#">Sara Scott Ford</a>
              <a class="dropdown-item sub-item" href="#">Christine Schneider</a>
            </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-title" href="#">Forms</a>
            <a class="dropdown-item sub-item" href="#">Intake Packet</a>
            <a class="dropdown-item sub-item" href="#">Other Forms</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Our Community</a>
            <a class="dropdown-item" href="#">Blog</a>
            <a class="dropdown-item" href="#">Para Latinos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Contact Form</a>
          <a class="dropdown-item" href="#">Book an Appointment</a>
        </div>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pay Online</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <i class="fas fa-search"></i>
    </form>

  </div>
</div>
</nav>