<style>

nav i {
  font-size: 20px;
  color: gray !important;
  padding-left: 20px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #4eaac8 !important;
}

.navbar {
  background: white;
  border-bottom: 1px solid lightgray;
  padding-left: 0px;
}

.nav-link {
  margin: auto 10px;
  font-weight: 400;
  padding: 1px 16px;
  text-align: left;
}

.nav-title {
  font-weight: bold;
}

.sub-item {
  padding-left: 30px;
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{ color: #000;  }
  .navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
}

</style>

<nav class="navbar navbar-expand-lg navbar-light w-100">
  <div class='container'>
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active dropdown">
        <a class='nav-link dropdown-toggle' href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style='margin-left: 0px; padding-left: 0px'>
        Home
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-title" href="/intake">Intake Process</a>
            <a class="dropdown-item sub-item" href="/insurance">Fees & Insurance</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="/faq">Frequently Asked Questions</a>
        </div>      
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-title" href="/whatwetreat">What We Treat</a>
            <a class="dropdown-item sub-item" href="/services">Methods We Use</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="/teletherapy">Teletherapy</a>
          <a class="dropdown-item nav-title" href="#">Psychotherapy</a>
            <a class="dropdown-item sub-item" href="/individual">Individual</a>
            <a class="dropdown-item sub-item" href="/couples">Couples</a>
            <a class="dropdown-item sub-item" href="/couples">Family</a>
            <a class="dropdown-item sub-item" href="/group">Group</a>
            <a class="dropdown-item sub-item" href="/group">Anger Management</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="/substance">Substance Abuse Treatment</a>
            <a class="dropdown-item sub-item" href="/substance">Aftercare</a>
            <a class="dropdown-item sub-item" href="/substance#cbt">Relapse Prevention</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="/specialties">Specialties</a>
            <a class="dropdown-item sub-item" href="/specialties#emdr">EMDR</a>
            <a class="dropdown-item sub-item" href="/specialties#biofeedback">Biofeedback</a> 
            <a class="dropdown-item sub-item" href="/specialties">TF-CBT</a> 
            <a class="dropdown-item sub-item" href="/specialties">EAP</a> 

          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="#">Assessments</a>
            <a class="dropdown-item sub-item" href="/specialties#clinical">Comprehensive Clinical Assessments</a>
            <a class="dropdown-item sub-item" href="/specialties">Immigration Evaluations</a>
            <a class="dropdown-item sub-item" href="/specialties#sexoffender">Sex Offender Risk Assessment</a> 
            <a class="dropdown-item sub-item" href="/specialties">Domestic Violence Risk Assessments</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item nav-title" href="#">Other Services</a>
            <a class="dropdown-item sub-item" href="/specialties">Uranalysis</a>
            <a class="dropdown-item sub-item" href="/specialties">Clinical Supervision</a>

        </div>   
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Who We Are</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-title" href="/whoweare">About Us</a>
          <!-- <a class="dropdown-item" href="#">Our Mission & Philosophy</a> -->
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item nav-title" href="#">Our Team</a>
              <!-- <a class="dropdown-item sub-item" href="#">Joseph Rengifo</a> -->
              <!-- <a class="dropdown-item sub-item" href="#">Havah Henzler</a> -->
              <!-- <a class="dropdown-item sub-item" href="#">Sarah Mooring</a> -->
              <!-- <a class="dropdown-item sub-item" href="#">Melissa Kemlage</a> -->
              <!-- <a class="dropdown-item sub-item" href="#">Lisa Blackmon</a> -->
              <!-- <a class="dropdown-item sub-item" href="#">Sara Scott Ford</a> -->
            </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item nav-title" href="#">Forms</a>
            <a class="dropdown-item sub-item" href="./images/intake.pdf" target='_blank'>Intake Packet</a>
            <a class="dropdown-item sub-item" href="#">Other Forms</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Our Community</a>
            <a class="dropdown-item" href="#">Blog</a>
            <a class="dropdown-item" href="#">Para Latinos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contact">Contact Form</a>
          <a class="dropdown-item" href="#">Book an Appointment</a>
        </div>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pay Online</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <a href='/'><i class="fas fa-home"></i> </a>
      <i class="fas fa-search"></i>
    </form>

  </div>
</div>
</nav>