<style>

.call {
	font-weight: 300;
}

.nav-top {
	height: 100px;
	width: 100%;
	border-bottom: 1px solid lightgray;
	padding: 20px 0px;
}

.nav-top a {
	text-decoration: none;
	/*line-height: 60px;*/
	color: #4eaac8;
}

.nav-top img {
	height: 100px;
	/*padding-top: 10px;*/
}

.number {
	line-height: 60px;
	color: #4eaac8;
}

</style>


<div class='nav-top'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-3'><a href='/'><img src='/images/multilogo.svg' class='logo'></a></div>
			<div class='col-lg-2'></div>
			<div class='col-lg-1'></div>
			<div class='col-lg-3'><h3 class='number'><span class='call'>Call:</span> <a href='tel:9107775575'>910.777.5575</a></h3></div>
			<div class='col-lg-3'><!-- <a href='https://wmh1.clientsecure.me/request/clinician'><button class='float'>Schedule an Appontment</button></a> -->
				<!-- Start SimplePractice Booking Widget Embed Code -->
<style>.spwidget-button-wrapper{text-align: center}.spwidget-button{display: inline-block;padding: 12px 24px;color: #fff !important;background: #4eaac8;border: 0;border-radius: 4px;font-size: 16px;font-weight: 400;text-decoration: none}.spwidget-button:hover{background: #00314A; transition: background .5s ease;}.spwidget-button:active{color: rgba(255, 255, 255, .75) !important;box-shadow: 0 1px 3px rgba(0, 0, 0, .15) inset}</style>
<div class="spwidget-button-wrapper"><a href="https://wmh1.clientsecure.me" class="spwidget-button" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global data-spwidget-autobind>Request Appointment</a></div>
<script src="https://widget-cdn.simplepractice.com/assets/integration-1.0.js"></script>
<!-- End SimplePractice Booking Widget Embed Code -->

			</div>
		</div>
	</div>
</div>