<style>

.call {
	font-weight: 300;
}

.nav-top {
	height: 100px;
	width: 100%;
	border-bottom: 1px solid lightgray;
	padding: 20px 0px;
}

.nav-top a {
	text-decoration: none;
	/*line-height: 60px;*/
	color: #4eaac8;
}

.nav-top img {
	height: 100px;
	/*padding-top: 10px;*/
}

.number {
	line-height: 60px;
	color: #4eaac8;
}

</style>

<div class='nav-top'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-3'><a href='/'><img src='./images/multilogo.svg' class='logo'></a></div>
			<div class='col-lg-2'></div>
			<div class='col-lg-1'></div>
			<div class='col-lg-3'><h3 class='number'><span class='call'>Call:</span> <a href='tel:9107775575'>910.777.5575</a></h3></div>
			<div class='col-lg-3'><a href='https://wmh1.clientsecure.me/request/clinician'><button class='float'>Make an Appontment</button></a></div>
		</div>
	</div>
</div>