<style>
#user-dashboard {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    background: white;
    padding: 30px;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 45px black;
    z-index: 100;
}

.user-link {
    text-decoration: none;
    font-size: 20px;
}

.user-link a {
    text-decoration: none;
}
</style>


<div id='user-dashboard'>
    <h3 class='center'>User Dashboard</h3>
    <hr>
    <div class='user-link'><a href='/dashboard'>Dashboard</a></div>
    <div class='user-link'><a href='/logout'>Logout</a></div>
</div>
