<style>
    .button {
        width: 100%;
        background-color: #4eaac8;
        margin-top: 15px;
        margin-bottom: 25px;
        color: white;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
        text-decoration: none;
    }

    a:link {
        text-decoration: none !important;
    }

    #beach-background {
        background-image: url('./images/careersmain.jpg');
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding: 2.5%;
    }

    #careerdocs {
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .career-link {
        padding-left: 25px;
    }

    #personnel {
        height: 90%;
        width: 70%;
        background-color: white;
        margin: auto;
        padding: 35px 15px;
    }
</style>


<div id='careerdocs'>
    <div class='container'>
        <div class='sub-title center'>CAREERS</div>
        <h1>
            <div class='header'>WMH New Hire <span class='bold'>Paperwork</span></div>
        </h1>
        <hr class='short'>
        <p class='section-text'>All new employees are required to complete and turn in new hire paperwork prior to beginning employment and prior to
        attending orientation. Please complete each of these forms online after accepting our employment offer letter.</p>
        <br>
        <div class='section-text'>
        <div class='row'>
            <div class='col-lg-4'>
                <a class='career-link' href='https://hipaa.jotform.com/wmhnc/employmentapp' target="_blank">Application For Employment</a><br><br>
                <a class='career-link' href='https://hipaa.jotform.com/wmhnc/dresscode' target="_blank">Dress Code Policy</a><br><br>
                <a class='career-link' href='https://hipaa.jotform.com/wmhnc/directdeposit' target="_blank">Direct Deposit</a><br><br>
                <a class='career-link' href='https://hipaa.jotform.com/wmhnc/fcra' target="_blank">Fair Credit Reporting Act</a><br><br>
            </div>
            <div class='col-lg-4'>
                <a class='career-link' href='https://hipaa.jotform.com/wmhnc/hipaaagreement' target="_blank">Confidentiality Agreement</a><br><br>
                <a class='career-link' href='https://hipaa.jotform.com/wmhnc/emergencyinfo' target="_blank">Emergency Information</a><br><br>
                <a class='career-link' href='https://hipaa.jotform.com/wmhnc/withholding' target="_blank">Withholding Certificate</a><br><br>
                <a class='career-link' href='#' target="_blank">Employment Eligibility</a><br><br>
            </div>
            <div class='col-lg-4'>
                <a class='career-link' href='#' target="_blank">New Hire Reporting</a><br><br>
                <a class='career-link' href='#' target="_blank">Provider Credentialing</a><br><br>
            </div>
        </div>
        </div>
    </div>
    
</div>