
<style>

.button {
    width: 100%;
    background-color: #4eaac8;
    margin-top: 15px;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

a:link{
  text-decoration: none!important;
}

#beach-background {
    background-image: url('./images/careersmain.jpg');
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 2.5%;
}

#careers {
	/*background: #f6f8f9;*/
	padding: 55px 0px;
}

#careers .header {
	margin-top: 0px;
}

#personnel {
    height: 90%;
    width: 70%;
    background-color: white;
    margin: auto;
    padding: 35px 15px;
}
</style>


<div id='careers'>
    <div class='container'>
        <div class='sub-title center'>Join Our Team</div>
        <h1>
            <div class='header'>Careers <span class='bold'></span></div>
        </h1>
        <hr class='short'>
    </div>
    <div id='beach-background'>
        <div id='personnel'>
            <div class='section-text'>Wilmington Mental Health is growing fast. We will help you fill your caseload and will take care of billing.</div>'
            <div class='row'>
                <div class='col-lg-2'></div>
                <div class='col-lg-3'><a href='#mental'><div class='button'>Clinical Personnel</div></a></div>
                <div class='col-lg-2'></div>
                <div class='col-lg-3'><a href='#administrative'><div class='button'>General Personnel</div></a></div>
                <div class='col-lg-2'></div>
            </div>
            <div class='section-text'>We need your help to continue developing a caring and supportive mental health and substance abuse front line here in
            Wilmington, North Carolina. We are selecting fully licensed professionals who are loyal to serving and helping our
            beloved community.</div>
            <br>
            <div class='section-text'>“Choose a job you love, and you will never have to work a day in your life” – Confucius</div>

        </div>
    </div>
    </div>

