@media screen and (max-width: 980px) {

a {
	overflow-wrap: anywhere;
}

#anger-tabs .nav-link {
    font-size: 10px;
}

#biofeedback .sub-title {
	margin-top: 0px !important;
}

#box img {
	width: 40% !important;
	margin-left: 27%;
}

div.section-text .center .bigger  {
	padding: 0px !important;
}

.banner-section-text {
	text-align: center;
	padding: 0px 0px !important;
}

.box {
	height: auto !important;
}

.display-on-mobile {
	display: inline-block;
	z-index: 2;
}

#emdr .sub-title {
	margin-top: 0px !important;
}
.employee {
	height: auto !important;
}

#events img {
	width: 100% !important;
}
#facts .section-text {
	border: none !important;
	height: auto !important;
}
#footer {
	height: auto !important;
}

.footer-image-text {
	font-size: 11px!important;
}
.footer-header {
	margin-top: 20px;
}
.home {
	margin-left: 10px !important;
}

#individual .navigation li {
	width: 100%;
}

#individual img {
	width: 100%;
}

.jumbotron {
	height: 80vh !important;
}

.language {
	padding: 2px 5px;
	right: 2px !important;
	top: 61;
	font-size: 12px;
}

.left-title {
	padding-top: 0px !important;
}

.main-text {
	margin-top: 120px !important;
	text-align: center !important;
}

.navbar-brand img{
	height: 35px;
	margin: auto;
	padding-left: 10px;
}

.navbar-brand {
	text-align: center;
}

#out-of-network img {
  width: 100% !important;
}

.hide-on-mobile {
	display: none;
}

.message {
	width: 100%;
}
.map {
	width: 100%;
}

#mobile-size {
	width: 100% !important;
	padding: 0px ;
}

#population img {
	width: 100% !important;
}

#poplation .profile{
	padding-top: 20px !important;
}

#preference {
	height: auto !important;
}
#process .header {
	padding-top: 100px !important;
}

.process-step {
	margin-top: 0px !important; 
	height: 200px !important;
}

.process-image {
	padding-top: 25px !important;
}

.service-box {
	border: 1px solid lightgray;
	height: 300px;
	padding: 20px!important;
	margin-top: 15px;
}

#solutions table {
	width: 100%;
}

.book-ad .logo {
	width: 100% !important;
	height: auto !important;
}
#title .header {
	margin-right: 0px;
	padding: 0px 20px;
}

#why {
	padding-left: 20px !important;
	padding-right: 20px !important;
}
#why-us {
	height: auto !important;
}


}



