<style>

#events {
	padding: 55px 0px;
}

#events img {
	box-shadow: 10px 10px 40px gray;
}
</style>

<div id='events'>
	<div class='container'>
		<div class='center'><img src='./images/lobby.png' alt='Lobby'></div>
		<hr style='margin-top: 55px'>
	</div>
</div>
