<style>
#meet {
	margin-bottom: 55px;
}

#meet .fas {
	color: blue;
}

#meet button {
	margin: 15px 0px;
}

.filter {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	z-index: 1;
}

.filter:hover {
	background-color: rgba(0, 0, 0, .1);
	transition: background-color 1s ease;
}

.icons {
	position: absolute;
	z-index: 2;
	bottom: 10px;
	font-size: 24px;
	text-align: center;
	color: white;
	width: 100%;
}

#meet {
	padding: 55px 0px;
}	

.profile-image {
	position: relative;
	height: 400px;
	overflow: hidden;
}

.profile-image img {
	width: 100%;
	height: auto;
	/*position: absolute;*/
}

.profile-name {
	position: absolute;
	color: white;
	font-weight: 600;
	font-size: 34px;
	z-index: 2;
	bottom: 75px;
	margin: auto;
	width: 100%;
	text-align: center;
}

.profile-text {
	margin-top: 15px;
}
.profile-title {
	position: absolute;
	color: white;
	font-weight: 300;
	font-size: 20px;
	z-index: 2;
	bottom: 50px;
	margin: auto;
	width: 100%;
	text-align: center;
}

.pt a {
	text-decoration: none;
	color: white;
}

</style>

<div id='meet'>
	<div class='container'>
			<div class='sub-title'>WE TAKE PRIDE IN ADVOCACY</div>
			<div class='section-title' style='padding-bottom: 25px'>Meet Our Clinicians</div>
			<div class='row'>
				<div class='col-lg-4'>
					<div class='profile-image'>
						<div class='filter'>
						<div class='profile-name center'>Joseph Rengifo</div>
						<div class='profile-title center'>Psychotherapist</div>
						</div>
						<div class='icons'><i class="fab fa-linkedin" style='color: blue'></i> <span class='pt' style='font-weight: 800'><a href='https://www.psychologytoday.com/us/therapists/joseph-rengifo-wilmington-nc/263681' target='_blank'>PT</a></span></div>
						<img src='./images/JRC.jpg'>
					</div>	
					<!-- <div class='profile-text section-text'>
					Joseph is founder and owner of Wilmington Mental Health, PLLC. He is a Licensed Clinical Mental Health Counselor and Licensed Clinical Addiction Specialist in Wilmington, North Carolina. He earned his first Master’s Degree in Psychology from City College of New York. He also obtained a Master’s Degree in Clinical Mental Health from Regent University. Joseph’s experience of over 5 years has been diverse.
					<div class='center'><a href='./rengifo'><button class='center'>View PRofile</button></a></div>
					</div> -->
				</div>
				<div class='col-lg-4'>
					<div class='profile-image'>
						<div class='filter'>
						<div class='profile-name center'>Havah Henzler</div>
						<div class='profile-title center'>Clinical Social Worker</div>
						</div>
						<div class='icons'><i class="fab fa-linkedin" style='color: blue'></i> <span class='pt' style='font-weight: 800'><a href='https://www.psychologytoday.com/us/therapists/havah-henzler-wilmington-nc/709680' target='_blank'>PT</a></span></div>
						<img src='./images/HHC.jpeg'>
					</div>	
					<div class='profile-text section-text'>
					
					</div>
				</div>
				<div class='col-lg-4'>
					<div class='profile-image'>
						<div class='filter'>
						<div class='profile-name center'>Sarah Mooring</div>
						<div class='profile-title center'>Clinical Mental Health Counselor</div>
						</div>
						<div class='icons'><i class="fab fa-linkedin" style='color: blue'></i> <span class='pt' style='font-weight: 800'><a href='https://www.psychologytoday.com/us/therapists/sarah-mooring-wilmington-nc/389859?sid=5ffb290377060&name=sarah+mooring&ref=1&tr=ResultsName' target='_blank'>PT</a></span></div>
						<img src='./images/SMC.jpg'>
					</div>	
					<div class='profile-text section-text'>
					
					</div>
				</div>
			</div>
<p></p>			<div class='row'>
				<div class='col-lg-4'>
					<div class='profile-image'>
						<div class='filter'>
						<div class='profile-name center'>Melissa Kemlage</div>
						<div class='profile-title center'>Clinical Menta Health Counselor</div>
						</div>
						<div class='icons'><i class="fab fa-linkedin" style='color: blue'></i> <span class='pt' style='font-weight: 800'><a href='https://www.psychologytoday.com/us/therapists/melissa-kemlage-wilmington-nc/465692?sid=5ffb2912dcb64&name=melissa+kemlage&ref=1&tr=ResultsName' target='_blank'>PT</a></span></div>
						<img src='./images/MKC.jpg'>
					</div>	
					<div class='profile-text section-text'>
					
					<!-- <div class='center'><a href='./rengifo'><button class='center'>View PRofile</button></a></div> -->
					</div>
				</div>
				<div class='col-lg-4'>
					<div class='profile-image'>
						<div class='filter'>
						<div class='profile-name center'>Lisa Blackmon</div>
						<div class='profile-title center'>Clinical Menta Health Counselor</div>
						</div>
						<div class='icons'><i class="fab fa-linkedin" style='color: blue'></i> <span class='pt' style='font-weight: 800'><a href='https://www.psychologytoday.com/us/therapists/lisa-capell-blackmon-wilmington-nc/479546?sid=5ffb29234fa67&name=lisa+blackmon&ref=1&tr=ResultsName' target='_blank'>PT</a></span></div>
						<img src='./images/LBC.jpg'>
					</div>	
					<div class='profile-text section-text'>
					
					</div>
				</div>
				<div class='col-lg-4'>
					<div class='profile-image'>
						<div class='filter'>
						<div class='profile-name center'>Sara Scott Ford</div>
						<div class='profile-title center'>Clinical Menta Health Counselor</div>
						</div>
						<div class='icons'><i class="fab fa-linkedin" style='color: blue'></i> <span class='pt' style='font-weight: 800'><a href='https://www.psychologytoday.com/us/therapists/sara-scott-ford-wilmington-nc/730886?sid=5ffb293a25055&name=sara+scott+ford&ref=1&tr=ResultsName' target='_blank'>PT</a></span></div>
						<img src='./images/SFC.jpg'>
					</div>	
					<div class='profile-text section-text'>
					
					</div>
				</div>
			</div>
			<br><br>
</div>