<style>

#box {
	padding: 55px 0px;
	background: #344A53 !important;
}

#box img {
	width: 120%;
	margin-top: 25px;
}

#box .fas {
	color: white;
	font-size: 60px;
	margin-top: 25px;
}

#box .section-text {
	color: white;
}

.image-container {
	height: 100%;
	width: 100%;
	background-image: url('./images/bump.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 20%;
	margin: auto;
}

.jumbotron {
	height: 400px;
	text-align: center;
	padding: 0px;
}

#meetthetherapists {
	padding: 55px 0px;
}

#ourskills {
	padding: 55px 0px;
}

.percentage {
	float: right;
}

.progress {
	background: transparent;
}

.progress-bar1 {
	background: rgb(71,125,222);
	background: linear-gradient(90deg, rgba(71,125,222,1) 0%, rgba(1,31,119,1) 100%);
	height: 10px;
}

.title {
	text-transform: uppercase;
	margin-top: 25px;
	color: white;
	font-weight: 400;
}

</style>

<div id='meetthetherapists'>
		<div class='sub-title center'>PROVIDERS</div>
		<div class='section-title center'>Meet Our Therapists</div>
		<hr class='short center'>
		<div class='jumbotron'>
			<div class='image-container'></div>
		</div>
		<div class='section-text'>
			<div class='container'>
			<p>We would like you to meet our group of licensed therapists. We strive to make a difference in our community through our services at Wilmington Mental Health. Our team is combined of like-minded therapists, all coming from different backgrounds and stories, but united together with a deep commitment to help you re-discover who you are meant to be.</p>

			<p>The relationships we build with you assists us in determining what you need and what your goals are in therapy. We will work with you to ensure you receive appreciate and exceptional care.</p>
		</div>
		<div class='center'><button>About Us</button></div>
	</div>
</div>

<div id='ourskills'>
	<div class='container'>
		<div class='section-title'>Our Skills</div>
		<br>
		<div style='width: 95%'><span class='section-text'>Empathy</span><span class='section-text percentage'>95%</span></div>
		<div class="progress">
		  <div class="progress-bar1" role="progressbar" style="width: 95%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<br>
		<div style='width: 85%'><span class='section-text'>Active Listening</span><span class='section-text percentage'>85%</span></div>
		<div class="progress">
		  <div class="progress-bar1" role="progressbar" style="width: 85%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<br>		
		<div style='width: 80%'><span class='section-text'>Critical Listening</span><span class='section-text percentage'>80%</span></div>
		<div class="progress">
		  <div class="progress-bar1" role="progressbar" style="width: 80%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
		<br>
		<div style='width: 75%'><span class='section-text'>Goal Achievement</span><span class='section-text percentage'>75%</span></div>
		<div class="progress">
		  <div class="progress-bar1" role="progressbar" style="width: 75%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
		</div>
	</div>
</div>

<div id='box'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-1'><img src='./images/shield.png'></div>
			<div class='col-lg-3'>
				<div class='section-text title'>Privacy</div>
				<div class='section-text'>We provide a safe and confidential space.</div>
			</div>			
			<div class='col-lg-1'><img src='./images/headset.png'></div>
			<div class='col-lg-3'>
				<div class='section-text title'>Support</div>
				<div class='section-text'>We offer remote support during times crises.</div>
			</div>			
			<div class='col-lg-1'><img src='./images/growth.png'></div>
			<div class='col-lg-3'>
				<div class='section-text title'>Personal Growth</div>
				<div class='section-text'>We promote self-awareness and personal development.</div>
			</div>
		</div>
		<div class='row' style='margin-top: 25px'>
			<div class='col-lg-1'><img src='./images/professional.png'></div>
			<div class='col-lg-3'>
				<div class='section-text title'>PROFESSIONALISM</div>
				<div class='section-text'>We are fully licensed mental health professionals.</div>
			</div>			
			<div class='col-lg-1'><img src='./images/direction.png'></div>
			<div class='col-lg-3'>
				<div class='section-text title'>Direction</div>
				<div class='section-text'>We will help you deeply assess your inner self and find meaning and purpose in life.</div>
			</div>			
			<div class='col-lg-1'><img src='./images/whole.png'></div>
			<div class='col-lg-3'>
				<div class='section-text title'>Whole Person Focus</div>
				<div class='section-text'>We will facilitate comprehensive and continuous care over time.</div>
			</div>
		</div>
	</div>
</div>