<style>

#appointment {
	background: #4eaac8;
	padding: 55px 0px;
}

#appointment .section-title, #appointment .section-text {
	color: white;
}

#message {
	background-color: #344A53 !important;
	padding: 55px 0px;
}

#message .section-text, #message .section-title {
	color: white;
}

#message .sub-title {
	color: white;
}

</style>

<div id='message'>
	<div class='container'>
		<div class='section-title center' style='padding-bottom: 25px'>A Message from Our Founder</div>
		<div class='section-text'>“Wilmington Mental Health’s concern is to promote change and transformation, all within the scope of mental health and substance abuse treatment. Our outpatient programs are research-informed and human-focused, which allows us to incorporate current best practices, the therapist’s expertise, and patient values and preferences to build a solid foundation for the change process needed in treatment. We want to learn more about your personal situation, identify your dreams and goals, and provide you with the support you need to maximize your opportunities for success”</div>
		<div class='section-text center' style='margin-top: 25px'>Joseph Rengifo<br>
		Founder of Wilmington Mental Health
		</div>
		<div class='row' style='margin-top: 55px'>
			<div class='col-lg-4'>
				<div class='message-image center'><img src='./images/org.png'>
					<div class='section-text'>ORGANIZATION & STRUCTURE</div></div>
			</div>
			<div class='col-lg-4' style='border-left: 1px solid white; border-right: 1px solid white'>
				<div class='message-image center'><img src='./images/cloud.png'>
					<div class='section-text'>GREAT IDEAS ARE BORN AT WMH</div></div>
			</div>
			<div class='col-lg-4'>
				<div class='message-image center'><img src='./images/scope.png'>
					<div class='section-text'>DEEP SELF-EXPLORATION</div></div>
			</div>
		</div>
	</div>
</div>
<div id='appointment'>
	<div class='container'>
		<span class='section-title'>Get an Appointment Today</span><span class='section-title right'>Call: 910 777 5575</span>
		<div class='section-text'> WE ARE A GROUP OF PROFESSIONAL, LICENSED AND EXPERIENCED MENTAL HEALTH AND SUBSTANCE ABUSE THERAPISTS</div>
	</div>
</div>