<style>

hr {
	background: white;
	margin: 5px 0px;
}

#skills {
	padding: 55px 0px;
	background: whitesmoke;
}

#skills a {
	text-decoration: none;
	color: white;
}

#skills img {
	/*margin-top: 45px;*/
}
</style>

<div id='skills'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-4' style='background: #344A53 !important; padding: 20px'>
				<div class='section-title' style='color: white'>SKILLS WE POSSES</div>
				<hr>
				<div class='section-text' style='color: white'>
					Empathy & Patience<br>
					Questioning<br>
					Listening<br>
					Reasoning & Understanding<br>
					Interpretation<br>
					Trust-building<br>
					Respect<br>
					Cultural competency<br>
					Confidentiality<br>
					Humility<br>
					Genuity<br>
					Planning<br><br>
					<a href='/services'>READ MORE</a>
			</div>
			</div>
			<div class='col-lg-8' style='height: 100%'>
				<div class='row' style='border-bottom: 1px solid lightgray'>
					<div class='col-lg-6' style='border-right: 1px solid lightgray; padding: 40px; ' ><div class='center'><img src='./images/diploma.png'></div>
					<div class='section-text center'>Learning</div></div>
					<div class='col-lg-6' style='padding: 40px'><div class='center'><img src='./images/self.png'></div>
					<div class='section-text center'>Self-Knowledge</div></div>
				</div>
				<div class='row'>
					<div class='col-lg-6' style='border-right: 1px solid lightgray; padding: 40px; '><div class='center'><img src='./images/inspection.png'></div>
					<div class='section-text center'>Self-Inspection</div></div>
					<div class='col-lg-6' style='padding: 40px'><div class='center'><img src='./images/connection.png'></div>
					<div class='section-text center'>Self-Connection</div></div>
				</div>
			</div>
		</div>
	</div>
</div>