<style>

#trust {
	padding: 55px 0px;
}	

</style>

<div id='trust'>
	<div class='container'>
		<div class='sub-title center'>WHAT WE OFFER</div>
		<div class='section-title center'>You can trust <span class='bold'>Us</div>
		<hr class='short center'>
		<div class='section-text'>
			<p>Each of our therapists is unique in their training and areas of expertise. They have been accredited by the Council for Accreditation of Counseling & Related Educational Programs (CACREP) and meet the criteria for the highest qualification levels of the counseling and social work professions. CACREP’s education standards refer to the expectation that all accredited counseling degree programs offered by colleges and universities in the United States and throughout the world teach counselors.</p>
		</div>
		<br>
		<table style='width: 100%' class='section-text'>
			<tr style='border-bottom: 1px solid #4EAAC8'>
				<td style='width: 5%; color: #4EAAC8' class='bold'>1</td>
				<td style='width: 10%'>Education</td>
				<td style='width: 85%'>Master's degree in mental health counseling and/or social work and graduate and postgraduate internship experience for certification/licensure requirements.</td>
			</tr>
			<tr style='border-bottom: 1px solid #4EAAC8'>
				<td style='width: 5%; color: #4EAAC8' class='bold'>2</td>
				<td style='width: 10%'>Scope</td>
				<td style='width: 85%'>Assessment, diagnosis, treatment planning, application of counseling intervention and methods to identify and restore cognitive, mental, and emotional balance. </td>
			</tr>
			<tr style='border-bottom: 1px solid #4EAAC8'>
				<td style='width: 5%; color: #4EAAC8' class='bold'>3</td>
				<td style='width: 10%'>Practice</td>
				<td style='width: 85%'>We practice evidence-based interventions to improve the lives of, and empower individuals, families, and group who come to us seeking assistance to overcome obstacles and personal challenges that they are facing.</td>
			</tr>
			<tr style='border-bottom: 1px solid #4EAAC8; height: 56px'>
				<td style='width: 5%; color: #4EAAC8' class='bold'>4</td>
				<td style='width: 10%'>Environment</td>
				<td style='width: 85%'>Comprehensive, conducive to change, and promoting holistic strategies and community integration.</td>
			</tr>
			<tr style='border-bottom: 1px solid #4EAAC8; height: 56px'>
				<td style='width: 5%; color: #4EAAC8' class='bold'>5</td>
				<td style='width: 10%'>Program</td>
				<td style='width: 85%'>Designed to support stabilization, increase quality of life, develop resilience, and maintain long-term recovery.</td>
			</tr>
			<tr style='border-bottom: 1px solid #4EAAC8; height: 56px'>
				<td style='width: 5%; color: #4EAAC8' class='bold'>6</td>
				<td style='width: 10%'>Delivery</td>
				<td style='width: 85%'>Expertise in advanced care, dedication, and compassion - the most extraordinary treatment trifecta.</td>
			</tr>
		</table>
	</div>
</div>