<style>

#admission {
	padding: 50px 0px;
}

</style>

<div id='admission'>
	<div class='container'>
		<div class='header-alt'>Admission <span class='bold'>Criteria</span></div>
		<div class="alert alert-danger main-box" role="alert">
  			Individuals who are experiencing a mental health crisis should call 911 or go to the nearest emergency room.
		</div>
		<div class='section-text'>
			<p>As an outpatient mental health and substance abuse treatment facility, we use evidence-based clinical standards of care to determine clinical necessity and appropriateness. This means that our licensed therapists will use their clinical judgment to evaluate, diagnose, and treat your mental health condition in accordance with generally accepted standards of the counseling practice.</p>
			<ul>
				<li>Voluntary Admission</li>
				<li>Mental Health:</li>
				<ul>
					<li>Previously completed an inpatient level of care and needs to continue receiving services as an outpatient.</li>
					<li>Existing psychiatric symptoms are clinically significant or profound that crate impairment in day-to-day social, vocational, and/or educational functioning.</li>
					<li>Requires intensive treatment, but not 24-hour observation and inpatient care.</li>
				</ul>
				<li>Substance Abuse</li>
				<ul>
					<li>Struggling with substance abuse and addiction.</li>
					<li>Early intervention - willingness to receive education and resources to lower the risk of developing a substance abuse disorder.</li>
					<li>Recently completed intensive outpatient or partial hospitalization treatment, and is transitioning to aftercare, or relapse prevention treatment.</li>
					<li>Requires participation in weekly recovery or motivational enhancement therapy (less than 9 hours per week for adults; less than 6 hours for adolescents).</li>
				</ul>
			</ul>
		</div>
		<div class='row'>
			<div class='col-lg-12'>
				
			</div>
		</div>
	</div>
</div>