<style>

#intake-process  {
	padding: 25px 100px 75px 100px;
}

.step {
	border: 1px solid lightgray;
	background: white;
	height: 100%;
	padding: 15px;
	letter-spacing: .5px;
}

.step-number {
	letter-spacing: .5px;
	font-size: 50px;
	color: #4eaac8;
	text-align: center;
	width: 100%;
}

.step-text {
	font-weight: 300;
}

</style>

<div class='background-alt' id='intake-process'>
	<div class='container'>
		<div class='header-alt'>Intake <span class='bold'>Process</span></div>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='step main-box'>
					<div class='step-number'>one</div>
					<div class='step-text'>Prior to the first session, you will be asked to complete an intake packet. This process is vital to forming a therapeutic relationship with your therapist and gathering information about you. Please discuss any questions you may have regarding this form with your therapist during your
					first visit.
					</div>
				</div> 
			</div>
			<div class='col-lg-4'>
				<div class='step main-box'>
					<div class='step-number'>two</div>
					<div class='step-text'>Session one typically involves completing a comprehensive clinical assessment (CCA) and answering several question about different areas of your life, including the reason you came to therapy, your social, medical, mental health, and substance use history, your education and employment, and many others. A written report outlining the services, programs or activities that are being recommended will result from this assessment.
					</div> 
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='step main-box'>
					<div class='step-number'>three</div>
					<div class='step-text'>Next, your therapist will work with you on developing an appropriate and detailed plan with treatment goals, measurable objectives, and a timeline for your treatment progress. This plan will allow your therapist to track your progress and guide you toward reaching your goals.</div>
				</div>
			</div>
		</div>
	</div>
</div>