<style>

.profile {
	text-align: center;
}

.profile i {
	color: #4eaac8 !important;
}

.profile-title {
	padding-top: 0px;
	font-size: 18px;
	font-weight: 600;
}

#population .header {
	margin-top: 0px;
}
#population i {
	font-size: 60px;
	margin-top: 25px;
	text-align: center;
}

#population .sub-title {
	text-align: center;
	padding-top: 25px;
}
</style>

<div id='population'>
	<div class='container'>
		<div class='sub-title'>MENTAL WELLBEING</div>
		<div class='header'>Populations We <span class='bold'>Assist</span></div>
		<hr class='short'>
		<div class='row'>

			<div class='col-lg-6'><img src='./images/family.png'></div>
			<div class='col-lg-6'>

				<div class='row'>
					<div class='col-lg-6'>
						<div class='profile'>
							<i class="fas fa-child main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Adolescents</div>
								<br>Between the ages of 14 and 18 years
							</div>
						</div>
					</div>
					<div class='col-lg-6'>
						<div class='profile'>
							<i class="fas fa-user-alt main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Men/Women/Seniors</div>
								<br>Young adults with a mental health and/or substance abuse condition
							</div>
						</div>
					</div>
				</div>				
				<div class='row'>
					<div class='col-lg-6'>
						<div class='profile'>
							<i class="fas fa-user-friends main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Couples and Families</div>
								<br>Those experiencing interpersonal conflict
							</div>
						</div>
					</div>
					<div class='col-lg-6'>
						<div class='profile'>
							<i class="fas fa-users main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Groups</div>
								<br>Psychoeducational classes or therapy-based
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<!-- 			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-child main-box"></i>
					<div class='profile-description'>
						<div class='profile-title'>Adolescents</div>
						<br>(Between 14 and 18 years of age)
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-user-alt main-box"></i>
					<div class='profile-description'>
						<div class='profile-title'>Men/Women/Seniors</div>
						<br>(18 and older who have a mental health and/or substance abuse diagnosis)
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-user-friends main-box"></i>
					<div class='profile-description'>
						<div class='profile-title'>Couples and Families</div>
						<br>(Who are experiencing interpersonal conflict)
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-users main-box"></i>
					<div class='profile-description'>
						<div class='profile-title'>Groups</div>
						<br>(Psychoeducational classes or therapy)
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>