<style>

.profile {
	text-align: center;
}

.profile i {
	color: #1F4E79 !important;
}

.profile-title {
	padding-top: 0px;
	font-size: 18px;
	font-weight: 600;
}

#population .header {
	margin-top: 0px;
}

#population {
	padding: 55px 0px 0px 0px;
}

#population i {
	font-size: 60px;
	margin-top: 25px;
	text-align: center;
}

#population .sub-title {
	text-align: center;
}
</style>

<div id='population'>
	<div class='container'>
		<div class='sub-title'>MENTAL WELLBEING</div>
		<div class='header'>Populations We <span class='bold'>Assist</span></div>
		<hr class='short'>
		<div class='row'>

			<div class='col-lg-3'>
						<div class='profile' style='margin-bottom: 30px'>
							<i class="fas fa-child main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Adolescents</div>
								<div class='profile-text'>Aged between 12 and 18 years</div>
							</div>
					
					</div>
						<div class='profile'>
							<i class="fas fa-user-alt main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Men/Women/Seniors</div>
								<div class='profile-text'>Mental or substance use disorders</div>
							</div>
						</div>
					</div>


			<div class='col-lg-6'><img src='./images/family.png'></div>
			<div class='col-lg-3'>		
				
						<div class='profile' style='margin-bottom: 30px'>
							<i class="fas fa-user-friends main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Couples and Families</div>
								<div class='profile-text' style='white-space: nowrap;'>Experiencing interpersonal conflict</div>
							</div>
						</div>
					
					
						<div class='profile'>
							<i class="fas fa-users main-box"></i>
							<div class='profile-description'>
								<div class='profile-title'>Groups</div>
								<div class='profile-text'>Psychoeducation or therapy</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>