<style>

.profile {
	text-align: center;
}

.profile i {
	color: #4eaac8 !important;
}
.profile-title {
	padding-top: 10px;
	font-size: 18px;
	font-weight: 600;
}

#population i {
	font-size: 75px;
	text-align: center;
}

</style>

<div id='population'>
	<div class='container'>
		<div class='header'>Population We Serve</div>
		<div class='row'>
			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-child"></i>
					<div class='profile-description'>
						<div class='profile-title'>Adolescents</div>
						<br>(Between 14 and 18 years of age)
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-user-alt"></i>
					<div class='profile-description'>
						<div class='profile-title'>Men/Women/Seniors</div>
						<br>(18 and older who have a mental health and/or substance abuse diagnosis)
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-user-friends"></i>
					<div class='profile-description'>
						<div class='profile-title'>Couples and Families</div>
						<br>(Who are experiencing interpersonal conflict)
					</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='profile'>
					<i class="fas fa-users"></i>
					<div class='profile-description'>
						<div class='profile-title'>Groups</div>
						<br>(Psychoeducational Classes or Therapy)
					</div>
				</div>
			</div>
		</div>
	</div>
</div>