<style>

.btn-link {
	text-decoration: none !important;
}

.btn-link:hover {
	color: white;
}

.card-header {
	background: #00314A;
}

.card-header button {
	color: white;
}

.when img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);
	margin-left: 20px;
	margin-top: 60px;
}

.when .short {
	margin-left: 0px;
	margin-bottom: 20px;
}

.when {
	padding: 55px 0px;
}
</style>

<!-- <div class='spacer-medium'></div> -->
<div class='when background-alt'>
<div class='container'>
	<div class='row'>
		<div class='col-lg-6'>
			<div class='sub-title'>How do I know</div>
			<div class='section-title'>What are the <span class='bold'>Signs</span></div>
			<hr class='short'>
			<div class='section-text'>Many patients come to us because they are experiencing symptoms of depression, anxiety, trauma, and attention deficit disorders. Others search for treatment when being challenged with psychoses, substance abuse, family discord, or domestic violence. Regardless of what you are experiencing, understand that it is our upmost duty to help you throughout the entire process.
			</div>
			<br>
			<div class="accordion" id="accordionExample">
			  <div class="card">
			    <div class="card-header" id="headingOne">
			      <h5 class="mb-0">
			        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#when" aria-expanded="true" aria-controls="collapseOne">
			        	When Is It Time to Seek Treatment?
			        </button>
			      </h5>
			    </div>

			    <div id="when" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body section-text">
			      	Early warning signs that indicate you may need to seek help:
			      	<ul>
						<li>Feeling sad, negative, depressed</li>
						<li>Having low self-esteem</li>
						<li>Experiencing unexplained aches and pains</li> 
						<li>Having zero to no energy </li>
						<li>Experiencing loss in memory, loss of interest in activities</li> 
						<li>Suffering from anxiety or panic attacks</li>
						<li>Thinking of harming yourself for others</li>
						<li>Experiencing uncontrollable stress, fears and obsessions</li>
						<li>Problems with drug, alcohol addictions, or eating disorders</li>
						<li>Facing conflict with family members or significant others</li>
					</ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingTwo">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#begin" aria-expanded="false" aria-controls="collapseTwo">
			          Before Beginning Therapy
			        </button>
			      </h5>
			    </div>
			    <div id="begin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			      <div class="card-body section-text">
			        Ask yourself these questions:
			        <ul>
			        	<li>Why do I need to begin therapy sessions?</li>
						<li>Why now?</li>
						<li>Am I ready to commit now?</li>
						<li>Do I have any goals for therapy?</li>
						<li>What will be different in my life when I reach my goals?</li>
						<li>How important is it that I achieve these goals?</li>
						<li>Am I ready for change?</li>
						<li>What am I willing to let go of to allow myself to move forward in my life? </li>
					</ul>
			      </div>
			    </div>
			  </div>
			</div>
		</div>	
		<div class='col-lg-6'>
			<img src='./images/depression.jpg'>
		</div>
		</div>	
	</div>
</div>