<style>


	#knowledge {
		padding: 0px 200px;
		color: #5c656d;
		text-align: left;
		background: white;
		/*height: 600px;*/
		padding-top: 0px !important;
	}

	#knowledge button {
		float: none;
		margin-top: 20px;
	}

	#knowledge img {
		width: 100%;
		border-radius: 10px;
		margin-top: 20px;
		/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/
	}

	#knowledge hr {
		width: 30%;
		margin-left: 0px;
	}

</style>

<div class='container'>
<!-- <div class='sub-title'>FAQ</div> -->
	<div class='header'>Frequently Asked <span class='bold'>Questions</span></div>
	<hr class='short'>
</div>

<div class='background-alt' id='knowledge'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='why-image'><img src='./images/climb.png'></div>
			</div>
			<div class='col-lg-6'>
				<br>
				<div class='sub-title'>KNOWLEDGE AND EXPERIENCE</div>
				<div class='section-title'>With you in this <span class='bold'>Journey</span></div>
				<hr>
				<div class='section-text'>We have a unique position in the mental health field.  Our rigorous training requirements prepares us with a full range of professional skills in assessing, diagnosing, supporting, and treating our patients.  It also prepares us with the skills needed to participate in collaborative treatment with other professionals. </div>
				<!-- <div class='why-button'><a href='/whoweare'><button class='main-box'>About Us</button></a></div> -->
			</div>
			</div>
		</div>
	</div>
</div>