<style>


	#knowledge {
		padding: 55px 200px;
		color: #5c656d;
		text-align: left;
		background: white;
		/*height: 600px;*/
	}

	#knowledge img {
		height: 100%;
		border-radius: 10px;
		margin-top: 0px;
		margin-left: -75px;
		width: 100%;
	}

	#knowledge hr {
		width: 30%;
		margin-left: 0px;
	}

.knowledge-image {
	
			/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/

}
</style>

<div class='container'>
	<div class='sub-title center' style='padding-top: 55px'>KNOWLEDGE AND EXPERIENCE</div>
	<div class='section-title center'>Frequently Asked <span class='bold'>Questions</span></div>
	<hr class='short'>
</div>

<div class='background-alt' id='knowledge'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='knowledge-image'><img src='./images/siren.jpg' style='box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2)'></div>
			</div>
			<div class='col-lg-6'>
				<br>
				<div class='section-title'>With you in this <span class='bold'>Journey</span></div>
				<hr>
				<br>
				<div class='section-text'>We have a unique position in the mental health field.  Our rigorous training requirements prepares us with a full range of professional skills in assessing, diagnosing, supporting, and treating our patients.  It also prepares us with the skills needed to participate in collaborative treatment with other professionals. </div>
				<!-- <div class='why-button'><a href='/whoweare'><button class='main-box'>About Us</button></a></div> -->
			</div>
			</div>
		</div>
	</div>
</div>