<style>

#about {
	padding: 55px 0px;
}

#about .header {
	margin-bottom: 20px;
}

#about .image {
	text-align: center;
}

#about img {
	box-shadow: 5px 5px 40px gray;
}

#about .sub-header {
	text-align: center;
}

.quote {
	margin: 55px auto 20px auto;
	/*font-style: italic;*/
	font-size: 20px;
}



</style>

<div id='about'>
<div class='container'>
<div class='sub-title center'>HOPE AND CHANGE</div>
	<h1><div class='section-title center'>About <span class='bold'>Us</span></div></h1>
	<!-- <div class='sub-header'></div> -->
	<hr class='short'>
		<div class='image'><img src='./images/umbrella.png' alt='Multicolored umbrella'></div>
	<div class='quote center'>Expand your outlook, extend your reach, and come to terms with your inner self.</div>
	<div class='section-text'>
		<p>One in four adults experience a mental health condition each year, but few seek help. We want to change that. With the right counselor, therapy can be a healing, transformative experience. Wilmington Mental Health has been providing compassionate and effective mental health services across Wilmington successfully for since 2017.</p>
		
		<p>We understand that life presents difficulties that can reduce the quality of life and happiness of those in our community. These challenges can be detrimental if left on unresolved. Hence, it is critical that access to mental health care exist when individuals need it most. We have developed a platform that provides therapeutic support for teenagers, college students, adults, couples, and families. Our compassionate counselors are ready to meet with you to help you resolve challenges and move forward in your life.</p>

		<p>Get on the road to recovery with Wilmington Mental Health Today! Book a confidential consultation, call 910-777-5575 or email us at <a href='mailto:info@wmhwc.com'>info@wmhwc.com</a>.</p>

	</div>
</div>
</div>