<style>

.alt-text {
	color: black;
	text-align: center;
	font-size: 28px;
	width: 100%;
	font-style: italic;
}

#alternative {
/*	background-image: url('./images/home.jpg');
	background-size: cover;
	background-position: 50% 20%;
	height: 400px;
	width: 100%;*/
	/*position: relative;*/
	margin-top: 100px;
	margin-bottom: 100px;
}



</style>


<div id='alternative'>
		<div class='container'>
		<!-- 	<div class='row'>
				<div class='col-lg-3'></div>
				<div class='col-lg-2'><i class="fas fa-puzzle-piece"></i></div>
				<div class='col-lg-2'><i class="fas fa-chess-knight"></i></div>
				<div class='col-lg-2'><i class="fas fa-tv"></i></div>
				<div class='col-lg-3'></div>
			</div> -->
			<div class='row'>
				<div class='alt-text'>We offer alternative access to traditional therapy via Teletherapy or in-home treatment</div>
			</div>
		</div>
</div>