<style>

.alt-text {
	color: black;
	text-align: center;
	/*font-size: 28px;*/
	width: 100%;
	/*font-style: italic;*/
}

#alternative {
	margin-top: 0px;
	margin-bottom: 55px;
}

</style>


<div id='alternative'>
		<div class='container'>
			<div class='row'>
				<div class='alt-text section-text'>We offer alternative access to traditional therapy via Teletherapy or in-home treatment</div>
			</div>
		</div>
</div>