<style>
	
#holistic {
	padding: 55px 0px;
}

#holistic img {
	height: 800px;
}
</style>

<div id='holistic'>
	<div class='section-title center come-in'>Holistic <span class='bold'>Treatment</span></div>
	<div class='container'>
		<div class='row'>
			<div class='image center'><img src='./images/chart.png'></div>
		</div>
	</div>
</div>