<style>

.dot {
	margin: 0px 3px;
	color: #4eaac8;
}

.value {
	text-transform: uppercase;
}

#values {
	font-size: 16px;
	margin-top: 100px;
	/*margin-bottom: 100px;*/
	text-align: center;
}

#values .number {
	color: #4eaac8;
	font-size: 22px;
	font-weight: 400;
}

.value-row {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#values .section-title {
	margin-bottom: 25px;
}
</style>


<div id='values'>
	<div class='section-title center come-in'>Our <span class='bold'>Values</span></div>
	<div class='container'>
		<div class='row'>
			<div class='value-row'>
			<span class='value'>Family</span><span class='dot'>&#8226;</span>
			<span class='value'>Community</span><span class='dot'>&#8226;</span>
			<span class='value'>Compassion</span><span class='dot'>&#8226;</span>
			<span class='value'>Respect</span><span class='dot'>&#8226;</span>
			<span class='value'>Justice</span><span class='dot'>&#8226;</span>
			<span class='value'>Integrity</span><span class='dot'>&#8226;</span>
			<span class='value'>Efficacy</span><span class='dot'>&#8226;</span>
			<span class='value'>Health</span><span class='dot'>&#8226;</span>
			<span class='value'>Perserverance</span><span class='dot'>&#8226;</span>
			<span class='value'>Harmony</span><span class='dot'>&#8226;</span>
			<span class='value'>Love</span><span class='dot'>&#8226;</span>
			<span class='value'>Patience</span>
		</div>
		</div>
	</div>
	<br>
	<div class='section-text call'>Book a confidential consultation, call <span class='number'>910-777-5575</span> or mail us at info@wmhwc.com.</div>

	<img src='./images/room.png' style='margin-top: 55px; margin-bottom: 0px' class='hide-on-mobile'>
</div>