<style>

.dot {
	margin: 0px 3px;
	color: #4eaac8;
}

.value {
	text-transform: uppercase;
}

#values {
	font-size: 16px;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.value-row {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

</style>


<div id='values'>
	<div class='header come-in'>Our <span class='bold'>Values</span></div>
	<div class='container'>
		<div class='row'>
			<div class='value-row'>
			<span class='value'>Family</span><span class='dot'>&#8226;</span>
			<span class='value'>Community</span><span class='dot'>&#8226;</span>
			<span class='value'>Compassion</span><span class='dot'>&#8226;</span>
			<span class='value'>Respect</span><span class='dot'>&#8226;</span>
			<span class='value'>Justice</span><span class='dot'>&#8226;</span>
			<span class='value'>Integrity</span><span class='dot'>&#8226;</span>
			<span class='value'>Efficacy</span><span class='dot'>&#8226;</span>
			<span class='value'>Health</span><span class='dot'>&#8226;</span>
			<span class='value'>Perserverance</span><span class='dot'>&#8226;</span>
			<span class='value'>Harmony</span><span class='dot'>&#8226;</span>
			<span class='value'>Love</span><span class='dot'>&#8226;</span>
			<span class='value'>Patience</span>
		</div>
		</div>
	</div>
</div>