<style>

#intake-process  {
	padding: 25px 100px 75px 100px;
}

.step {
	border: 1px solid lightgray;
	background: white;
	height: 100%;
	padding: 15px;
	letter-spacing: .5px;
}

#vision .step-number {
	letter-spacing: .5px;
	font-size: 25px;
	color: #4eaac8;
	text-align: center;
	width: 100%;
	padding-bottom: 15px;
}

.step-text {
	font-weight: 300;
	text-align: justify;
}

.vision-logo {
	margin: auto;
	font-size: 70px;
	text-align: center;
	color: gray;
}

</style>
<div class='come-in'>
<div id='vision'>
	<div class='background-alt' id='intake-process'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='step main-box'>
					<div class='vision-logo'><i class="fas fa-bullseye"></i></div>
					<div class='step-number'>Our Mission</div>
					<div class='step-text'>Wilmington Mental Health provides evidence-based and person-centered treatment to residents of Southeastern North Carolina. We aim to help normalize and universalize psychotherapy by making it accessible, dependable, and essential, especially during times of crisis and emotional disturbance. Psychotherapy can help you regain control and stability. 
					</div>
				</div> 
			</div>
			<div class='col-lg-4'>
				<div class='step main-box'>
					<div class='vision-logo'><i class="fas fa-eye"></i></div>
					<div class='step-number'>Our Vision</div>
					<div class='step-text'>To embrace our humanity and reject the stigma around mental health by providing compassionate, unbiased support to all of our patients regardless of race, sex, age, national origin, religion, or disability. We are strong advocates of the application of psychotherapy to help change behavior and overcome mental and substance use disorders.

					</div> 
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='step main-box'>
					<div class='vision-logo'><i class="fas fa-gem"></i></div>
					<div class='step-number'>Our Approach</div>
					<div class='step-text'>We treat a wide range of cognitive, emotional, and behavioral issues through psychotherapy and integrated techniques such as mindfulness to restore balance. We focus on symptom reduction and personal development, facilitate awareness, self-understanding, and exploration, and help our patients develop healthier and more sustainable lifestyles. </div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>