<style>

#community {
	padding: 55px 0px;
}

#community table {
	width: 100%;
}

#community table tr td {
	vertical-align: top;
	padding-left: 10px;
}

#community td {
	width: 50%;
}

#community .dropdown {
	text-align: center;
	margin-bottom: 55px;
}

.section-subtitle {
	font-size: 24px;
	font-weight: 600;
}

.section-title {
	margin-bottom: 25px;
}

.go {
	height: 30px;
	line-height: 0px;
}

select {
	width: 50%;
	margin: auto;
	height: 30px;
}

.spacer-section {
	height: 75px;
}

.title {
	font-size: 30px;
	/*margin-top: 55px;*/
	width: 100%;
	background: whitesmoke;
	padding-left: 10px;
	color: #4EAAC8;
}

</style>

<div id='community'>
<!-- <div class='container'> -->
	<div class='section-title center'>Assistance Programs and Community <span class='bold'>Resources</span></div>
	<hr class='short center'>

	<div class="dropdown">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select a Category
  </button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class='dropdown-item' href='#health'>Health and Medical Services</a>
			<a class='dropdown-item' href='#housing'>Housing and Shelter</a>
			<a class='dropdown-item' href='#food'>Food Pantry & Meals</a>
			<a class='dropdown-item' href='#faith'>Faith & Religion</a>
			<a class='dropdown-item' href='#transportation'>Transportation</a>
			<a class='dropdown-item' href='#meditation'>Meditation & Relaxation</a>
			<a class='dropdown-item' href='#self-help'>Self-Help & Mutual Support Groups</a>
			<a class='dropdown-item' href='#lgbtqia'>LGBTQIA Community</a>
			<a class='dropdown-item' href='#harm'>Harm Reduction Coalition</a>
			<a class='dropdown-item' href='#medication'>Medication Dropboxes</a>
			<a class='dropdown-item' href='#community'>Community Non-Profit</a>
			<a class='dropdown-item' href='#support'>Support & Advocacy</a>
			<a class='dropdown-item' href='#government'>Government Buildings & Township Offices</a>
			<a class='dropdown-item' href='#educational'>Educational Institutes</a>
			<a class='dropdown-item' href='#language'>Language Assistance</a>
			<a class='dropdown-item' href='#volunteer'>Volunteer Opportunities</a>
			<a class='dropdown-item' href='#social'>Social Services</a>
			<a class='dropdown-item' href='#employment'>Employment Agencies</a>
			<a class='dropdown-item' href='#financial'>Financial Assistance</a>
			<a class='dropdown-item' href='#recreational'>Recreational Activities</a>
			<a class='dropdown-item' href='#children'>Children Zones</a>
			<a class='dropdown-item' href='#teens'>Teens Support</a>
			<a class='dropdown-item' href='#24'>24-Hour Support: Hotline Numbers</a>
			<a class='dropdown-item' href='#smoke'>Smoke Cessation</a>
			<a class='dropdown-item' href='#dietitians'>Dietitians & Nutritionist</a>
			<a class='dropdown-item' href='#vision'>Vision Care</a>
			<a class='dropdown-item' href='#breastfeed'>Breastfeeding</a>
			<a class='dropdown-item' href='#senior'>Senior Care</a>
			<a class='dropdown-item' href='#additional'>Additional Resources</a>
			<a class='dropdown-item' href='#restaurant'>Restaurants</a>
		</div>
	</div>

	<div class='section-subtitle' style='margin-bottom: 25px'>NATIONWIDE</div>

	<div class='title'>National Suicide Prevention Lifeline</div>
	<p class='section-text' style='padding-left: 10px'>Call or chat online.<br>
	1(800) 273-TALK<br>
	1(800) 784-2433<br>
	<a href='suicidepreventionlifeline.org</p>'>suicidepreventionli</a></p>
	<div class='spacer-section' style='height: 30px'></div>
	<div class='title'>Crisis Text Line</div>
	<p class='section-text' style='padding-left: 10px'>Provides free confidential 24/7 emotional support and information to people in any type of crisis.<br>
	Text “START” to 741741<br>
	<a href='crisistextline.org'>crisistextline.org</a></p>

	

	<div class='section-subtitle' style='margin-top: 55px'>NEW HANOVER COUNTY</div>


		<div class='spacer-section' id='health' style='height: 25px'></div>

	<div class='title' id=''>Health and Medical Services</div>
	<br>
	<table>
		<tr>
			<td><div class='section-subtitle'>New Hanover County Health Department</div>
				<p class='section-text'>
					2029 South 17th Street, Wilmington, NC 28401<br>
					Phone: 910-798-6500<br>
					<a href='http://health.nhcgov.com/your-health/reproductive-health/<br>'>http://health.nhcgo</a>
					<a href='http://health.nhcgov.com/your-health/walk-in-services/'>http://health.nhcgo</a>
				</p></td>
			<td><div class='section-subtitle'>MedNorth Health Center</div>
				<p class='section-text'>
					Phone: 910-343-0270<br>
					<a href='http://www.mednorth.org/'>http://www.mednorth</a>
				</p></td>
		</tr>
		<tr>
			<td><div class='section-subtitle'>Cape Fear HealthNet</div>
				<p class='section-text'>
					1601 Doctors Circle, Wilmington, NC 28401<br>
					Phone: 910-798-3594<br>
					Fax: 910-798-3763<br>
					<a href='http://www.capefearhealthnet.org/<br>'>http://www.capefear</a>
					newhanoverhelp@cfhn.org
				</p></td>
			<td><div class='section-subtitle'>Cape Fear Clinic, Inc</div>
				<p class='section-text'>
					605 Doctors Circle, Wilmington, NC 28401<br>
					Phone: 910-343-8736<br>
					Fax: 910-343-1293 Fax<br>
					<a href='http://www.capefearclinic.org'>http://www.capefear</a>
				</p></td>
		</tr>
		<tr>
			<td><div class='section-subtitle'>Wilmington Health</div>
				<p class='section-text'>
					Phone: 910-343-0270<br>
					<a href='http://www.mednorth.org/'>http://www.mednorth</a>
				</p></td>
			<td><div class='section-subtitle'>Disability Resource Center</div>
				<p class='section-text'>
					Phone: 910-815-6618<br>
					140-C Cinema Drive<br>
					Wilmington, NC 28403<br>
					info@drc-cil.org<br>
					<a href='http://drc-cil.org/'>http://drc-cil.org/</a>
				</p></td>
		</tr>
	</table>

	
		<div class='spacer-section' id='housing'></div>

	<div class='title' id=''>Housing and Shelter</div>
	<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Wilmington Housing Authority</div>
				<p class='section-text'>
					Phone: 910-341-7727<br>
					<a href='http://www.wha.net/'>http://www.wha.net/</a><br>
					Low Income Affordable Housing
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Wilmington Interfaith Hospitality Network</div>
				<p class='section-text'>
					Phone: 910-769-4730<br>
					Wilmington, NC 28403<br>
					Day Center for families
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Family Promise of the Lower Cape Fear</div>
				<p class='section-text'>
					Phone: 910-769-4730<br>
					Wilmington, NC 28401<br>
					Emergency shelter program for families<br>
					<a href='http://familypromiselcf.org/'>http://familypromiselcf.org/</a>
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Miracles In Progress Aftercare Recovery Homes</div>
				<p class='section-text'>
					Phone: 910-620-4554<br>
					2302 Boardwalk Ave<br>
					Wilmington, NC 28403<br>
					Transitional, halfway house, 12 step recovery environment.
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Domestic Violence Shelter And Services</div>
				<p class='section-text'>
					Phone: 910-343-0703<br>
					2901 Market St<br>
					Wilmington, NC 28403<br>
					<a href='https://www.domesticviolence-wilm.org/'>https://www.domesticviolence-wilm.org/</a>
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Good Shepherd Center</div>
				<p class='section-text'>
					Phone: 910-763-4424<br>
					811 Martin St<br>
					Wilmington, NC 28401<br>
					<a href='http://www.goodshepherdwilmington.org/'>http://www.goodshepherdwilmington.org/</a><br>
					Day and night shelter					
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>The Passageway To Peace</div>
				<p class='section-text'>
					Phone: 919-868-8923<br>
					Wilmington, NC 28405<br>
					<a href='http://www.thepassagewaytopeace.com/'>http://www.thepassagewaytopeace.com/</a>
				</p>
			</td>
			<td>				
			<div class='section-subtitle'>Men and women's Sergeant Eugene Ashley Center</div>
				<p class='section-text'>
					Phone: 910-362-0292<br>
					2002 Colwell Avenue<br>
					Wilmington, NC 28403<br>
					<a href='http://www.goodshepherdwilmington.org/project/ashley-center/'>http://www.goodshepherdwilmington.org/project/<a href='ashley-center/</a>
				</p>
			</t'>d>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Salvation Army Church Of Wilmington</div>
				<p class='section-text'>
					Phone: 910-762-7354<br>
					223 S 3rd St<br>
					Wilmington, NC 28401<br>
					<a href='https://www.salvationarmycarolinas.org/capefear/home/'>https://www.salvationarmycarolinas.org/capefear/home/</a>
				</p>
			</td>
			<td>				
			
			</td>
		</tr>
	</table>


		<div class='spacer-section' id='food'></div>

	<div class='title' id=''>Food Pantry & Meals</div>

	<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Meals On Wheels – Elks Club</div>
				<p class='section-text'>
					Phone: 910-612-0676<br>
5102 Oleander Dr.<br>
Wilmington, NC 28403<br>
2nd Sunday of each month.
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Weekend Meals On Wheels – Temple of Israel</div>
				<p class='section-text'>
					Phone: 910-508-7925<br>
1 South 4th St.<br>
Wilmington,  NC 28401<br>
4th Sunday of each month.

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Ambassadors for Christ</div>
				<p class='section-text'>
					Phone: 910-228-8667<br>
4513 Franklin Ave.<br>
Wilmington, NC 28403<br>
1st and 3rd Thursday, 5:00pm-7:00pm

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Gateway Church</div>
				<p class='section-text'>
					Phone: 910-791-4611<br>
4815 Wrightsville Avenue<br>
Wilmington, NC 28403

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Myrtle Grove</div>
				<p class='section-text'>
					Phone: 910-392-9180<br>
7547 Carolina Beach Road<br>
Wilmington, NC 28412

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Tileston Outreach</div>
				<p class='section-text'>
					Phone: 910-762-5491 ext 35<br>
412 Ann Street<br>
Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>New Covenant Holiness Church</div>
				<p class='section-text'>Phone: 910-762-7376<br>
1102 Dawson Street<br>
Wilmington, NC 28401
</p>
			</td>
			<td>
				<div class='section-subtitle'>The Love Center Church</div>
				<p class='section-text'>Phone: 910-815-0669<br>
615 South 15th Street<br>
Wilmington, NC 28401
</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>The Rock of Wilmington</div>
				<p class='section-text'>
					Phone: 910-602-5300<br>
5301 Sidbury Road<br>
Castle Hayne, NC 28429

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Help Center of Federal Point</div>
				<p class='section-text'>
					Carolina Beach Recreation Center<br>
Phone: 910-458-2777<br>
121B North Lake Park Blvd<br>
Carolina Beach, NC 28428

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>The Lord's Church Address</div>
				<p class='section-text'>
					Phone: 910-762-5797<br>
1502 East Lake Shore Drive<br>
Wilmington, NC 28401

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Food Bank of Central & Eastern NC</div>
				<p class='section-text'>
					Phone: 910-251-1465<br>
1314 Marstellar Street<br>
Wilmington, NC 28402

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Second Helpings</div>
				<p class='section-text'>
					Phone: 910-763-4424<br>
811 Martin Street<br>
Wilmington, NC 28401

				</p>
			</td>
			<td>
				<div class='section-subtitle'>The Fisherman Church</div>
				<p class='section-text'>
					Phone: 910-763-6222<br>
314 South Carolina Avenue<br>
Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Amigos Internacional</div>
				<p class='section-text'>
					Phone: 910-341-0007<br>
4804 Wrightsville Ave.<br>
Wilmington, NC 28403<br>
<a href='http://www.amigosinternational.org'>http://www.amigosinternational.org</a><br>
Tuesday, Wednesday, and Thursday: 6:00pm-9:00pm

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Full Circle Ministry</div>
				<p class='section-text'>
					Phone: 910-352-2830<br>
445 Shipyard Blvd<br>
Wilmington, North Carolina 28412

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Valour Ministries of Grace, Inc.</div>
				<p class='section-text'>
					Phone: 910-409-1021<br>
315 Castle St.<br>
Wilmington, NC 28403

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Straightway Ministries Location</div>
				<p class='section-text'>
					Phone: 910-371-0111<br>
3705 US Highway 421 North<br>
Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Bethany Presbyterian Church</div>
				<p class='section-text'>
					Phone: 910-762-7824<br>
2237 Castle Hayne Road<br>
Wilmington, North Carolina 28401

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Catholic Social Ministries</div>
				<p class='section-text'>
					Tel 910-251-8130<br>
4006 Princess Place Drive<br>
Wilmington, NC 28405

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>First Fruit Ministries</div>
				<p class='section-text'>
					Phone 910-794-9353<br>
2750 Vance Street<br>
Wilmington, North Carolina 28412

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Mother Hubbard's Cupboard</div>
				<p class='section-text'>
					Phone: 910-762-2199<br>
315 Red Cross St.<br>
Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Bethesda Christian Life Church</div>
				<p class='section-text'>Phone: 910-343-0707<br>
506 North 4th Street<br>
Wilmington, North Carolina 28401
</p>
			</td>
			<td>
				<div class='section-subtitle'>Wrightsboro United Methodist Church</div>
				<p class='section-text'>
					Phone: 910-762-2583<br>
3300 North Kerr Avenue<br>
Wilmington, NC 28405

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Helping Hands, St. Stanislaus Church</div>
				<p class='section-text'>
					Phone: 910-452-6361<br>
4849 Castle Hayne Road<br>
Castle Hayne, NC 28429

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Help Center of Federal Point</div>
				<p class='section-text'>
					Phone: 910-458-9339<br>
1121 North Lake Park Blvd<br>
Carolina Beach, NC 28428

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Harbor United Methodist Church Main</div>
				<p class='section-text'>
					Phone: 910-452-7702<br>
4853 Masonboro Loop Road<br>
Wilmington, NC 28409

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Jesus Ministries Church and Outreach</div>
				<p class='section-text'>
					Phone: 910-791-7702<br>
6763 Market Street #D<br>
Wilmington, NC 28405

				</p>
			</td>
		</tr>
	</table>



		<div class='spacer-section' id='faith'></div>

	<div class='title' id=''>Faith & Religion</div>

	<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Untied Way -Cape Fear Area</div>
				<p class='section-text'>
					5919 Oleander Dr. STE 115<br>
910-798-3900<br>
<a href='https://uwcfa.org/'>https://uwcfa.org/</a>

					
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Salvation Army of  the Cape Fear</div>
				<p class='section-text'>
					
820 N 2nd St<br>
910-762-2070<br>
<a href='https://www.salvationarmycarolinas.org/capefear/home/'>https://www.salvationarmycarolinas.org/capefear/home/</a>

				</p>
			</td>
		</tr>
				<tr>
			<td>
				<div class='section-subtitle'>Good Shepherd Center</div>
				<p class='section-text'>
					Phone: 910-763-4424<br>
811 Martin St<br>
<a href='https://www.goodshepherdwilmington.org/4424'>https://www.goodshepherdwilmington.org/4424</a>

					
				</p>
			</td>
			<td>
				<div class='section-subtitle'></div>
				<p class='section-text'>
					

				</p>
			</td>
		</tr>
	</table>


		<div class='spacer-section' id='transportation'></div>

	<div class='title' id=''>Transportation</div>

	<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Public Transportation<br>Forden Station</div>
				<p class='section-text'>
					505 Cando St,<br>
Wilmington, NC 28405<br>
Phone: 910-342-0106

					
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Bicycle and Pedestrian Facilities</div>
				<p class='section-text'>
					<a href='http://wilmingtonnc.maps.arcgis.com/apps/OnePane/basicviewer/index.html?appid=8fb451dafcb74e93818ac50db64df6da'>Map Link</a> available on the city of Wilmington’s GIS portal.
				</p>
			</td>
		</tr>
				<tr>
			<td>
				<div class='section-subtitle'>Cross City Trail</div>
				<p class='section-text'>
					2029 South 17th Street<br>
Wilmington, NC 28401<br>
Phone: 910-798-6500<br>
<a href='http://health.nhcgov.com/your-health/reproductive-health/'>http://health.nhcgov.com/your-health/reproductive-health/</a><br>
<a href='http://health.nhcgov.com/your-health/walk-in-services/'>http://health.nhcgov.com/your-health/walk-in-services/</a>


					
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Share The Ride</div>
				<p class='section-text'>
 					Find quickly and securely a commute partner 
 					anywhere in North Carolina. 
 					Your address will be matched to nearby 
 					commuters with similar schedules.<br>
 					<a href='https://www.sharetheridenc.org/Public/Home.aspx'>https://www.sharetheridenc.org/Public/Home.aspx</a>


				</p>
			</td>
		</tr>
	</table>

		<div class='spacer-section' id='meditation'></div>

		<div class='title' id=''> Meditation & Relaxation</div>

<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Longwave Yoga</div>
				<p class='section-text'>
					203 Racine Dr.<br>
Wilmington, NC 28403<br>
Phone:  9107693494<br>
<a href='www.longwaveyoga.com'>Longwaveyoga.com</a>


					
				</p>
			</td>
			<td>
				<div class='section-subtitle'>PUR Mindful -Wilmington Mindfulness</div>
				<p class='section-text'>
					2016 Independence Blvd  Suite 102<br>
910-619-8931<br>
<a href='http://www.purmindful.com'>http://www.purmindful.com</a>

				</p>
			</td>
		</tr>

	</table>

			<div class='spacer-section' id='self-help'></div>

		<div class='title'>Self-Help & Mutual Support Groups</div>

<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>American Cancer Society</div>
				<p class='section-text'>
					2202 Wrightsville Ave Suite 111<br>
910-254-4870<br>
<a href='https://www.cancer.org/'>https://www.cancer.org/</a>



					
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Rape Criss Center at Costal Horizons’</div>
				<p class='section-text'>
					2250 Shipyard Blvd<br>
910-392-7460<br>
<a href='https://www.supportrcc.org/index.html'>https://www.supportrcc.org/index.html</a>


				</p>
			</td>
		</tr>
<tr>
			<td>
				<div class='section-subtitle'>NAIM Wilmington NC</div>
				<p class='section-text'>
					1939 Independence Blvd<br>
910-772-3074<br>
<a href='https://namiwilmington.org/'>https://namiwilmington.org/</a>




					
				</p>
			</td>
			<td>
				<div class='section-subtitle'></div>
				<p class='section-text'>
				

				</p>
			</td>
		</tr>
	</table>

			<div class='spacer-section' id='lgbtqia'></div>

		<div class='title' id=''>LGBTQIA Community</div>

<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>The Frank Harr Foundation</div>
				<p class='section-text'>
					1624 Princess St<br>
910-538-1393




					
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Mohin-Scholtz  LGBTQIA Resource Office UNCW</div>
				<p class='section-text'>
					601 South College Road<br>
910-9682-3000<br>
<a href='https://uncw.edu/lgbtqia/'>https://uncw.edu/lgbtqia/</a>



				</p>
			</td>
		</tr>
	</table>

		<div class='spacer-section' id='harm'></div>

	<div class='title'>Harm Reduction Coalition </div>
			<div class='spacer-section' id='medication'></div>

	<div class='title'>Medication Dropboxes</div>
			<div class='spacer-section' id='communicty'></div>

	<div class='title'>Community Non-Profit</div>
	<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Cape Fear Literacy Council</div>
				<p class='section-text'>
					1012 S 17th St<br>
910-251-0911<br>
<a href='https://www.cfliteracy.org/'>https://www.cfliteracy.org/</a>





					
				</p>
			</td>
			<td>
				<div class='section-subtitle'></div>
				<p class='section-text'>

				</p>
			</td>
		</tr>
	</table>
		<div class='spacer-section' id='support'></div>
	<div class='title'>Support & Advocacy</div>
		<div class='spacer-section' id='government'></div>
	<div class='title' id=''>Government Buildings & Township Offices</div>
		<div class='spacer-section' id='educational'></div>
	<div class='title' id=''>Educational Institutes</div>
		<div class='spacer-section' id='language'></div>
	<div class='title' id=''>Language Assistance</div>
		<div class='spacer-section' id='volunteer'></div>
	<div class='title' id=''>Volunteer Opportunities</div>
		<div class='spacer-section' id='social'></div>
	<div class='title' id=''>Social Services</div>
		<div class='spacer-section' id='employment'></div>
	<div class='title' id=''>Employment Agencies</div>
		<div class='spacer-section' id='financial'></div>
	<div class='title' id=''>Financial Assistance</div>
		<div class='spacer-section' id='recreational'></div>
	<div class='title' id=''>Recreational Activities</div>
		<div class='spacer-section' id='children'></div>
	<div class='title' id=''>Children Zones</div>
		<div class='spacer-section' id='teens'></div>
	<div class='title' id=''>Teens Support</div>
		<div class='spacer-section' id='24'></div>
	<div class='title' id=''>24-Hour Support: Hotline Numbers</div>
		<div class='spacer-section' id='smoke'></div>
	<div class='title' id=''>Smoke Cessation</div>
		<div class='spacer-section' id='dietitians'></div>
	<div class='title' id=''>Dietitians & Nutritionist</div>
		<div class='spacer-section' id='vision'></div>
	<div class='title' id=''>Vision Care</div>
		<div class='spacer-section' id='breastfeeding'></div>
	<div class='title' id=''>Breastfeeding</div>
		<div class='spacer-section' id='senior'></div>
	<div class='title' id=''>Senior Care</div>
		<div class='section-subtitle' style='padding-top: 25px'>Assisted Living</div>
		<hr>
			<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Morningside of Wilmington</div>
				<p class='section-text'>
					2744 South 17th St, <br>
					Wilmington, NC 28412
				</p>
			</td>
			<td>
				<div class='section-subtitle'>The Kempton Lifestyle</div>
				<p class='section-text'>
					2298 South 41st Street,  <br>
					Wilmington, NC 28403
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>The Commons At Brightmore</div>
				<p class='section-text'>
					2320 41St Street,  <br>
					Wilmington, NC 28403
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Champions Assisted Living</div>
				<p class='section-text'>
					1007 Porters Neck Road,  <br>
					Wilmington, NC 28411
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Spring Arbor of Wilmington</div>
				<p class='section-text'>
					809 John D. Barry Drive,  <br>
					Wilmington, NC 28412
				</p>
			</td>
			<td>
				<div class='section-subtitle'>Sherwood Manor Rest Home</div>
				<p class='section-text'>
					1605 Robinhood Road, <br>
					Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>New Hanover House</div>
				<p class='section-text'>
					3915 Stedwick Court, <br>
					Wilmington, NC 28412

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Cedar Cove Assisted Living</div>
				<p class='section-text'>
					4200 Jasmine Cove Way, <br>
					Wilmington, NC 28412

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Fannie Norwood Memorial Home</div>
				<p class='section-text'>
					501 South 15Th Street, <br>
					Wilmington, NC 28401

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Leland House</div>
				<p class='section-text'>
					1935 Lincoln Road NE, <br>
					Leland, NC 28451

				</p>
			</td>
		</tr>
	</table>

	<div class='section-subtitle' style='padding-top: 25px'>Senior Living</div><hr>

<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>The Woods at Holly Tree</div>
				<p class='section-text'>
					4610 Holly Tree Rd,<br>
					Wilmington, NC 28409

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Lake Shore Commons</div>
				<p class='section-text'>
					1402 Hospital Plaza Dr,<br>
					Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Cambridge Village of Wilmington</div>
				<p class='section-text'>
					75 Cavalier Drive,<br>
					Wilmington, NC 2840

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Trinity Grove</div>
				<p class='section-text'>
					631 Junction Creek Drive,<br>
					Wilmington, NC 2841

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Morningside of Wilmington</div>
				<p class='section-text'>
					2744 South 17th St,<br>
					Wilmington, NC 2841

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Plantation Village</div>
				<p class='section-text'>
					1200 Porters Neck Road,<br>
					Wilmington, NC 28411

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Liberty Commons Nursing and Rehabilitation</div>
				<p class='section-text'>
					121 Racine Drive,<br>
					Wilmington, NC 28403

				</p>
			</td>
			<td>
				<div class='section-subtitle'>The Commons At Brightmore</div>
				<p class='section-text'>
					2320 41St Street,<br>
					Wilmington, NC 28403

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Champions Assisted Living</div>
				<p class='section-text'>
					1011 Porters Neck Rd,<br>
					Wilmington, NC 2841

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Autumn Care of Myrtle Grove</div>
				<p class='section-text'>
					5725 CAROLINA BEACH ROAD,<br>
					Wilmington, NC 28408

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Carolina Bay at Autumn Hall</div>
				<p class='section-text'>
					5553 Old Garden Road,<br>
					Wilmington, NC 28403

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Spring Arbor of Wilmington</div>
				<p class='section-text'>
					809 John D. Barry Drive,<br>
					Wilmington, NC 28412

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Sherwood Manor Rest Home</div>
				<p class='section-text'>
					1605 Robinhood Road,<br>
					Wilmington, NC 2840

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Brightmore of Wilmington</div>
				<p class='section-text'>
					2324 S 41st St,<br>
					Wilmington, NC 28403

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Wilmington Health And Rehabilitation</div>
				<p class='section-text'>
					820 Wellington Avenue,<br>
					Wilmington, NC 28401

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Silver Stream Health and Rehabilitation</div>
				<p class='section-text'>
					2305 Silver Stream Rd,<br>
					Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>New Hanover House</div>
				<p class='section-text'>
					3915 Stedwick Court,<br>
					Wilmington, NC 2841

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Azalea Skilled Nursing and Rehabilitation</div>
				<p class='section-text'>
					3800 Independence Blvd,<br>
					Wilmington, NC 28412

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Liberty Healthcare Services</div>
				<p class='section-text'>
					2334 S. 41st Street,<br>
					Wilmington, NC 28403

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Britthaven of Northchase</div>
				<p class='section-text'>
					3015 Enterprise Dr.<br>
					Wilmington, NC 28405

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Coastal Adult Day Care Center, Inc.</div>
				<p class='section-text'>
					220-103 Avondale Ave,<br>
					Wilmington, NC 28403

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Elderhaus at the Lake</div>
				<p class='section-text'>
					1950 Amphitheater Dr.,<br>
					Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Cedar Cove Assisted Living</div>
				<p class='section-text'>
					4200 Jasmine Cove Way,<br>
					Wilmington, NC 28412

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Fannie Norwood Memorial Home</div>
				<p class='section-text'>
					501 South 15Th Street,<br>
					Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Davis Health & Wellness Ctr At Cambridge Village</div>
				<p class='section-text'>
					83 Cavalier Drive,<br>
					Wilmington, NC 28405

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Carolina Bay Healthcare Ctr Of Wilmington</div>
				<p class='section-text'>
					630 Carolina Bay Drive,<br>
					Wilmington, NC 28403

				</p>
			</td>
		</tr>

</table>

	<div class='section-subtitle' style='padding-top: 25px'>Home Health Agencies</div>
	<hr>
	<div class='section-subtitle' style='padding-top: 25px'>Continuing Care Retirement Communities</div>
	<hr>
<br>
	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Plantation Village</div>
				<p class='section-text'>
					1200 Porters Neck Road,<br>
					Wilmington, NC 28411

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Carolina Bay at Autumn Hall</div>
				<p class='section-text'>
					5553 Old Garden Road,<br>
					Wilmington, NC 28403

				</p>
			</td>
		</tr>
	</table>

	<div class='section-subtitle' style='padding-top: 25px'>Nursing Homes</div><hr>

	<table>
		<tr>
			<td>
				<div class='section-subtitle'>Trinity Grove</div>
				<p class='section-text'>
					631 Junction Creek Drive<br>
					Wilmington, NC 28412

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Liberty Commons Nursing and Rehabilitation</div>
				<p class='section-text'>
					121 Racine Drive,<br>
					Wilmington, NC 28403

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Champions Assisted Living</div>
				<p class='section-text'>
					1011 Porters Neck Rd,<br>
					Wilmington, NC 28411

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Autumn Care of Myrtle Grove</div>
				<p class='section-text'>
					5725 Carolina Beach Rd,<br>
					Wilmington, NC 28408

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Wilmington Health And Rehabilitation</div>
				<p class='section-text'>
					820 Wellington Avenue,<br>
					Wilmington, NC 28401
 

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Silver Stream Health and Rehabilitation</div>
				<p class='section-text'>
					2305 Silver Stream Rd,<br>
					Wilmington, NC 28401

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Azalea Skilled Nursing and Rehabilitation</div>
				<p class='section-text'>
					3800 Independence Blvd,<br>
					Wilmington, NC 28412

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Liberty Healthcare Services</div>
				<p class='section-text'>
					2334 S. 41st Street,<br>
					Wilmington, NC 28403

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Britthaven of Northchase</div>
				<p class='section-text'>
					3015 Enterprise Dr,<br>
					Wilmington, NC 28405

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Davis Health & Wellness Center At Cambridge Village</div>
				<p class='section-text'>
					83 Cavalier Drive,<br>
					Wilmington, NC 28405

				</p>
			</td>
		</tr>
		<tr>
			<td>
				<div class='section-subtitle'>Carolina Bay Healthcare Center Of Wilmington</div>
				<p class='section-text'>
					630 Carolina Bay Drive,<br>
					Wilmington, NC 28403

				</p>
			</td>
			<td>
				<div class='section-subtitle'>Brunswick Cove Nursing Center</div>
				<p class='section-text'>
					1478 River Rd<br>
					Winnabow, NC 28479

				</p>
			</td>
		</tr>
	</table>


				<div class='spacer-section' id='restaurant'></div>

	<div class='title' id=''>Restaurants</div>

		<div class='spacer-section' id='additional'></div>
		<div class='title' id=''>Additional Resources</div>
</div>
<!-- </div> -->