<style>
    #admin-dashboard {
        padding: 50px 0px;
    }
</style>

<div id='admin-dashboard'>
    <div class='container'>
        <div class='center'>
            <div class='section-title'>Admin Dashboard</div><br>
            <div class='row'>
                <div class='col-lg-3'>
                    <div class='section-text'>
                        <div class='setion-text'><a href='./dashboard'>Blog Dashboard</a></div>
                    </div>
                </div>
                <div class='col-lg-9'>
                    <div class='employee-content-section'>
                        This is the content section...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>