<style>
    #employee-dashboard {
        padding: 50px 0px;
    }

</style>

<div id='employee-dashboard'>
    <div class='container'>
        <div class='center'>
            <div class='section-title'>Employee Dashboard</div>
            <br>
            <div class='row'>
                <div class='col-lg-3'>
                    <div class='section-text'>
                        <a href='./employee-documents' id='employee-documents'>Employee Documents</a>
                    </div>
                </div>
                <div class='col-lg-9'>
                    <div class='employee-content-section'>
                        This is the content section...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>