<style>

.clipboard {
    height: 800px;
    width: 50%;
    margin: auto;
    position: relative;
    background-image: url('./images/clipboard_scaled.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#form-list {
    width: 100%;
    text-align: center;
}

#forms {
    padding-top: 25px; 
    width: 100%;  
    margin: auto; 
    text-align: left;
}

#intake-forms a {
    text-decoration: none;
    color: #4eaac8;
}

#intake-forms h5 {
    width: 100%;
    margin-bottom: 0px;
    text-decoration: none;
}

#intake-forms li {
    margin-bottom: 15px;
}

.start-over {
    margin-top: 25px;
    font-size: 20px;
}
</style>

<div class='intake-section' id='intake-forms'>
        <div id='form-list'>
            <!-- <div class='clipboard'> -->
                <div id='forms'>
                    <div class="card">
                        <div class="card-header">
                            <h5 class='center'>
                                Please complete and return the forms below prior to your first appointment.
                            </h5>
                        </div>
                        <div class="card-body">
                            <br>
                            <ul>
                                <span id='service-forms'></span>
                                <span id='provider-forms'></span>
                            </ul>
                            <div class='start-over center'><a href="javascript:window.location.href=window.location.href">Start Over</a></div>
                        </div>
                    </div>

                </div>
            <!-- </div> -->
        </div>
        <br>
</div>