<div class='intake-part hidden' id='prof-disc'>
<h4 class='center'>Step 2 - Select a Provider</h4>
<br>
<br>
<select class='form-control form-control-lg w-50 center' id='name-of-provider'>
    <option disabled selected>Select a Provider</option>
    <option>Joseph Rengifo</option>
    <option>Havah Henzler</option>
    <option>Sarah Mooring</option>
    <option>Lisa Blackmon</option>
    <option>Sarah Scott Ford</option>
    <option>Joanne Lee</option>
    <option>Juliana Stanfield</option>
    <option>Yohanny Santana</option>
    <option>Robert Siegel</option>
    <option>Beki Asti</option>
    <option>Margaret Kaplan</option>
</select>
</div>