<style>
    optgroup {
        color: red;
    }
</style>

<div class='intake-part' id='tos'>
    <h4 class='center'>Step 1 - Select a Service</h4>
    <br>
    <br>
    <!-- <div class='section-text center'>
        Please select the type of service to continue.
    </div> -->
    <br>
    <select class='form-control w-50 center form-control-lg' name='type-of-service' id='type-of-service'>
        <option disabled selected>Select a Service</option>
        <option disabled></option>
        <option disabled>Patient Registration</option>
        <option disabled>------------</option>
            <option>Intake Packet</option>
            <option>Authorization Form</option>
            <option>Ingreso del Paciente</option>
            <option>Planilla de Autorización</option>
            <option disabled></option>
        <option disabled>Primary Care Treatment</option>
        <option disabled>------------</option>
            <option>New Patient Health History Form</option>
            <option disabled></option>
        <option disabled>Clinical Evaluations</option>
        <option disabled>------------</option>
            <option>Attention-Deficit/Hyperactivity</option>
            <option>Pre-Bariatric Surgery</option>
            <option>Drug and Alcohol Abuse</option>
            <option>Immigration Assessment</option>
            <option>Adult Sex Offender Recidivism</option>
            <option>Domestic Violence</option>
            <option>Anger Management</option>
    </select>
</div>