<style>
	
.banner-section {
	background: #f6f8f9;
	padding: 55px 0px;
	margin: 0px 0px;
}

.banner-section-text {
	text-align: center;
	padding: 0px 300px;
}

.banner-section-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.fa-sort-down {
	position: absolute;
	right: 20px;
	margin-top: -5px;
}

.faq-questions .card {
	border: none !important;
	margin-bottom: 10px;
}

.faq-questions .card-header {
	background: #f6f8f9!important;
}
.faq-questions .card-body {
	background: white;
	border: none;
	color: #5c656d;
	font-weight: 300;
	line-height: 24px;
	padding: 25px 9px;
	padding-left: 32px;
}

.faq-questions .card-header {
	background: white;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none !important;
}

.faq-questions .btn-link {
	text-decoration: none;
	color: #4eaac8;
}

#teletherapy hr {
	width: 10%;
	/*margin-left: 0px;*/
	margin-bottom: 0px;
}

#teletherapy .header {
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}

#teletherapy-title {
	font-size: 20px;
	color: #4eaac8;
	padding-bottom: 5px;
}

#teletherapy img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	box-shadow: 10px 10px 50px gray;
}

.teletherapy-faq {
	background-color: white;
	padding: 55px 0px;

}

.teletherapy-faq-title {
	font-size: 20px;
	color: #4eaac8;
	margin-bottom: 20px;
}

#tips {
	background: #323E4F;
	padding: 55px 25px;
	color: white;
}

#tips .section-text {
	color: white;
}

#title {
	padding: 35px 0px 55px 0px;
}

#title .header {
	margin-bottom: 0px !important;
	position: relative;
}	

#title .sub-title {
	margin-top: 0px;
}

.language {
	position: absolute;
	right: 10px;
	top: 188px;
	background: #6E59A1;
	border-radius: 0px 0px 10px 10px;
}



#teletherapy .card {
	margin-bottom: 10px;
}

#teletherapy .card-body {
	color: #5c656d;
    font-size: 18px;
    line-height: 167%;
    font-weight: 300;
}


</style>


<div id='teletherapy'>
	<div class='header'></div>
	<a href='/teletherapia'><button class='language'>En Espa<span>&#241;</span>ol</button></a>
	<div id='title'>
		<div class='sub-title center'>VIRTUAL APPOINTMENTS</div>
		<div class='section-title center'>Getting Started with <span class='bold'>Teletherapy</span></div>
		<hr>
	</div>

	<div class='banner-section'>
		<div class='banner-section-title'>The Perfect Fit for Today's Busy Lifestyle</div>
		<div class='banner-section-text'>Secure and Convenient - With a patient portal account, you can schedule and change appointments using your laptop or mobile device, attend sessions online and meeting with one of our therapists from anywhere. Therapy has never been easier!</div>
	</div>

	<div class='container' style='padding: 55px 0px'>

		<div class='teletherapy-title'>Patient Handout</div>
		<div class='section-text'>This guide includes basic tips and instructions on how to join a video appointment. There are also answers to Common Questions to make your first video call a success. Please review all sections before your first video appointment and contact us should you have any questions.</div>

		<br>
		<br>
		<br>
		<br>

		<div class='teletherapy-title'>What is Teletherapy/Telehealth?</div>
		<div class='section-text'>Teletherapy allows us to connect anywhere with secure and convenient appointments that save you time and hassle. There is no need to deal with traffic when you can schedule and attend your appointments directly from a laptop or mobile device. Through audio and video over the internet, you can meet with your clinician on-the-go from your desktop, laptop, tablet, or mobile device (iOS or Android) - it's your choice!</div>

				<br>
		<br>
		<br>
		<br>

		<div class='row'>
						<div class='col-lg-5'><img src='./images/desk.png'></div>

			<div class='col-lg-7'>
				<div class='teletherapy-title'>What equipment do I need?</div>
				<div class='section-text'>How to join on a desktop or laptop computer To participate in Teletherapy appointments from your home, you will need one of the following devices: Desktop computer with a webcam, speakers, a 2.5 GHz processor, and 4 GB of RAM OR Laptop computer with built-in webcam and speakers, a 2.5 GHz processor, and 4 GB of RAM OR Tablet device with built-in webcam and speakers, OR Smartphone with at least iOS 10 or Android 6.0 You must first download Teletherapy by SimplePractice. You will also need an internet connection that is at least 10mbps. For optimal results, a reliable, high-speed internet connection with a bandwidth of at least 10 mbps will minimize connection issues and provide the best quality.</div>
			</div>

		</div>

				<br>
		<br>
		<br>
		<br>

		<div class='row'>

			<div class='col-lg-7'>
				<div class='teletherapy-title'>How to join on a desktop or laptop computer</div>
				<div class='section-text'>If you plan to use a desktop or laptop, there is nothing to download prior to your appointment. Here are the steps to join: Approximately 10 minutes before your appointment, you should receive a reminder. For new patients, make sure you have provided your email and or mobile phone number so that we can enable email or text reminders. Click the unique link embedded in the reminder. You may have to copy and paste the link into your web browser. Your video call screen will now open in a new tab. If I have already joined the call, you will see your therapist on the screen. If I have not, you will see yourself. You will also see the Welcome prompt. Click Play Test Sound to test your camera and microphone settings. When you are ready, click Join Video Call. This will take you straight into the video call.</div>
			</div>
						<div class='col-lg-5'>
				<img src='./images/collaborate.png'>
			</div>
		</div>

				<br>
		<br>
		<br>
		<br>
		<div class='row'>
						<div class='col-lg-6'><img src='./images/dog.png'></div>

			<div class='col-lg-6'>
				<div class='teletherapy-title'>How to join on a smartphone?</div>
				<div class='section-text'>If you plan to use a mobile device, here are the steps to join:
				<ol>
				<li>Download Telehealth by SimplePractice (for iOS or Android) in the app store.</li>
				<li>Approximately 10 minutes before your appointment, you should receive an email appointment reminder.</li>
				<li>Open the reminder on your mobile device and click the unique link. This will open the Telehealth by SimplePractice app.</li>
				<li>If I have already joined the call, you will see your therapist's face on the screen. If I have not, you will see yourself.</li>
				<li>When you are ready, click Join Video Call. This will take you straight into the video call. Note: There may be a slight delay for me to join the appointment if I am finishing with a previous appointment.</li>
				<li>Please be patient. Your therapist will join momentarily</li>
			</div>
			</div>

		</div>

	</div>

		<div id='tips'>
			<div class='container'>
		<div class='teletherapy-title'>Tips for success</div>
		<div class='section-text'>
			<ul>
			<li>We recommend joining the video appointment a few minutes early to test your settings.</li>
			<li>If you can connect to the Internet, but are having trouble joining the video, you can use our recommended Pre-call Tool.</li>
			<li>To use a smartphone to join a video chat, you must first download the Telehealth by SimplePractice app available in the app store for iOS or Android.</li>
			<li>If you need to cancel or have questions about the appointment, please contact us.</li>
			</ul>
		</div></div>
	</div>


</div>
		<div class='teletherapy-faq'>
		<div class='container'>
		<div class='teletherapy-faq-title'>Common Teletherapy Questions</div>
		<div class='teletherapy-text'>
		<div class='faq-questions'>
		<div class="accordion" id="accordionExample">

		<!-- <div class="card">
		    <div class="card-header" id="headingOne">
		      <h2 class="mb-0"> -->
<!-- </h2></div> -->

		     <div class="card">
		    <div class="card-header" id="headingTwo">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
		          Is Teletherapy private?
		          <i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div></div>
		    <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
		      <div class="card-body">
		        Just like a face-to-face appointment, your Teletherapy visit will be private and confidential.
		      </div>
		    </div>
		</div>


		  <div class="card">
		    <div class="card-header" id="headingThree">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Will the appointment be recorded?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
		      <div class="card-body">
				None of our appointments will ever be recorded or stored.      
			</div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" id="headingSixteen">
		      <h2 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="true" aria-controls="collapseSixteen">
				What should I do if I didn't get the reminder with the link?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
		      <div class="card-body">
		        Contact your therapist if you did not get the link so s/he can send it to you via email or secure messaging.
		      </div>
		    </div>
		  </div>

			<div class="card">
		    <div class="card-header" id="headingFive">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				How to prepare my space for a Teletherapy appointment?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
		      <div class="card-body">
		      	<ul>
				<li>Identify a suitable room that is quiet, private, and free of distractions.</li>
				<li>To keep background noise to a minimum, make sure to close any doors, shut windows, turn off the television, and keep loud pets in another room if possible.</li>
				<!-- <li>Consider hanging a “Do Not Disturb” sign on the door to avoid interruptions.</li> -->
			</ul>
				</div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="headingFour">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
				What can I do to improve the quality of the connection?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
		      <div class="card-body">
				If you live in an area with slow internet, this can really affect the speed of your connection. Here are some basic steps that can improve the overall quality:
				<ul>
					<li>Use wired Ethernet instead of wifi whenever possible. Wifi will work, but you may experience a lag and interference, which can make your video and audio choppy. If you experience a lag or interference while using Wifi, we recommend moving closer to your router. However, wired internet will give you a much smoother, more consistent experience.</li>
					<li>Test your internet connection speed. Google provides an easy way to test your internet connection directly from the google homepage. Simply search for: Internet speed test. Click the blue button that says Run Speed Test. If it is under 10mbps and you’re using Wi-Fi, try using a wired internet connection or restarting your router.</li>
					<li>Close other programs. If you have several programs running in the background, closing them will almost certainly improve the quality.  Also, make sure you’re not downloading any large files. If you are unable to connect, please contact us as soon as possible to see if we can help you troubleshoot.</li>
				</ul>
				</div>
		    </div>
		  </div>
		  
		</div>
	</div>
</div>
</div>

	</div>

</div>
