<style>
	
.banner-section {
	background: #f6f8f9;
	padding: 25px;
	margin-top: 0px !important;
}

.banner-section-text {
	text-align: center;
	padding: 0px 300px;
}

.banner-section-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.fa-sort-down {
	position: absolute;
	right: 20px;
	margin-top: -5px;
}

.faq-questions .card {
	border: none !important;
	margin-bottom: 10px;
}

.faq-questions .card-body {
	background: #f6f8f9;
	border: none;
	color: #5c656d;
	font-weight: 300;
	line-height: 24px;
	padding: 25px 9px;
	padding-left: 32px;
}

.faq-questions .card-header {
	background: white;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none !important;
}

.faq-questions .btn-link {
	text-decoration: none;
	color: #4eaac8;
}

#teletherapy hr {
	width: 10%;
	margin-left: 0px;
	margin-bottom: 0px;
}

#teletherapy .header {
	text-align: center;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}

#teletherapy-title {
	font-size: 20px;
	color: #4eaac8;
	padding-bottom: 5px;
}

#teletherapy img {
	width: 100%;
	margin-top: 25px;
}

.teletherapy-faq {
	background-color: #f6f8f9;
	padding: 50px 0px;

}

.teletherapy-faq-title {
	font-size: 20px;
	color: #4eaac8;
	margin-bottom: 20px;
}

#title .header {
	margin-bottom: 0px !important;
}	

#title .sub-title {
	margin-top: 10px;
}

#teletherapy .card {
	margin-bottom: 10px;
}

#teletherapy .card-body {
	color: #5c656d;
    font-size: 18px;
    line-height: 167%;
    font-weight: 300;
}
</style>

<div id='teletherapy'>
	<div class='header'></div>
	<div id='title'>
		<div class='sub-title center'>CITAS VIRTUALES</div>
		<div class='header'>¿Cómo Usar Nuestra Plataforma De <span class='bold'>Teleterapia?</span></div>
		<hr>
	</div>

	<div class='banner-section'>
		<div class='banner-section-title'>El Método Perfecto Para Nuestro Estilo de Vida Moderno</div>
		<div class='banner-section-text'>Seguro y conveniente – Con una cuenta para acceder el portal de pacientes puede hacer una cita usando su computadora portátil o dispositivo telefónico, entrar a su cita virtual y comenzar su terapia con unos de nuestros terapistas donde quiera que se encuentre. ¡Recibir terapia nunca había sido tan fácil!</div>
	</div>

	<div class='container'>
		<br>

		<div class='teletherapy-title'>Información</div>
		<div class='section-text'><p>Esta guía incluye consejos e instrucciones sobre cómo iniciar una sesión de video. También incluye preguntas frecuentes para que su primera llamada sea un éxito.</p>

		<p>Para prepararse, por favor revise la siguiente información antes de su primera cita de video. Si tiene preguntas después de leer la guía, no dude en comunicarse con nosotros.</p>
</div>

		<br>

		<div class='teletherapy-title'>¿Qué es Telehealth o Teleterapia?</div>
		<div class='section-text'><p>A través de audio y video puede reunirse con su terapeuta por internet usando su computadora, tableta o móvil (iOS o Android)—¡usted escoge!</p>

		<p>Telehealth nos permite conectarnos desde cualquier lugar con citas seguras y convenientes que ahorran tiempo y molestias. No hay necesidad de luchar con el tráfico cuando puede programar y asistir a citas directamente desde su computadora o móvil.</p>
</div>

		<br>

		<div class='row'>
			<div class='col-lg-7'>
				<div class='teletherapy-title'>¿Qué equipo necesito?</div>
				<div class='section-text'><p>Para participar en citas de Telehealth desde su hogar necesitará uno de los siguientes:</p>
				<ol>
				<li>Computadora de escritorio con cámara web y altavoces</li>
				<li>Computadora portátil con cámara web y altavoces</li>
				<li>Tableta con cámara web y altavoces</li>
				<li>Smartphone “teléfono inteligente” (Nota: Para usar un Smartphone, primero debe descargar Telehealth by SimplePractice disponible para iOS o Android en la tienda de aplicaciones)</li>
				</ol>
				<p>También necesitará una conexión a internet de al menos 0.35 mbps. Para obtener resultados óptimos, una conexión a internet confiable y de alta velocidad con un ancho de banda de al menos 10-15 mbps minimizará los problemas de conexión y proporcionará la mejor calidad.</p>

				<p>Nota: Recomendamos que utilice esta herramienta para verificar su conexión al internet antes de su cita: <a href='https://video.simplepractice.com/connection-test'>SimplePractice Internet Connection Test</a>.</p>
				</div>
			</div>
			<div class='col-lg-5'><img src='./images/desk.png'></div>

		</div>

		<br>

		<div class='row'>
			<div class='col-lg-5'>
				<img src='./images/collaborate.png'>
			</div>
			<div class='col-lg-7'>
				<div class='teletherapy-title'>El día de la cita - ¿Cómo unirse desde su computadora de escritorio o computadora portátil?</div>
				<div class='section-text'><p>Si piensa usar su computadora de escritorio o computadora portátil, no necesita bajar una aplicación antes de su cita. Estos son los pasos para unirse:</p>

				<ol>
					<li>Aproximadamente 10 minutos antes de su cita debe recibir un correo electrónico o mensaje de texto SMS. </li>
					<li>Haga clic en el enlace único incluido en su recordatorio. La pantalla de su video llamada se abrirá en una nueva pantalla. </li>
					<li>Si ya me uní a la llamada, verá mi cara en la pantalla. Si no me he unido a la llamada se verá a sí mismo.  </li>
					<li>También verá el mensaje de bienvenida. Haga clic en “Play Test Sound” para probar la configuración de su cámara y micrófono. </li>
					<li>Cuando esté listo, haga clic en “Join Video Call”. Esto lo llevará directamente a la videollamada.</li>
				</ol>

				<p>Nota: Puede haber un ligero retraso al unirme a la sesión en lo que termino con mi sesión anterior. Por favor sea paciente y me uniré a la llamada momentáneamente. </p>

</div>
			</div>
		</div>

		<br>

		<div class='row'>
			<div class='col-lg-6'>
				<div class='teletherapy-title'>El día de la llamada - ¿Cómo unirse usando un teléfono móvil?</div>
				<div class='section-text'><p>Si va a usar un teléfono móvil, estos son los pasos para iniciar su llamada:</p>

				<ol>
				<li>Elija una habitación bien iluminada. No se siente directamente en frente de una ventana debido a la iluminación a su espalda. </li>
				<li>Descargue Telehealth by SimplePractice en la tienda de aplicaciones. Aproximadamente 10 minutos antes de su cita debe recibir un recordatorio por correo electrónico o texto SMS.</li>
				</ol>
				<p><span class='bold'>Nota:</span> Si ha dado su consentimiento para recibir recordatorios por correo electrónico o texto, continuará recibiendolos para citas de Telehealth. Para nuevos clientes, asegúrese de haber proporcionado su correo electrónico y/o número de teléfono móvil para que pueda habilitar los recordatorios por correo electrónico o texto.</p>
				<ol>
				<li>Abra el recordatorio en su teléfono móvil y haga clic en el enlace. Esto abrirá la aplicación Telehealth By SimplePractice.</li>
				<li>Si ya me uní a la llamada, verá mi cara en la pantalla. Si no me he unido a la llamada se verá a sí mismo. </li>
				<li>Cuando esté listo, haga clic en Join Video Call. Esto lo llevará directamente a la videollamada.</li>
				</ol>
				<p><span class='bold'>Nota:</span> Puede haber un ligero retraso al unirme a la sesión en lo que termino con mi sesión anterior. Por favor sea paciente y me uniré a la llamada momentáneamente.</p>
				</ol>
			</div>
			</div>
			<div class='col-lg-6'><img src='./images/dog.png'></div>

		</div>

		<br>

		<div class='teletherapy-title'>Consejos Para Una Conexión Exitosa</div>
		<div class='section-text'>
			<ul>
			<li>Recomiendo unirse a la sesión de video unos minutos antes de su cita para probar su configuración</li>
			<li>Si puede conectarse al internet pero está teniendo problemas para unirse al video, utilice nuestra herramienta de pre-llamada recomendada:
			<a href='https://video.simplepractice.com/connection-test'>https://video.simplepractice.com/connection-test</a></li>
			<li>Para utilizar su teléfono móvil, necesita descargar la aplicación Telehealth by SimplePractice, disponible en la tienda de aplicaciones para iOS o Android.</li>
			<li>Si necesita cancelar su cita o si tiene preguntas sobre su cita, favor de comunicarse conmigo.</li>

			</ul>
		</div>

<br>
</div>
		<div class='teletherapy-faq'>
		<div class='container'>
		<div class='teletherapy-faq-title'>Common Teletherapy Questions</div>
		<div class='teletherapy-text'>
		<div class='faq-questions'>
		<div class="accordion" id="accordionExample">

		<!-- <div class="card">
		    <div class="card-header" id="headingOne">
		      <h2 class="mb-0"> -->
<!-- </h2></div> -->

		     <div class="card">
		    <div class="card-header" id="headingTwo">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
					¿Qué debo hacer si no me llega el enlace?
		          <i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div></div>
		    <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
		      <div class="card-body">
		        Comuníquese conmigo y le enviaré el link por correo electrónico o mensaje privado.
		      </div>
		    </div>
		</div>


		  <div class="card">
		    <div class="card-header" id="headingThree">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				¿Qué es SimplePractice?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
		      <div class="card-body">
				SimplePractice, LLC es mi programa de administración de práctica para manejar citas, programar casos, telesalud, y notas de terapia. SimplePractice LLC cumple con las leyes de HIPAA para asegurar que todos tus datos médicos serán protegidos.        
			</div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header" id="headingSixteen">
		      <h2 class="mb-0">
		        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="true" aria-controls="collapseSixteen">
				¿Qué puedo hacer para mejorar la calidad de mi conexión?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
		      <div class="card-body">
		        <p>Si vive en una área con conexión a internet lenta, esto puede afectar la calidad de su sesión. Les brindamos las siguientes recomendaciones para mejorar la calidad:</p>
		        <ul>
				<li>Conectarse directamente en vez de usar WiFi cuando sea posible. Wifi funciona, pero puede experimentar un retraso e interferencia, lo que puede hacer que su video y audio se vean entrecortados. Internet por cable le brindará una experiencia más fluida y consistente. </li>
				<li>Google provee una manera fácil de probar velocidad de su internet. Simplemente busque: prueba de velocidad. Haga clic en el botón azul que dice Prueba de Velocidad. Si es menos de 0.35 mbps y está usando WiFi, intente conectarse directamente o reiniciar su enrutador.</li>
				<li>Cierre otros programas. Si tiene varios programas abiertos, cerrarlos mejorará la calidad de su llamada. También asegúrese de no estar descargando archivos grandes. </li>
				<p>Si encuentra problemas conectándose, favor de comunicarse lo más antes posible para que yo pueda ayudarle a solucionar los problemas. </p>

		      </div>
		    </div>
		  </div>

			<div class="card">
		    <div class="card-header" id="headingFive">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
				¿Dónde es el mejor lugar para tener mi sesión de telesalud?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
		      <div class="card-body">
		      	<p>Para decidir el mejor lugar en su casa, escoja un lugar privado y aislado de otros miembros de la familia, compañeros de trabajo, mascotas, u otras distracciones. Le brindamos las siguientes sugerencias: </p>
					<li>Ajuste la luz. Pequeños ajustes a la luz pueden brindar un gran cambio de calidad a su llamada. Estos ajustes incluyen poder una luz detrás de su dispositivo hacia usted. Asegúrese que no tenga luz detrás de usted. Si está usando una computadora portátil, asegúrese que esté a nivel de ojo y que la cámara no esté mirando el techo o el piso. </li>
					<li>Escoja un lugar privado y silencioso. Identifique un lugar sin distracciones. Cierre puertas y ventanas para eliminar ruidos del fondo. </li>

				</div>
		    </div>
		  </div>
		  <div class="card">
		    <div class="card-header" id="headingFour">
		      <h2 class="mb-0">
		        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					¿Es Telehealth privada?
				<i class="fas fa-sort-down"></i>
		        </button>
		      </h2>
		    </div>
		    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
		      <div class="card-body">
				<p>Igual como una cita cara-a-cara, su cita de Telehealth es privada y confidencial.</p>

				<p>¡Felicidades! </p>
				<p>Ahora puede usar Telehealth by SimplePractice.</p>

				</div>
		    </div>
		  </div>
		  
		</div>
	</div>
</div>
</div>

	</div>

</div>
