<style>

#insurance-carousel {
  padding: 55px 0px;
}

.insurance-header {
  font-size: 42px;
    line-height: 53px;
    font-weight: 300;
    text-align: left;
    margin: 0px 0px 20px 0px;
}

.insurance-accepted {
  padding: 0px 0px 0px 0px;
}

.insurance-accepted img {
  height: 30px;
  line-height: 200px;
  margin: 0px 50px;
}

.insurance-accepted .sub-title {
  text-align: center;
}

.insurance-accepted .header {
  margin-top: 10px;
}

.slider {
  margin-top: 5px;
  margin-bottom: 15px;
  /*border-top: 1px solid lightgray;*/
  /*border-bottom: 1px solid lightgray;*/
  padding: 25px 0px 25px 0px;
  width: 100%;
}
.slider img {
  height: 30px;
  line-height: 200px;
  margin: 0px 50px;
}
</style>

<div id='insurance-carousel'>
<div class='container'>
  <div class='sub-title center'>COMMERCIAL INSURANCES</div>
  <div class='section-title center'>Most Insurance Plans Accepted</div>
  <hr class='short center'>
  <p class='insurance-accepted-text section-text'>Wilmington Mental Health (WMH) is committed to providing affordable psychotherapy services to all of our patients. We accept the following Behavioral Health insurances:</p>
  <hr style='margin: 40px 0px'>
  <div class='insurance-accepted'>
    <div class='header'>In Network <span class='bold'>Care</span></div>
      <div class='row' style='width: 100%; margin-left: 0px !important'>
        <div class="slider">
          <!-- <div class='insurance-level-1'> -->
            <div><img src='./images/aetna.png'></div>
            <div><img src='./images/bcbs.png'></div>
            <div><img src='./images/humana.png'></div>
            <div><img src='./images/cigna.png'></div>
            <div><img src='./images/magellan.png'></div>
          <!-- </div> -->
          <!-- <div class='insurance-level-2'> -->
            <div><img src='./images/medcost.png'></div>
            <div><img src='./images/united.png'></div>
            <div><img src='./images/Optum.png'></div>
        </div>
      </div>
      <div class='insurance-accepted-text section-text'>
        <p>Most insurance companies require a diagnosis that will remain on your permanent medical records and usually dictates how many, and what types of therapy you are eligible to receive. We believe that all your treatment options should be decided between you and your therapist.</p>
      </div>
  </div>
</div>
</div>


