<style>

.insurance-header {
  font-size: 42px;
    line-height: 53px;
    font-weight: 300;
    text-align: left;
    margin: 40px 0px 20px 0px;
}
.insurance-accepted {
  padding: 0px 0px 50px 0px;
}

.insurance-accepted img {
  height: 30px;
  line-height: 200px;
  margin: 0px 50px;
}

.insurance-level-1 {
  margin: 25px auto;
  text-align: center;
}

.insurance-level-2 {
  margin: 25px auto;
  text-align: center;
}
</style>

<div class='container'>
  <div class='insurance-header'>Most Insurance Plans Accepted</div>
  <p class='insurance-accepted-text section-text'>Wilmington Mental Health (WMH) is committed to providing affordable psychotherapy services to all of our patients. We accept the following Behavioral Health insurances:</p>
  <div class='insurance-accepted'>
    <div class='header'>In <span class='bold'>Network</span></div>
      <div class='row' style='width: 100%; margin-left: 0px !important'>
        <!-- <div class="slider"> -->
          <div class='insurance-level-1'>
            <span><img src='./images/aetna.png'></span>
            <span><img src='./images/bcbs.png'></span>
            <span><img src='./images/humana.png'></span>
            <span><img src='./images/cigna.png'></span>
            <span><img src='./images/magellan.png'></span><br>
          </div>
          <div class='insurance-level-2'>
            <span><img src='./images/medcost.png'></span>
            <span><img src='./images/united.png'></span>
            <span><img src='./images/Optum.png'></span>
        </div>
      </div>
      <div class='insurance-accepted-text section-text'>
        <p>Most insurance companies require a diagnosis that will remain on your permanent medical records and usually dictates how many, and what types of therapy you are eligible to receive. We believe that all your treatment options should be decided between you and your therapist.</p>
      </div>
  </div>
</div>



