<style>

.insurance-accepted {
  padding: 0px 0px 50px 0px;
}

.slider {
  margin-top: 5px;
  margin-bottom: 15px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 25px 0px 25px 0px;
  width: 100%;
}

.slider img {
  height: 50px;
  line-height: 200px;
  margin: 0px 50px;
}



</style>

<div class='container'>
  <div class='insurance-accepted'>
    <div class='header'>In <span class='bold'>Network</span></div>
      <div class='row' style='width: 100%; margin-left: 0px !important'>
        <div class="slider">
            <div><img src='./images/aetna.png'></div>
            <div><img src='./images/bcbs.png'></div>
            <div><img src='./images/humana.png'></div>
            <div><img src='./images/cigna.png'></div>
            <div><img src='./images/magellan.png'></div>
            <div><img src='./images/medcost.png'></div>
            <div><img src='./images/united.png'></div>
        </div>
      </div>
      <div class='insurance-accepted-text section-text'>
        <p class='insurance-accepted-text section-text'>Wilmington Mental Health (WMH) is committed to providing affordable psychotherapy services. We accept the following Behavioral Health insurances:</p>
        <p>Most insurances require a diagnosis that will remain on your permanent medical records and usually dictates how many and what type of therapy you can receive. We believe anything about your treatment should be decided between you and your therapist.</p>
      </div>
  </div>
</div>



