<style>

.slider {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 25px 50px 25px 50px;
  width: 100%;
}

.slider img {
  height: 50px;
  line-height: 200px;
  margin: 0px 50px;
}



</style>

<div class='row' style='width: 100%; margin-left: 0px !important'>
<div class="slider">
    <div><img src='./images/aetna.png'></div>
    <div><img src='./images/bcbs.png'></div>
    <div><img src='./images/humana.png'></div>
    <div><img src='./images/cigna.png'></div>
    <div><img src='./images/magellan.png'></div>
    <div><img src='./images/medcost.png'></div>
    <div><img src='./images/united.png'></div>
</div>
</div>



