<style>

#out-of-network {
  text-align: center;
  /*text-transform: uppercase;*/
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  background: #005A9D;
  padding: 55px 50px 55px 10px;
}

#out-of-network .insurance-accepted-text {
  color: white;
  text-align: left;
}

#out-of-network img {
  width: 90%;
  height: auto;
  margin: 10px !important;
}

.out-of-network {
  text-align: left;
  margin-bottom: 12px !important;
}
</style>


<div id='out-of-network'>
  <div class='container'>

<div class='insurance-accepted'>
    <div class='header-alt'>Out of <span class='bold'>Network</span></div>
    <div class='row'>
      <div class='col-lg-6'><img src='./images/out.jpg' alt='Out of network image'></div>
      <div class='col-lg-6'>
        <div class='row' style='padding-left: 50px'>
          <div class='col-lg-4' style='padding-left: 0px'><div class='out-of-network'>MHN</div></div>
          <div class='col-lg-4' style='padding-left: 0px'><div class='out-of-network'>MultiPlan</div></div>
          <div class='col-lg-4' style='padding-left: 0px'><div class='out-of-network'>HealthNet</div></div>
          <div class='insurance-accepted-text section-text'>
            <!-- <p>We currently do not accept Medicaid or Medicare. We do not participate with some commercial insurances that are part of Medicaid. We also do not participate with BCBS Blue Value Plan (this network product has been closed since 2014).</p> -->

            <p>Our services are reimbursable by most "out of network" insurance plans. Meaning that your insurance company will fully or partially reimburse for care that is outside their network of health care providers. Please contact your insurance company and request an authorization for out-of-network treatment prior to initiating contact with us. Questions about out-of-network benefits, or what percentage you will pay for out-of-network psychotherapy can typically answered by your insurance benefit plan manager.</p>

            <p>We currently do not accept Medicaid or Medicare. We also do not participate with BCBS Blue Value Plan.</p>
          </div>
        </div>
      </div>
      </div>




  </div>

<!-- 
  <div class='insurance-accepted'>
    <div class='header-alt'>Out of <span class='bold'>Network</span></div>
    <div class='row'>
      <div class='col-lg-1'></div>
      <div class='col-lg-2'><div class='out-of-network'>MHN</div></div>
      <div class='col-lg-2'><div class='out-of-network'>MultiPlan</div></div>
      <div class='col-lg-2'><div class='out-of-network'>HealthNet</div></div>
      <div class='col-lg-1'></div>
    </div>
    <div class='insurance-accepted-text section-text'>
      <p>We currently do not accept Medicaid or Medicare. We do not participate with some commercial insurances that are part of Medicaid. We also do not participate with BCBS Blue Value Plan (this network product has been closed since 2014).</p>

      <p>Our services are reimbursable by most "out of network" insurance plans. Meaning that your insurance company will fully or partially reimburse for care that is outside their network of health care providers. Please contact your insurance company and request an authorization for out-of-network treatment prior to initiating contact with us. Questions about out-of-network benefits, or what percentage you will pay for out-of-network psychotherapy can typically answered by your insurance benefit plan manager.</p>
    </div>
  </div> -->
</div>
</div>

