<style>

.out-of-network {
  text-align: center;
  /*text-transform: uppercase;*/
  color: #4eaac8;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

</style>


<div class='insurance-accepted background-alt'>
  <div class='container'>
    <div class='header-alt'>Out of <span class='bold'>Network</span></div>
    <div class='row'>
      <div class='col-lg-1'></div>
      <div class='col-lg-2'><div class='out-of-network'>MHN</div></div>
      <div class='col-lg-2'><div class='out-of-network'>MultiPlan</div></div>
      <div class='col-lg-2'><div class='out-of-network'>TriCare</div></div>
      <div class='col-lg-2'><div class='out-of-network'>HealthNet</div></div>
      <div class='col-lg-2'><div class='out-of-network'>FSA/HSA</div></div>
      <div class='col-lg-1'></div>
    </div>
    <div class='insurance-accepted-text section-text'>
      <p>We do not accept Medicaid or Medicare currently. We do not participate with some commercial insurances that are part of Medicaid. We also do not participate with BCBS Blue Value Plan (this network product has been closed since 2014).</p>

      <p>Our services are reimbursable by most "out of network" insurance plans, this means that your insurance company will fully or partially reimburse for care outside their network of health care providers. Please contact your insurance company and request authorization for out-of-network treatment prior to initiating contact with us. Questions about out-of-network benefits or what percentage you will pay for out-of-network psychotherapy are usually answered by your insurance benefit plan manager.</p>
    </div>
  </div>
</div>

