<style>

#private-pay {
  padding: 55px;
}

#private-pay img {
  margin-top: 50px;
}

</style>


<div class='private-pay'>
  <div class='container'>
    <div class='header'>Private <span class='bold'>Pay</span></div>
    <div class='insurance-accepted-text section-text'>
      <p>Paying for care through self-pay as opposed to utilizing your insurance can be difficult, unless you are financially affluent. Out-of-pocket payments have some advantages, including how much control you and your therapist will have regarding treatment decisions, length of therapy sessions, and your confidentiality. That being said, when seeking mental health treatment please keep in mind the following:

      <ul>
        <li>We cannot guarantee that your insurance company will pay for services rendered or follow through with their original Explanation of Benefits (EOB).</li>
        <li>We offer flexible payment options to make mental health care more accessible for the average self-paying patient.</li>
        <li>Please remember that payment is due when services are rendered. We prefer to collect payments at the beginning of the appointment rather than at the end. If you cannot afford to pay the entire cost of your visit on the day of the appointment, you will be asked to complete a promissory note.</li>
        <li>If you recently lost your job, you may qualify to continue health coverage under COBRA and keep your health insurance for a specified period of time, as long as you continue to pay the premiums.</li>
        <li>Psychotherapy is typically covered by pre-tax Flexible Spending Accounts (FSAs) or Health Spending Accounts (HSAs).</li>
        <li>Insurance companies will ask us to provide a diagnosis, in addition to information pertinent to your treatment, such as the treatment plan, current psychosocial stressors, and level of functioning.</li>
        <li>Out of respect for your privacy, we will disclose only the minimum amount of information necessary to justify the services provided. WMH believes mental health treatment is a right, not a privilege. We will gladly help you determine the best treatment course, should the coverage with your health plan become an issue.</li>
      </ul>
    </div>
    <img src='./images/typewriter.jpg' style='margin-top: 55px; width: 100%' alt='Typewriter'>
  </div>
</div>

