<style>

	#why-us i {
		font-size: 120px;
	}
	#why-us {
		padding: 55px 0px 55px 0px;
		color: #5c656d;
		text-align: left;
		background: white;
	}

	#why-us button {
		float: none;
		margin-top: 20px;
	}

	#why-us button:hover {
		background: #00314A; 
		transition: background .5s ease;
	}
	
	#why-us a {
		text-decoration: none;
		color: #5c656d;
	}

	.why-image {
		width: 100%;
		border-radius: 10px;
		padding-top: 0px;
		/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/
	}

	.why-image img {
		width: 90% !important;
		box-shadow: 10px 10px 40px gray;
	}
	#why-us hr {
		width: 30%;
		margin-left: 0px;
	}

</style>

<div class='' id='why-us'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='why-image'>
					<img src='./images/art.png'>
				</div>
			</div>
			<div class='col-lg-6'>
				<br>
				<div class='sub-title'>HOMEWORK ASSINGMENTS</div>
				<div class='section-title'>Therapy <span class='bold'>Worksheets</span></div>
				<hr>
				<div class='section-text'><p>Homework is an element of therapy that makes it collaboratively and allow patients to rehearse skills learned during treatment. Our therapists assign tasks to be completed between sessions to:</p>

				<p>Facilitate processing • Develop awareness • Promote active change • Consolidate learned knowledge • Foster long-lasting outcomes.</p>
				</div>
			</div>
			</div>
			<div class='row section-text' style='padding-top: 110px'>
				<div class='col-lg-1'><i class="fas fa-clipboard-list"></i></div>
				<div class='col-lg-3' style='padding-left: 35px'>
					<a href='./images/PersonalGoals.pdf' target='_blank'>Personal Goals</a><br>
					<a href='./images/Self-CareActivities.pdf' target='_blank'>Self-Care Activities</a><br>
					<a href='./images/SleepHygiene.pdf' target='_blank'>Sleep Hygiene</a><br>
					<a href='./images/BreathingRetraining.pdf' target='_blank'>Breathing Retraining</a><br>
					<a href='./images/CognitiveDisortions.pdf' target='_blank'>Cognitive Distortions</a><br>
				</div>
				<div class='col-lg-1'><i class="fas fa-clipboard-list"></i></div>
				<div class='col-lg-3' style='padding-left: 35px'>
					<a href='./images/GratitudeJournal.pdf' target='_blank'>Gratitude Journal</a><br>
					<a href='./images/WhoAmI.pdf' target='_blank'>Who Am I?</a><br>
					<a href='./images/AngerManagementSkills.pdf' target='_blank'>Anger Management Skills</a><br>
					<a href='./images/MiracleQuestion.pdf' target='_blank'>Miracle Question</a><br>
					<a href='./images/ThoughtRecord.pdf' target='_blank'>Thought Record</a><br>
				</div>
				<div class='col-lg-1'><i class="fas fa-clipboard-list"></i></div>
				<div class='col-lg-3' style='padding-left: 35px'>
					<a href='./images/SOLVEDTechnique.pdf' target='_blank'>SOLVED Technique</a><br>
					<a href='./images/AssertiveCommunication.pdf' target='_blank'>Assertive Communication</a><br>
					<a href='./images/ActiveListening.pdf' target='_blank'>Active Listening</a><br>
					<a href='./images/RelapsePreventionPlan.pdf' target='_blank'>Relapse Prevention Plan</a><br>
					<a href='./images/CouplesExercises.pdf' target='_blank'>Couples Exercices</a><br>
				</div>
			</div>
		</div>
	</div>
