<style>

.card-head {
	font-size: 24px;
	margin-top: 25px;
	color: gray;
}
#docs {
	margin-top: 0px;
	padding-bottom: 55px;
	padding-top: 55px;
}

.flip-card, .flip-card-x {
  background-color: transparent;
  width: 100%;
  height: 300px;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner, .flip-card-inner-x {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-x:hover .flip-card-inner-x {
  transform: rotateX(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back, .flip-card-back-x {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: 10px 10px 20px lightgray;
  border: 1px solid lightgray;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-front i {
	font-size: 100px;  
	color: #4eaac8 !important;
	margin-top: 45px;
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  color: gray;
  font-size: 14px;
  transform: rotateY(180deg);
  padding: 10px;
  text-align: left;
  position: relative;
}

.flip-card-back-x {
  background-color: white;
  color: gray;
  font-size: 14px;
  transform: rotateX(180deg);
  padding: 10px;
  text-align: left;
  position: relative;
}

.flip-card-back a, .flip-card-back-x a {
	font-size: 20px;
	text-align: center !important;
	position: absolute;
	bottom: 10px;
	right: 30%;
}
</style>

<div id='docs' class='background-alt'>
<div class='container'>
	<div class='row'>
		<div class='col-lg-4'>
			<div class="flip-card">
			  	<div class="flip-card-inner">
			    	<div class="flip-card-front">
			      		<div class='card-head'>Email/Texting Consent</div>
			      		<i class="fas fa-file-alt"></i>
			    	</div>
			  		<div class="flip-card-back">
	      				We keep your Protected Health Information private and secure. This consent form is to gain permission  to share administrative information like appointment reminders, scheduling, or payment receipts with you. Please understand that some potential risks associated with email/text interaction include: misdelivery, unauthorized access to thirdpartes, information may remain in the cloud. Please indicate your preferences about emails and texts and sign this form.
 						<br>
 						<a href='./images/Email-Text.pdf' target='_blank'>Download Form</a>
    				</div>
  				</div>
			</div>
		</div>
		<div class='col-lg-4'>
			<div class="flip-card-x">
			  	<div class="flip-card-inner-x">
			    	<div class="flip-card-front">
			      		<div class='card-head'>Release of Information</div>
			      		<i class="fas fa-file-alt"></i>
			    	</div>
			  		<div class="flip-card-back-x">
	      				This form is to give us permission to communicate with third parties. The content and information to be released is protected under State and Federal law (45 CFR Part 164 and 164; 42 CFR Part 2) and cannot be re-disclosed without  further written consent as authorized by G.S. 122C-53 through G.S. 122C-56. A general authorization for the release of other medical information is not sufficient for this purpose. More details can be found in our Privacy Practice form.
	      				<br>
	      				<a href='./images/ReleaseOfInformation.pdf' target='_blank'>Download Form</a>
    				</div>
    			</div>
			</div>
		</div>
		<div class='col-lg-4'>
			<div class="flip-card">
			  	<div class="flip-card-inner">
			    	<div class="flip-card-front">
			      		<div class='card-head'>Payment Authorization</div>
			      		<i class="fas fa-file-alt"></i>
			    	</div>
			  		<div class="flip-card-back">
	      				<p>We ask you to provide formal authorization to process credit card payments. Please verify and complete this form to give Wilmington Mental Health to do so. Do not omit any fields and include your signature and today’s date at the end.</p>
						<p>A picture ID (school ID, military ID, etc.) is required for all patients 18-year-old and older to protect you and our practice against insurance fraud.</p>

							<br>
 						<a href='./images/PaymentAuthorization.pdf' target='_blank'>Download Form</a>

    				</div>
  				</div>
			</div>
		</div>
	</div>
</div>
</div>
