<style>

#handouts {
	text-align: center;
	width: 100%;
	padding-top: 55px;
}

</style>


<div id='handouts'>
<div class='container'>
		<div class='sub-title center'>Registration</div>
		<div class='header'>Patient <span class='bold'>Intake</span></div>
		<hr class='short center'>
</div>
</div>