<style>

#handouts .header {
	text-align: center;
	width: 100%;
}

</style>


<div id='handouts'>
<div class='container'>
	<div class='row'>
		<div class='header'>Handouts <span class='bold'></span></div>
	</div>
</div>
</div>