<div class='container'>
    <div class='section-title center'>Important <span class='bold'>Documents</span></div>
    <br>
    <div class='section-text'>
        The content and information you are releasing to us is protected under State and Federal law (45 CFR Part 164 and 164;
        42 CFR Part 2) and cannot be re-disclosed without my further written consent as authorized by G.S. 122C-53 through G.S.
        122C-56. The circumstances under which disclosure is permitted or required by state or federal confidentiality rules are
        described in our Notice of Privacy Practices.
    </div>
    <div class='spacer-medium'></div>
</div>