<style>

	#why-us {
		padding: 75px 200px;
		color: #5c656d;
		text-align: left;
	}

	#why-us button {
		float: none;
		margin-top: 20px;
	}

	#why-us img {
		width: 100%;
		border-radius: 10px;
		margin: auto;
		margin-top: 25px;
		/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/
	}

	#why-us hr {
		width: 30%;
		margin-left: 0px;
	}

</style>

<div class='background-alt' id='why-us'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='sub-title'>Intake</div>
				<div class='section-title'>Get <span class='bold'>Started</span></div>
				<hr>
				<div class='section-text'>We use a demographic form to obtain core data and identify our patients. This form will help us better understand your situation and design a treatment that fits your needs. To save time when you arrive for your first appointment, please download and complete this demographic form. Please print it and bring it with you to your first visit. If any information changes during your treatment, please let us know.
				</div>
				<div class='why-button'><a href='https://pdf.ac/DQSWx'><button class='main-box'>Start Intake</button></a></div>
			</div>
			<div class='col-lg-6'>
				<div class='why-image'><img src='./images/computer.png'></div>
			</div>
		</div>
	</div>
</div>