<style>

	.why-button {
		text-align: center;
		width: 100%;
	}

	#why-us {
		padding: 55px 200px;
		color: #5c656d;
		text-align: left;
	}

	#why-us button {
		float: none;
		margin-top: 40px;
		margin: auto;
	}

	#why-us img {
		width: 100%;
		border-radius: 10px;
		margin: auto;
		margin-top: 25px;
		/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/
	}

	#why-us hr {
		width: 30%;
		margin-left: 0px;
	}

</style>

<div class='' id='why-us'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-12'>
				<div class='sub-title'>Intake Form</div>
				<div class='section-title'>Get <span class='bold'>Started</span></div>
				<hr>
				<div class='section-text'>We use registration forms to obtain core data and identify our patients. These forms will help us better understand your situation and design a treatment that fits your needs. To save time when you arrive for your first appointment, please download and complete our intake packet. Please print it and bring it with you to your first visit. If any information changes during your treatment, please let us know.
				</div>
				<div class='why-button'><a href='https://pdf.ac/DQSWx'><button class='main-box'>Start Application</button></a></div>
			</div>
<!-- 			<div class='col-lg-6'>
				<div class='why-image'><img src='./images/computer.png'></div>
			</div> -->
		</div>
	</div>
</div>