<style>

	.why-button {
		text-align: center;
		width: 100%;
	}

	#intakeforms {
		color: #5c656d;
		text-align: left;
	}

	#intakeforms button {
		float: none;
		margin-top: 40px;
		margin: auto;
		width: 207px;
		margin: 0px 15px;
	}

	#intakeforms img {
		width: 100%;
		border-radius: 10px;
		margin: auto;
		margin-top: 25px;
		/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/
	}

	#intakeforms hr {
		width: 30%;
		margin-left: 0px;
	}

</style>

<div class='' id='intakeforms'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-12'>
				<div class='sub-title'>Intake Form</div>
				<div class='section-title'>Get <span class='bold'>Started</span></div>
				<hr>
				<div class='section-text'>Wilmington Mental Health offers easy access to registration forms and the patient portal, where you can view your next
				appointment date; send secure, non-urgent messages or questions to staff; view your personal health information including medications and lab results; view summaries from your medical appointments; and update your demographic information (i.e., address, phone, insurance).
				</div>
				<div class='why-button'>
					<br>
					<span class='button-group'>
						<span><a href='https://hipaa.jotform.com/wmhnc/intake-packet' target='_blank'><button class='main-box'>Start
							Application</button></a></span>
						<span><a href='https://hipaa.jotform.com/wmhnc/registracion' target='_blank'><button class='main-box'>Ingreso Del Paciente</button></a></span>
					</span>
				</div>
			</div>
<!-- 			<div class='col-lg-6'>
				<div class='why-image'><img src='./images/computer.png' alt='Computer'></div>
			</div> -->
		</div>
	</div>
</div>