<style>

h5 {
    text-decoration: underline;
}

.patient-type, .contact-box {
    border: 1px solid lightgray;
    padding: 25px;
    margin: 25px 0px 25px 0px;
    height: 125px;
}

</style>

<div class='container'>
    <br>
    <p class='section-text'>
        You will receive information to create an account during your first contact.
    </p>
    <div class='row'>
        <div class='col-lg-6'>
            <div class='patient-type'>
                <h5 class='center'>Are you a new patient?</h5>
                    <br>
                <div class='section-text center'>Access our Patient Registration Packet <a href='#admission'>here.</a></div>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class='patient-type'>
                <h5 class='center'>Are you an existing patient?</h5>
                <br>
                <div class='section-text center'>Access our Patient Portal <a href='https://wmh1.clientsecure.me/sign-in' target='_blank'>here.</a></div>
            </div>
        </div>
    </div>
    <div class='section-text'>
        <p>We use registration forms to obtain core data and identify our patients. The forms help us better understand your situation and design a treatment that fits your needs. To save time when you arrive for your first appointment, please complete our intake packet. If you prefer, you can download and print the intake <a href='./images/PatientRegistration.pdf' target='_blank'>here</a>. You must bring it with you during your first visit. If any information changes during your treatment, please let us know.</p>
        <p>If you would like to establish yourself as a patient, please call our main office.</p>
    </div>
    <div class='row'>
        <div class='col-lg-6'>
            <div class='contact-box'>
                <h5>Primary Care and Behavioral Health:</h5>
                <div class='section-text'>
                    New Hanover: (910) 777-5575
                </div>
            </div>
        </div>
        <div class='col-lg-6'>
            <div class='contact-box'>
                <h5>After hours:</h5>
                <div class='section-text'>
                    If you feel that you are experiencing a true emergency, call 911. Wilmington Mental Health Crisis Line: 910-777-7712
                </div>
            </div>
        </div>
    </div>
</div>