<style>

#anger {
	background: white;
	/*height: 300px;*/
	width: 100%;
	color: /*white*/;
	padding-top: 50px;
	padding-bottom: 50px;
}

#anger hr {
	border-color: black;
}

.left-title {
	text-align: center;
	padding-top: 100px;
}

.right-side {
	position: relative;
}
</style>

<div id='anger'>
<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<div class='sub-title'>EMOTION REGULATION</div>
					<div class='section-title'>Anger <span class='bold'>Management</span>
					</div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
				<div class='right-side section-text'>
					<p>Anger is your body’s natural response to threats, injustice, and disappointments. It often manifests as a result of frustration, feeling that something or someone has done wrong to you, or feeling blocked from something that is important to you. From an evolutionary psychology standpoint, anger is a necessary device or defense mechanism that gives us strength during moments of fear or powerlessness.</p>

					<p>Anger Management is our prevention and control approach to therapy to help you deploy anger effectively and successfully. Anger Management therapy aims to provide you with skills to communicate your anger in healthy ways and regulate uncomfortable emotions when they emerge.</p>
				</div>
			</div>
		</div>
	</div>
</div>