<style>

#basic {
	background: #E6F4F1 !important;
	padding: 55px 15px;
	height: 100%;
}

.bigger {
	font-size: 20px;
}

#certificate {
	padding: 50px 25px;
	/*background-color: #5c656d;*/
	/*color: white;*/
}

#certificate .section-text {
	/*color: white;*/
}

#certificate .image {
	text-align: center;
}

#certificate .image img {
	height: 150px;
	width: auto;
	margin: auto;
}

#consider {
	padding: 55px 0px;
}


#destructive {
	background: #97AFB9;
	padding: 55px 10px;
}

#destructive .section-text, #destructive .section-title {
	color: white;
}

#anger-tabs img {
	width: 100%;
}	

#anger-tabs .nav-item {
	width: 33.33%;
	font-size: 22px;
}

#anger-tabs .nav-link {
	text-align: center;
	color: white;
	margin-left: 0px;
	margin-right: 0px;
	background:  #00314A;
}

#anger-tabs .nav-tabs .nav-item.show .nav-link, #anger-tabs .nav-tabs .nav-link.active {
	border: none;
}

#if {
	background: #97AFB9 !important;
	padding: 55px 15px;
}

#instructor {
	padding-bottom: 0px;
}

.instructor-image {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.instructor-image img {
	height: 150px;
	width: 150px !important;
	margin: auto;
}
.tab-pane {
	padding: 0px 0px;
}

#consider .section-text {
	margin-top: 20px;
}

#when {
	width: 100%;
}

#when td {
	vertical-align: top;
	border: 5px solid white;
}

th {
	background: #97AFB9;
	color: white;
	padding-left: 10px;
	border: 5px solid white;
}

#why {
	background: #806DAE!important;
	color: white !important;
	padding: 55px 0px;
}

#why .section-text {
	color: white;
}
</style>

<div id='anger-tabs'>
	<div class='container'>

		<ul class="nav nav-tabs" id="myTab" role="tablist">

		  <li class="nav-item">
		    <a class="nav-link active" id="home-tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Why We Have Anger?</a>
		  </li>

		  <li class="nav-item">
		    <a class="nav-link active" id="profile-tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style='margin: 0px 10px'>Anger Management Certificate</a>
		  </li>

		  <li class="nav-item">
		    <a class="nav-link active" id="contact-tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">About the Instructor</a>
		  </li>

		</ul>

	</div>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
		  	
		  		<div id='why'>
		  			<div class='container'>
		  				<div class='row'>
		  					<div class='col-lg-6'><img src='./images/fist.png' style='box-shadow: 5px 5px 40px black'></div>
					  		<div class='col-lg-6'>
					  			<div class='section-title'>Why we have <span class='bold'>Anger?</span></div>
					  			<div class='section-text'>
					  				<p>There are many reasons why anger manifest within us, including:
					  					<ul>
											<li>Stress in our lives</li>
											<li>Sleep deprivation</li>
											<li>Demands of our jobs</li>
											<li>Our important needs are not being met</li>
											<li>Feeling that we are not treated fairly</li>
											<li>Learning that anger can help us release tension</li>
											<li>Things are not going the way we want them to</li>
											<li>Feeling disrespected or not understood by others</li>
											<li>To manipulate people or situation</li>
											<li>Not getting our important needs met in situations</li>
										</ul>
									</p>
					  			</div>
					  		</div>
		  				</div>
		  			</div>
		  			<div class='section-text center bigger' id='mobile-size' style='width: 70%; padding: 25px 50px'>Maintaining serenity during difficult times and preventing inappropriate <br>expressions of anger is a crucial skill to living a healthy, happy, and balanced life.</div>
  					</div>
				</div>

  				
  

  <div id='consider'>
	<div class='container'>
	<div class='row'>
		<div class='col-lg-6'>
			<div id='if'>
			<div class='section-title' style='color:white'>Consider Anger Management if…</div>
			<ul class='section-text' style='color: white'>
				<li>You get very annoyed or angry more than once a day</li>
				<li>Your personal problems make you more frustrated than usual</li>
				<li>You keep feeling like you are going to explode with rage</li>
				<li>You react too quickly in the heat of the moment</li>
				<li>You feel like breaking things when you get mad</li>
				<li>You feel guilty, sad, anxious, worried after expressing anger</li>
				<li>You hold in your anger until it explodes</li>
				<li>Injustice triggers anger for you</li>
				<li>Your anger has affected your work relationships</li>
				<li>Your anger has affected your marriage/romantic relationship(s)</li>
				<li>Your anger has affected your children, family or friends</li>
				<li>Your anger has affected your health and physical well-being</li>
				<li>Your anger has endangered you</li>
				<li>Your anger has affected you financially</li>
				<li>Your anger has affected your personal integrity and/or spirituality</li>
			</ul>
		</div>
	</div>
		<div class='col-lg-6'>
			<div id='basic'>
			<div class='section-title'>Practice these basic techniques</div>
			<ul class='section-text'>
				<li>Distance yourself from the trigger</li>
				<li>Meditate or engage in any mindfulness activity</li>
				<li>Count your breath</li>
				<li>Get at least 6-8 hours of sleep every day</li>
				<li>Use humor to diffuse tension</li>
				<li>Write down potential solutions to the problem</li>
				<li>Tense and release your muscles</li>
				<li>Get some exercise</li>
				<li>Listen to music</li>
				<li>Draw or sketch something</li>
				<li>Do not hold a grudge</li>
				<li>Make love to your partner</li>
				<li>Hold something soft on your hands</li>
				<li>Scream into your pillow</li>
				<li>Take a cold shower</li>
			</ul>
		</div>
	</div>
</div>
	  		
	  		<div class='row' style='width: 100%'>
  				<div class='section-text center bigger' style='width: 100%; padding-top: 25px; padding-bottom: 55px'>We understand you may be thinking you do not need anger management;<br>people just need to stop making you angry, right?</div>
  			</div>

  		</div>
  			<div id='destructive'>
  				<div class='container'>
  					<div class='row'>
  				<div class='section-title center'>Destructive anger/rage is unjustifiable</div>
  				<div class='section-text'>
  					<p>Learning to manage our anger can be a challenging. However, taking responsibility for our behaviors and how they affect others is our duty. When anger leads to complicated situations, becomes unmanageable or destructive, it affects the overall quality of our life.</p>
					<p>You should not feel bad because you feel angry. Anger is only bad when it leads to reactions that can be detrimental to you and others</p>
				</div>
  			</div>
  			<div class='row'>
  				<div class='col-lg-4'>
  					<div class='section-text bigger center'>PHYSICAL RESPONSES TO ANGER</div>
  					<div class='section-text center'>
  						Fast breathing<br>
						Tense muscles<br>
						Rise in blood pressure<br>
						Heartbeat<br>
						Sweating<br>
						Trembling<br>
						Clenched fists and jaws<br>
					</div>
  				</div>
  				<div class='col-lg-4'>
  					<div class='section-text bigger center'>HEALTH CONSEQUENCES OF ANGER</div>
  					<div class='section-text center'>
  						Headaches and migraines<br>
						Guilt, shame and sadness<br>
						Anxiety, depression<br>
						Hypertension<br>
						Weakened immune system<br>
						Feelings of inadequacy<br>
  					</div>
  				</div>
  				<div class='col-lg-4'>
  					<div class='section-text bigger center'>PERSONAL COSTS OF ANGER</div>
  					<div class='section-text center'>
  						Interpersonal conflict<br>
						Domestic abuse or violence<br>
						Substance abuse<br>
						Road rage<br>
						Legal fees<br>
						Incarceration<br>
  					</div>
  				</div>
  			</div>
  			<br>


  			<div class='section-title center'>Rational Emotive Behavioral Therapy</div>

  			<div class='row'>
  				<div class='col-lg-4'>
  					<div class='section-text' style='padding-left: 70px'>
  						When anger is harmful<br>
						Anger and its causes<br>
						Role playing scenarios
  					</div>
  				</div>
  				<div class='col-lg-4'>
  					<div class='section-text' style='padding-left: 70px'>
  						The  costs of anger<br>
						Control your anger<br>
						Anger log
  					</div>
  				</div>
  				<div class='col-lg-4'>
  					<div class='section-text' style='padding-left: 70px'>
  						ABC to turn down the “heat”<br>
						Challenge your thought processes<br>
						Problem solve
  					</div>
  				</div>
  			</div>
		</div>
	</div>

		  <div class="tab-pane show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
		  	<div id='certificate'>
			  	<div class='container'>
			  		<div class='section-title center'>
			  			Anger Management Certificate
			  		</div>
			  		<div class='image'><img src='./images/cert.png'></div>
			  		<div class='section-text'>
			  			<p>We offer Anger Management Class to help you overcome anger problems through effective techniques. Our program teaches you skills to manage anger and regain control of your life through practice and review. Each session is designed to provide meaningful content intended to meet court, legal, or employer requirements, but it can be used for personal growth.</p>
			  		</div>
			  		<div class='section-text'>Program Objectives:</div>
			  		<br>
			  		<div class='row'>
			  			<div class='col-lg-6'>
			  				<ul class='section-text'>
			  				<li>Learn how to stop anger fast</li>
							<li>Identify and remove the source of your anger</li>
							<li>Interact and communicate better</li>
							<li>Learn to focus on taking care of yourself. </li>
						</ul>
			  			</div>
			  			<div class='col-lg-6'>
			  				<ul class='section-text'>
			  				<li>Stop violence or the threat of violence</li>
							<li>Develop self-control over thoughts and actions</li>
							<li>Receive support from others</li>
						</ul>
			  			</div>
			  		</div>

			  		<div class='row'>
			  			<div class='col-lg-4'>
			  				<div class='section-text'>
			  					Each session includes:
			  					<br><br>
								Discussions<br>
								Presentations<br>
								Experiential exercises<br>
								Daily practice<br>
								Self-awareness

			  				</div>
			  			</div>
			  			<div class='col-lg-4'>
			  				<div class='section-text'>
			  					Participants will obtain:
			  					<br><br>
								Information<br>
								Understanding<br>
								Resources<br>
								Skills and techniques<br>
								Self-control
			  				</div>
			  			</div>
			  			<div class='col-lg-4'>
			  				<div class='section-text'>
			  					Classes are:<br><br>

								Nonjudgmental and effective<br>
								Thought-provoking<br>
								Activity based<br>
								Appropriate for anyone<br>
								Accepted by the courts
							</div>
			  			</div>
			  		</div>
			  		<br>
			  		<div class='section-text'>** If you are mandated to attend anger management classes, verify if this program will be accepted by the authority requiring you to complete the class (i.e., the judge, probation officer, employer, or attorney).</div>
			  	</div>
			</div>

		  </div>

		  <div class="tab-pane show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
		  	<div class='container'>
		  	<div id='instructor'>
		  		<div class='section-title center'>About the Instructor</div>
		  		<div class='instructor-image'><img src='./images/instructor.png'></div>
		  		<div class='section-text'>
		  			<p>Joseph is a Master-level certified anger management therapist who received through the National Anger Management Association (NAMA). He is committed to helping you develop emotional intelligence skills, teach you how to slow your reaction to anger, and explore the roots of your anger to find relief to your anguish.</p>

					<p>Joseph’s anger management sessions are designed for individuals who are referred by county and state court systems, social service, employers, human resource departments, government agencies, or self-referred. </p>
		  		</div>
		  		<table id='when'>
		  			<tr>
			  			<th>When</th>
			  			<th>Where</th>
			  			<th>Cost</th>
			  		</tr>
			  		<tr class='section-text'>
			  			<td>Every Tuesday from 5:30 PM to 6:30 PM</td>
			  			<td>3825 Market St, Ste 4<br>
						 Wilmington, NC 28403
						</td>
			  			<td>$40 per session<br>
						(Assessment and report not included).
						</td>
			  		</tr>
		  		</table>
		  	</div>
		  </div>
		</div>
		</div>
	</div>
</div>

<style>
	<style>

#eapfaq {
	padding: 55px 0px;
}

#eapfaq .section-title {
	margin-bottom: 25px;
}

.eap-faq-title {
		font-size: 20px;
	color: white;
	margin-bottom: 20px;
}

.fa-sort-down {
	position: absolute;
	right: 20px;
	margin-top: -5px;
}

.faq-questions .card {
	border: none !important;
	margin-bottom: 10px;
}

.faq-questions .card-body {
	background: #f6f8f9;
	border: none;
	color: #5c656d;
	font-weight: 300;
	line-height: 24px;
	padding: 25px 9px;
	padding-left: 32px;
}

.faq-questions .card-header {
	background: white;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none !important;
}

.faq-questions .btn-link {
	text-decoration: none;
	color: #4eaac8;
}

.faq-questions {
	padding: 55px 0px;
	background-color: #344A53 !important;
}

.faq-questions hr {
	width: 10%;
	margin-left: 0px;
	margin-bottom: 50px;
}

.faq-questions .header {
	text-align: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}
</style>


<div id='eapfaq' class='faq-questions'>

<div class='container'>	
<div class='eap-faq-title'>Common Anger Management Therapy questions </div>
<div class='row'>
			<div class='col-lg-12'>
				<div class="accordion" id="accordionExample">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h2 class="mb-0">
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Am I eligible to join the program?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				      <div class="card-body">
				        If you need help determining eligibility just give us a call at 910 777 5575 Monday through Friday am to 7:30 pm EST.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Who teaches the program?
				          <i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body">
				        Our Anger Management sessions are facilitated by a master’s degree level clinician skilled at ensuring information is communicated simply and effectively.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						How are the sessions organized?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				      <div class="card-body">
						Each class is sixty (60) minutes long. During session one you will develop an overall understand of the program, its purpose, what to expect from it, and what rules you must follow as a member of the group.    </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingFour">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						What happen after session one?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body">
						Session two and forward will cover a variety of topics, including definitions of anger and aggression, myths about anger, anger as a habitual response, the anger meter, mindfulness, and emotion regulation skills to control anger, aggression and violence. Minor homework assignments are given to reinforce concepts.</div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingFive">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						When will I receive my certificate of completion?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
				      <div class="card-body">
						You will receive your certificate of completion immediately after completing your last (required) session. </div>
				    </div>
				  </div>
				   
				</div>
			</div>
		</div>
	</div>
</div>

