<style>

#anger-management  {
	padding: 50px 0px;
	background: #00314A !important;
}

#anger-management .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#anger-management .section-title, #anger-management .section-text, #anger-management .title, #anger-management .sub-title {
	color: white;
}

#anger-management .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#pencil {
	margin-top: 100px;
}

#pencil .section-title {
	margin-top: 75px;
}
</style>

<div id='anger-management'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>RISK AND NEEDS ASSESSMENT</div>
			<div class='section-title'>Anger Management <span class='bold'>Evaluation</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>Anger and stress aggravate our emotional and mental health symptoms; hence our interest in clinically assessing its intensity and how frequently this emotion manifests over time. Anger management evaluations are designed to help you examine anger management areas in which you may need improvement. In fact, anger management evaluations are recommended for anyone facing personal problems, work-related issues, or legal charges because of anger. If you were arrested, charged, or convicted of a violent or abusive crime, you may be required to complete an anger management evaluation. 

			<p>Our anger management evaluations are evidence-based and are conducted by a Certified Anger Management Specialist. The assessment is both objective and subjective to accurately quantify the effect anger has on your life and on those around you. It measures several behavioral patterns and provides important information regarding your family history, current and previous charges, demeanor, state and trait anger expression, and anger management skills. </p>

			<p>Our evaluation process is very simple. It begins at intake with a comprehensive clinical assessment which provides us with background information. This is followed by the anger management evaluation which includes scales that measure your tendency to minimize problems and concerns, how anger moves on a continuum from annoyance to rage - a helpful tool to identify individuals who are dangerous to themselves or others, and how effectively you cope with anger, stress, tension and pressure. Once the evaluation is complete, your therapist will offer recommendations as to whether anger management is appropriate and explain the results of your tests; it is possible that there is no basis to suggest you have problems controlling your anger.</p>

			<div class='bold'>Who is if for?</div>
			<p>Anyone facing domestic violence or disorderly conduct charges, who has been in a domestic dispute or altercation at work, who display anger in public, who is on parole, probation or pretrial diversion.</p>

		</div>

			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-1'>
			
				</div>
				<div class='col-lg-2' style='border-right: 1px solid lightgray'>
					<div class='title center'>QUALIFICATION</div>
					<div class='section-text center'>
						Evaluation is for anyone who lacks proper anger management skills.
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid lightgray'>
					<div class='title center'>LENGTH</div>
					<div class='section-text center'>
						Interview and evaluation take approximately one hour each to complete.
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid lightgray'>
					<div class='title center'>CERTIFICATE</div>
					<div class='section-text center'>
						A certificate of completion is offered at the end of the program
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid lightgray'>
					<div class='title center'>TURN-AROUND TIME</div>
					<div class='section-text center'>
						Court or employer reports are completed between 5 and 10 business days.
					</div>
				</div>
				<div class='col-lg-2'>
					<div class='title center'>REQUIREMENTS</div>
					<div class='section-text center'>
						A state ID, police report or warrant, and any other important document.
					</div>
				</div>
				<div class='col-lg-1'>
			
				</div>
			</div>
		
</div>
</div>