<style>
#approach {
	padding-bottom: 50px;
}
#approach i {
	font-size: 75px;
	padding-bottom: 10px;
}

#approach .sub-title {
	text-align: center;
	margin-bottom: 0px;
	margin-top: 50px;
}

#approach .header {
	margin-top: 0px;
}

.approach-box {
	display: inline-block;
	width: 175px;
	height: 175px;
	/*border: 1px solid lightgray;*/
}
.approach-image i {
	color: #4eaac8 !important;
}
.approach-row {
	text-align: center;
	margin: auto;
}

.approach-title {
	font-size: 18px;
	font-weight: bold;
}

</style> 

<div id='approach' class='background-alt'>

<div class='sub-title'>MENTAL HEALTH MATTERS</div>
<div class='header'>Treatment <span class='bold'>Approach</span></div>
<hr class='short'>
	<!-- <div class='row'> -->
		<div class='approach-row'>
			<div class='approach-box'>
				<div class='approach-image'>
					<i class="fas fa-search"></i>
				</div>
				<div class='approach-title'>Evidence Based</div>
			</div>
			<div class='approach-box'>
				<div class='approach-image'>
					<i class="fas fa-user-circle"></i>
				</div>
				<div class='approach-title'>Person Centered</div></div>
			<div class='approach-box'>
				<div class='approach-image'><i class="fas fa-home"></i>
				</div>
				<div class='approach-title'>Community Oriented</div></div>
			<div class='approach-box'>
				<div class='approach-image'>
					<i class="fas fa-lock"></i>
				</div>
				<div class='approach-title'>Confidential</div>
			</div>
			<div class='approach-box'>
				<div class='approach-image'>
					<i class="fas fa-hand-holding-heart"></i>
				</div>
			<div class='approach-title'>Compassionate</div></div>
			<div class='approach-box'>
				<div class='approach-image'><i class="fas fa-hand-paper"></i>
			</div>
			<div class='approach-title'>Preventative</div></div>
			<div class='approach-box'>
				<div class='approach-image'>
					<i class="fab fa-battle-net"></i>
				</div>
				<div class='approach-title'>Integrative</div></div>
		</div>
	<!-- </div> -->
</div>
</div>