<style>
#instructor {
	padding-bottom: 50px;
}

.instructor-image {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.instructor-image img {
	height: 150px;
	width: auto;
	margin: auto;
}

#provider {
	background: white;
	padding: 50px 0px;
}

#provider .section-text, #provider .section-title {
	/*color: white;*/
}

#when {
	width: 100%;
	margin-top: 25px;
}

#when td {
	vertical-align: top;
	border: 5px solid white;
}

th {
	background: #4eaac8;
	color: white;
	padding-left: 10px;
	border: 5px solid white;
}

</style>

<div id='provider'>
<div class='container'>
<div id='instructor'>
  		<div class='section-title center'>About the Provider</div>
  		<div class='instructor-image'><img src='./images/sarah.png' alt='Sarah'></div>
  		<div class='section-text'>
  			<p>Sarah is a fully licensed clinical mental health counselor who has been trained to provide Biofeedback. She is qualified to use biofeedback equipment to measure your physiological processes and teach you how those processes are associated with stress. You will then learn relaxation and stress reduction techniques to regain balance.</p>

			<p>Sarah will use cognitive behavioral therapy to guide you in identifying thoughts that increase stress. She will demonstrate how to replace those thoughts with more balanced ways of thinking. She will also provide a structure plan based on your specific needs and goals. Finally, she will help you explore your core beliefs, thoughts, and emotional responses to better understand who you are and how you interact with the world.</p>


  		</div>
  		<table id='when'>
  			<tr>
	  			<th>Duration</th>
	  			<th>Where</th>
	  			<th>Cost</th>
	  		</tr>
	  		<tr class='section-text'>
	  			<td>Sessions often last <br>approximately 60 minutes.</td>
	  			<td>3825 Market St, Ste 4<br>
				 Wilmington, NC 28403
				</td>
	  			<td>$110 per session<br>
				(Assessment and report not included).
				</td>
	  		</tr>
  		</table>
  	</div>
  </div>
</div>