<style>

#biofeedback-model  {
	padding: 50px 0px;
}

#biofeedback-model .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#biofeedback-model .box-phase {
	font-size: 26px;
	font-weight: 300;
}


</style>

<div id='biofeedback-model'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>AT-HOME EXERCISES</div>
			<div class='section-title'>Types of Biofeedback <span class='bold'>Exercises</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>Different types of biofeedback are used to monitor different body functions:</p>

			<p>Each biofeedback therapy session lasts about 60-90 minutes. Usually, you can start to see biofeedback benefits within 10 sessions or less. Some conditions, such as high blood pressure, can take more sessions to improve.</p>
			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-3' style='border-right: 1px solid lightgray'>
					<div class='title center'>BREATHING</div>
					<div class='section-text'>
						You will learn various breathing exercises to relax and center your body.
					</div>
				</div>
				<div class='col-lg-3' style='border-right: 1px solid lightgray'>
					<div class='title center'>TENSE-RELAX</div>
					<div class='section-text'>
						You will learn to progressively tighten and relax various muscle groups in your body.
					</div>
				</div>
				<div class='col-lg-3' style='border-right: 1px solid lightgray'>
					<div class='title center'>AUTOGENIC TRAINING</div>
					<div class='section-text'>
						You will learn to respond to verbal commands to relax your body.
					</div>
				</div>
				<div class='col-lg-3'>
					<div class='title center'>VISUALIZATION</div>
					<div class='section-text'>
						You will learn to focus your imagination to feel more comfortable and relaxed. 
					</div>
				</div>
			</div>
		</div>
		
</div>
</div>


