<style>

#biofeedback-how {
	padding: 55px 0px;
	margin-top: 20px;
	background: #97AFB9;
	color: white;
}



#biofeedback-how .section-text {
	color: white !important;
}

</style>


<div id='biofeedback-how'>
<div class='container'>
<div class='section-title'>How Does it Work?<span><img src='./images/wave.png'></div><br>
<div class='section-text'>
<p>When you are under stress your heart rate and blood pressure tend to be higher, you sweat, your muscles become more tense, and your breathing gets faster. During biofeedback therapy, electrode sensors are attached to your skin or fingers to detect physiological processes such as your pulse, skin temperature, muscle tone, or brain-wave pattern. These sensors send signals in the form of a sound, light, or image to a video screen where you can see the patterns or changes occurring in your physiological processes. </p>

<p>Your therapist will interpret those patterns or changes for you and gradually teach you how to alter your body's automatic body functions consciously. Basically, you will practice relaxation techniques to lower your stress and actively change your body’s physiological processes.</p>

</div>
</div>
</div>