<style>

#facts {
	padding: 50px;
	margin-bottom: 50px;
}

#facts .number {
	font-size: 45px;
	font-weight: 600;
	vertical-align: middle;
}

#facts .section-text{
	margin-top: 25px;
	border-right: 1px solid gray;
	/*font-size: 16px;*/
	padding: 0px 10px;
	height: 100px;
	vertical-align: middle;
}

#facts .section-text td {
	vertical-align: middle;
}

</style>

<div id='facts'>
	<div class='container'>
		<div class='section-title center'>Biofeedback Facts</div>
		<div class='row'>
			<div class='col-lg-4'>
				<table>
					<tr>
						<td><div class='number'>1</div></td>
						<td>
							<div class='section-text' style='padding-left: 20px'>Biofeedback emerged in the late 1960s as a technique to monitor physiological processes and train people to have more control over their involuntary body responses.</div>
						</td>
					</tr>
				</table>
				</div>
			<div class='col-lg-4'>
				<table>
					<tr>
						<td><div class='number'>2</div></td>
						<td>
							<div class='section-text' style='padding-left: 20px'>Biofeedback is generally considered a safe technique. There have been no side effects or potential complications reported.</div>
						</td>
					</tr>
				</table>
			</div>	
			<div class='col-lg-4'>
				<table>
					<tr>
						<td><div class='number'>3</div></td>
						<td>
							<div class='section-text' style='border-right: none; padding-left: 20px'>Biofeedback therapy can help people change habitual reactions to stress, which causes anxiety, pain, or illness.</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
</div>
</div>
