<style>

#biofeedbackfaq {
	padding: 50px 0px;
}

#biofeedbackfaq .section-title {
	margin-bottom: 25px;
}

.biofeedback-faq-title {
		font-size: 20px;
	color: #4eaac8;
	margin-bottom: 20px;
}

.fa-sort-down {
	position: absolute;
	right: 20px;
	margin-top: -5px;
}

.faq-questions .card {
	border: none !important;
	margin-bottom: 10px;
}

.faq-questions .card-body {
	background: #f6f8f9;
	border: none;
	color: #5c656d;
	font-weight: 300;
	line-height: 24px;
	padding: 25px 9px;
	padding-left: 32px;
}

.faq-questions .card-header {
	background: white;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none !important;
}

.faq-questions .btn-link {
	text-decoration: none;
	color: #4eaac8;
}

.faq-questions {
	padding: 75px 0px;
	background: #f6f8f9;
}

.faq-questions hr {
	width: 10%;
	margin-left: 0px;
	margin-bottom: 50px;
}

.faq-questions .header {
	text-align: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}
</style>
<div id='biofeedbackfaq' class='faq-questions'>

<div class='container'>	
<div class='biofeedback-faq-title'>Common Biofeedback questions </div>
<div class='row'>
			<div class='col-lg-12'>
				<div class="accordion" id="accordionExample">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h2 class="mb-0">
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						What happens during a typical biofeedback session?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				      <div class="card-body">
				        Treatment begins with an initial assessment or intake interview. Following the initial interview, your therapist will explain how biofeedback works and proceed to attach electrodes/sensors to your skin to detect signals (i.e., sounds, light or images) that are to be displayed on a monitor. You will be able to see the physiological changes happening in your body and work on changing your responses through relaxation techniques. Your therapist will recommend exercises to practice at home and coordinate with other professionals involved in your care. if necessary.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						How effective is biofeedback therapy?
				          <i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body">
				        Biofeedback therapy offers you tools to manage debilitating medical and psychological conditions and can be an extremely effective treatment approach.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						How many sessions do I need to attend?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				      <div class="card-body">
						Each person is uniquely different and may respond differently to biofeedback therapy. Some of our patients have only attended six to twelve sessions when they are combined with CBT therapy and the meeting last approximately 60 minutes. Doing your exercises between sessions will maximize your ability to reduce adverse symptoms and achieve relaxation faster.   </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingFour">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						What is self-regulation?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body">
						Self-regulation is the practice of relaxation and stress management techniques to control your physiological response to stress. </div>
				    </div>
				  </div>
				  
		
				   
				</div>
			</div>
		</div>
	</div>
</div>
