<style>

.banner-box {
	width: 100%;
	background: transparent;
	/*color: white;*/
	padding: 15px;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	margin: 50px auto 0px auto;
	padding: 50px 0px 50px 0px;
	border-top: 1px solid navy;
	border-bottom: 1px solid navy;
	width: 70%;
}	

#biofeedback-model  {
	padding: 50px 0px;
}

#biofeedback-model .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#biofeedback-model .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#biofeedback-model .section-text {
}

</style>

<div id='biofeedback-model'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>BIOLOGICAL PROCESSES</div>
			<div class='section-title'>Types of <span class='bold'>Biofeedback</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>Different types of biofeedback are used to monitor different body functions:</p>

			<p>Each biofeedback therapy session lasts about 60-90 minutes. Usually, you can start to see biofeedback benefits within 10 sessions or less. Some conditions, such as high blood pressure, can take more sessions to improve.</p>


		</div>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Breathing </div>
					<!-- <div class='box-title section-text center'>History</div> -->
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Heart Rate</div>
					<!-- <div class='box-title section-text center'>Preparation</div> -->
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Muscle Activity</div>
					<!-- <div class='box-title section-text center'>Assessment</div> -->
				</div>
			</div>
		</div>
	<div class='row'>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Skin Conductance</div>
					<!-- <div class='box-title section-text center'>Desensitization</div> -->
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Brain Wave</div>
					<!-- <div class='box-title section-text center'>Installation</div> -->
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Temperature</div>
					<!-- <div class='box-title section-text center'>Body Scan</div> -->
				</div>
			</div>
		</div>
			
		</div>
	</div>
</div>
<div class='container'>
<div class='section-title center' style='margin-top: 10px; padding-bottom: 25px'>Exercises commonly used</div>
<div class='center section-text'>Deep breathing • Progressive muscle relaxation • Guided imagery • Mindfulness meditation</div>

<div class='section-title center' style='margin-top: 50px; padding-bottom: 25px'>Benefits of Biofeedback</div>
<div class='section-text'>

<p>Biofeedback is noninvasive and may help you feel more in control of your body. It may also help you manage your:</p>

<div class='row'>
	<div class='col-lg-4'>
		Chronic Pain<br>
		Headaches<br>
		Anxiety<br>
		Urinary Incontinence<br>
		High Blood Pressure 
	</div>
	<div class='col-lg-4'>
		Motion Sickness<br>
		Attention-Deficit/Hyperactivity Disorder<br>
		Asthma<br>
		Injury<br>
		Constipation
	</div>
	<div class='col-lg-4'>
		Epilepsy<br>
		Rheumatoid Arthritis<br>
		Urinary Incontinence<br>
		Raynaud’s Disease <br>
		Obstructive Pulmonary Disease
	</div>
</div>
<p style='margin-top: 25px'>Biofeedback has shown positive outcomes in the treatment of certain medical disorders, such as diabetes, nocturnal enuresis, dyschezia, writer's cramp, esophageal spasm, occupational cramps, blepharospasm, dysmenorrhea, visual disorders, some dermatologic disorders, diabetes mellitus, fibromyalgia, menopausal hot flashes, and premenstrual syndrome.</p>
</div>
</div>
</div>

<div class='container'>
<div class='banner-box'>Strengthening Your Mind-Body Connection
</div>
</div>
	