<style>

#cca  {
	padding: 50px 0px;
	background-color: #4eaac8;
}

#cca .section-text, #cca .section-title {
	color: white;
}

#cca .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#cca .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#cca .sub-title {
	color: white;
}

#cca .title {
	color: white;
}

#pencil {
	margin-top: 100px;
}

#pencil .section-title {
	margin-top: 75px;
}
</style>

<div id='cca'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>INTAKE/SCREENING</div>
			<div class='section-title'>Comprehensive Clinical <span class='bold'>Assessment (CCA)</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>The CCA is an intensive clinical and functional face-to-face evaluation of your presenting mental health, developmental disability, and substance use disorder from which a written report is created to provide the clinical basis of your treatment and service plan. A CCA is needed when there is a known or suspected mental health or substance use disorder, or initial screening or triage information indicates a need for additional mental health, substance use disorder.

			<div class='bold'>The Clinical Interview</div>
			<p>One of our licensed professionals will complete a CCA with you upon admission to determine medical necessity and the level of care needed. Relevant diagnostic information will be included in final report.</p>

			<p>Your CCA will include the following elements: (a) the presenting problems, (b) chronological general health and behavioral health history, (c) current medications; (d) biopsychosocial and developmental dimensions, (e) case formulation, (f) diagnoses from the DSM-5, and (g) recommendations for additional assessments, services, support, or treatment.</p>

			<div class='bold'>Mental Status Exam</div>
			<p>A mental status examination is used to organize the information collected during the interview and to systematically evaluate you through a series of observations and questions assessing your appearance and behavior, thought processes and content, mood and affect, intellectual functioning, and awareness of surroundings.</p>
		</div>

			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-4' style='border-right: 1px solid lightgray'>
					<div class='title center'>COST</div>
					<div class='section-text center'>
						$200 per assessment
					</div>
				</div>
				<div class='col-lg-4' style='border-right: 1px solid lightgray'>
					<div class='title center'>LENGTH</div>
					<div class='section-text center'>
						Between 60 and 120 min
					</div>
				</div>
				<div class='col-lg-4'>
					<div class='title center'>TURN-AROUND TIME</div>
					<div class='section-text center'>
						5 and 10 business days 
					</div>
				</div>
			</div>
		
</div>

<div id='pencil'>
<div class='container'>
	<div class='row'>
		<div class='col-lg-5'><img src='./images/pencil.png'></div>
		<div class='col-lg-7'>
			<div class='section-title'>Psychological Tests</div>
			<div class='section-text'>
				<p>WMH endorses the idea that mental health therapists are experts in testing and that testing is within the scope of practice of therapists.</p>

				<p>WMH therapists to not provide psychological, neurological, or intelligent tests.</p>

			</div>
		</div>
	</div>
</div>
</div>
</div>
