<style>

.box {
	border: 1px solid lightgray;
	height: 100%;
	width: 100%;
	padding: 10px 20px;
	margin-top: 25px;
	/*margin-bottom: 25px;*/
}

#challenges {
	padding: 50px 0px;
}

#challenges .section-title {
	margin-bottom: 25px;
}

</style>


<div id='challenges'>
<div class='container'>
	
		<div class='section-title'>Facing life challenges with <span class='bold'>solutions</span></div>
		<div class='section-text'>
			<p>Often, we resolve many stressors, conflicts, and challenges that occur in modern life on our own or with the help of family and friends. Sometimes, however, these experiences can be too overwhelming and require professional help. Employees and their family members who are covered under EAP can access mental health services and find solutions for a wide range of concerns. </p>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-6'>
			<div class='box'>
				<div class='box-title section-title center'>Face-to-Face Therapy</div>
				<div class='box-text section-text'>Treatment designed to address a variety of issues within a brief time frame.</div>
			</div>
		</div>
		<div class='col-lg-6'>
			<div class='box'>
				<div class='box-title section-title center'>Online Experience</div>
				<div class='box-text section-text'>Confidential and secure virtual therapy sessions.</div>
			</div>
		</div>

</div>
<div class='container'>	

		<div class='section-text center' style='padding-top: 50px'><p>Prevent accidents, workplace violence, absenteeism, and turnover<br>Reduce your healthcare costs and improve your performance<p>
		<p>In-depth experience •  High-quality care • Easy access •  Immediate response • On-site services •  Consultation • Preparation for emergencies</p>
	</div>

</div>
</div>
