<style>

.banner {
	width: 100%;
	background-image: url('./images/rope.png');
	background-size: cover;
	height: 300px;
	/*margin-top: 50px;*/
}

.employee {
	position: absolute;
	bottom: 0px;
	/*right: 0px;*/
	height: 30px;
	width: 100%;
	background: #00314A !important;
	color: white;
	text-align: center;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
}

#wellness {
	/*background: #97AFB9;*/
	/*height: 300px;*/
	width: 100%;
	/*color: wshite;*/
	position: relative;
	padding-top: 55px;
}

#wellness hr {
	border-color: white;
}

#wellness .sub-title {
	margin-top: 50px;
}

#wellness .section-text, #wellness .section-title, #wellness .sub-title {
 	/*color: #5c656d;*/
}

.left-title {
	text-align: center;
}

.right-side {
	position: relative;
	height: 100%;
	padding-bottom: 55px;
}

</style>

<div id='wellness'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<h1><div class='sub-title'>CORPORATE WELLNESS</div></h1>
					<div class='section-title'>Behavioral Health
					<br>Employee Assistance Program
					</div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
			<div class='right-side section-text'>
				<p>EAP is a service that can be accessed through your employer to relieve your personal problems and work-related issues, which could be affecting your well-being or job performance.</p>

				<p>EAP typically offers free and immediate access to assessments and counseling, privately and virtually (if necessary). It is intrinsically flexible and allows you to receive assistance during or after a traumatic incident has occurred at work or in your personal life based on your needs and preferences. You can improve your well-being in a confidential manner while defending yourself from the risk of decreased productivity, absenteeism, and calling out sick. </p>
			</div>
				<div class='employee hide-on-mobile'>
					<div class='row'>
						<div class='col-lg-4'>For Employees</div>
						<div class='col-lg-4'>For Employers</div>
						<div class='col-lg-4'>For the Team</div>
					</div>
				</div>

			</div>

		</div>

	</div>
</div>
	<div class='banner'></div>
</div>
