<style>

.book img {
	height: 325px !important;
	width: auto !important;
}

.book-ad {
	text-align: center;
	padding-top: 50px;
	position: relative;
}

.book-ad button {
	position: relative;
	vertical-align: bottom;
}

.book-text {
	margin-top: 25px;
}

#individual .logo {
	height: 70px ;
	width: auto;
}

#individual .group-image img {
	width: 100%;
	box-shadow: 5px 5px 40px gray;
	margin-bottom: 25px;
}

#individual hr {
	margin-left: 0px;
	margin-bottom: 10px;
}

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
		margin: auto;
	text-align: center;
	justify-content: center;
}
.navigation li {
	border: 1px solid lightgray;
	width: 250px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 250px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a {
	color: #4eaac8;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
	padding: 55px 0px;
}

#individual .tab-content {
	margin: 50px 1em;
}

#individual .section-title {
	margin-bottom: 55px;
}

#individual .group-info .section-title {
	margin-bottom: 0px;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='individual'>
<h1><div class='section-title center'>Couples <span class='bold'>Therapy</span></div></h1>
<div class='container'>
	<div class='row' style='width: 99.99%; margin: auto'>
		<div class='navigation'>
			<ul class="nav nav-pills flex-row center">
			<li><a data-toggle="pill" class='active' href="#premarital">Premarital Counseling</a></li>
			<li><a data-toggle="pill" href="#interpersonal">Conflict Resolution</a></li>
			<li><a data-toggle="pill" href="#family">Family Systems</a></li>
			</ul>
		</div>
	</div>
	<br>
	<div class='section-text'>
		<p>Relationships therapy to address distress in couples of family units. Our is on the relationship (i.e., we, us, themselves) rather than the individual (i.e., I, me, self) who is part of the relationship. We frequently target communicational patterns and relationship history and the parties involved learn how to interact more efficiently and effectively with each other.</p>

		<p>Couples therapy is recommended for those who are experiencing infidelity, codependency, family conflict, life transitions, marital and premarital conflict, divorce, and non-violent domestic abuse.</p>
	</div>

		<div class="tab-content">
		<div class="tab-pane fade" id="family">
			<!-- <div class='technique-name'>Family Systems Therapy</div> -->
			<hr style='padding-bottom: 55px !important'>
			<div class='technique-content'>
						<div class='row'>
					<div class='col-lg-5'>
						<div class='group-image'><img src='./images/familybeach.png' alt='Family on beach'></div></div>
						<div class='col-lg-7'>
							<div class='group-info'>
								<!-- <div class='sub-title'>Emotion Regulation</div> -->
								<div class='section-title'>Family <span class='bold'>Systems</div>
								<hr class='short'>
								<div class='section-text'>
									<p>Learn to truly listen to others and work together to resolve conflict .</p>

									<p>Family systems therapy is a form of psychotherapy that helps individuals resolve their problems in the context of their family units, where many issues are likely to begin. Each family member works together with the others to better understand their group dynamic and how their individual actions affect each other and the family unit as a whole. One of the most important premises of family systems therapy is that what happens to one member of a family happens to everyone in the family.</p>


								</div>

							</div>
						</div>

					</div>
					<div class='row'>
						<p>Many psychological issues begin early in life and stem from relationships within the family of origin, or the family one grows up in, even though these issues often surface later on in life. Families in conflict, as well as couples and individuals with issues and concerns related to their families of origin, can benefit from family systems therapy. This treatment approach can be helpful for such mental health conditions as depression, bipolar disorder, anxiety, personality disorders, addiction, and food-related disorders. Family systems therapy has also been shown to help individuals and family members better control and cope with physical disabilities and disorders..</p>
					</div>
					<div class='row'>
						<div class='col-lg-6'>
							<p>Treatment Approach
								<ul>
									<li>Structural: Uses role play to look at family relationships, behaviors, and patterns.</li>
									<li>Strategic: Employs reframing or problem scenario redefinition to examine family processes and functions..</li>
									<li>Intergenerational: Acknowledges generational influences on family and individual behavior to help family members normalize their current problems. </li>
								</ul>
							</p>
						</div>
						<div class='col-lg-6'>
							<p>Common concepts:
								<ul>
									<li>Differentiation of self</li>
									<li>Emotional triangle</li>
									<li>Family projection process</li>
									<li>Multigenerational transmission process</li>
									<li>Emotional cutoff</li>
									<li>Sibling position</li>
									<li>Societal emotional process</li>
									<li>Nuclear family emotional process</li>
								</ul>
							</p>
						</div>
					</div>

		</div>
	</div>


		<div class="tab-pane fade" id="interpersonal">
			<!-- <div class='technique-name'>Interpersonal Conflict Resolution</div> -->
			<hr style='margin-bottom: 55px'>
			<div class='technique-content'>
						<div class='row'>
					<div class='col-lg-5'>
						<div class='group-image'><img src='./images/conflict.png' alt='Conflict'></div></div>
						<div class='col-lg-7'>
							<div class='group-info'>
								<!-- <div class='sub-title'>Emotion Regulation</div> -->
								<div class='section-title'>Conflict Resolution <span class='bold'>Therapy</div>
								<hr class='short'>
								<div class='section-text'>
									<p>Learn to truly listen to others and work together to resolve conflict.</p>

									<p>Conflict resolution therapy will teach people you skills to address conflict in any situation, whether at home, between friends or romantic partners, and even at work.</p>

									<p>This treatment approach can also be useful during legal mediation, where the parties involved need to feel like they have won the battle.</p>


								</div>

							</div>
						</div>

					</div>
					<div class='row'>
						<div class='col-lg-6'>
							<p>Basic treatment steps
								<ul>
									<li>Expression of initial positions</li>
									<li>Exploration of underlying concerns (with a focus on core concerns)</li>
									<li>Creation and establishment of a mutually agreed-upon plan that meets the needs of both participants</li>
								</ul>
							</p>
						</div>
						<div class='col-lg-6'>
							<p>Common behavior expressions:
								<ul>
									<li>Flight: Attempts of avoidance</li>
									<li>Immobilization: Inability to act or make decisions.</li>
									<li>Submit: Accommodating and giving in too easily.</li>
								</ul>
							</p>

						</div>
					</div>
			</div>

		</div>
		<div class="tab-pane active" id="premarital">
			<div class='technique-name'></div><hr style='margin-bottom: 55px'>
			<div class='technique-content'>
				<div class='row'>
					<div class='col-lg-5'>
						<div class='group-image'><img src='./images/premarital.png' alt='Premarital'></div></div>
						<div class='col-lg-7'>
							<div class='group-info'>
								<!-- <div class='sub-title'>Emotion Regulation</div> -->
								<div class='section-title'>Premarital <span class='bold'>Counseling</div>
								<hr class='short'>
								<div class='section-text'>
									<p>Prepare for a strong and passionate marriage.</p>

									<p>Premarital counseling can help identify weaknesses that exist in the relationship and ensure that you and your partner have a strong, healthy relationship — giving you a better chance for a stable and satisfying marriage.</p> 

									<p>Some spiritual leaders insist on premarital counseling as a requirement before the wedding ceremony.</p>
								</div>

							</div>
						</div>

					</div>
					<div class='row'>
						<div class='col-lg-4'>
							<p>Some of the topics discussed include:
								<ul>
								<li>Finances</li>
								<li>Communication</li>
								<li>Beliefs and values</li>
								<li>Roles in marriage</li>
								<li>Affection and sex</li>
								<li>Desire to have children</li>
								<li>Family relationships</li>
								<li>Decision-making</li>
								<li>Dealing with anger</li>
								<li>Time spent together</li>
							</ul>
						</p>
						</div>
						<div class='col-lg-8'>
							<p>What to expect?
								<ul>
						<li>You will be asked to complete either a SYMBIS or Prepare/Enrich Assessment </li>
						<li>Both you and your partner will complete the assessment separately without exchanging information or discussing the questions.</li>
						<li>The assessment will help us determine how you feel about each other and the relationship. </li>
						<li>Any couple can take the assessment to identify any strengths, weaknesses, and potential problem areas.</li>
						<li>Together, we will interpret the results and discuss areas of concern.</li>
						<li>You will set goals with your partner to help overcome any existing challenges in the relationship.</li>
					</ul>
				</p>

						</div>
					</div>
					<div class='row'>
						<div class='col-lg-6'>
							<div class='book-ad' style='border-right: 1px solid lightgray'>
								<img src='./images/symbis.png' class='logo' alt='Symbis logo'>
								<div class='book-text'>Assessment Cost<br>
								<span class='bold'>$35</span>/per couple</div>
								<br>
								<p>Receive a discount when you purchase the book<br>
								"Saving Your Marriage Before It Starts".

								</p>
								<div class='book'><img src='./images/savingyourmarriage.jpg' alt='Saving your marriage'></div>
								<p>162 pages</p>
								<a href='https://www.amazon.com/gp/product/0310259827' target='_blank'><button style='background: #61cfcb'>Buy it Now</button></a>
							</div>
						</div>
						<div class='col-lg-6'>
							<div class='book-ad' style='height: 100%'>
								<img src='./images/PrepareEnrich.png' class='logo'>
								<div class='book-text'>Assessment Cost</div>
								<div><span class='bold'>$35</span>/per couple</div><br>
								<p>Identify strengths and overcome issues<br>
								with “The Couple Checkup” book.

								</p>
								<div class='book'><img src='./images/checkup.jpg' alt='Check Up'></div>
								<p>259 pages | 6.25 x 1.25 x 9 in.</p>
								<a href='https://www.amazon.com/Couple-Checkup-Find-Relationship-Strengths/dp/0785238239/ref=sr_1_1?dchild=1&keywords=The+Couple+Checkup&qid=1610042591&sr=8-1' target='_blank'><button style='background-color: #28404a'>Buy it Now</button></a>


							</div>
						</div>
					</div>

			</div>
		</div>
		
	</div>
</div>
<%- include('./perspectives.ejs') -%>

</div>