<style>

#domestic  {
	padding: 25px 0px;
	background: #00314A !important;
}

#domestic .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#domestic .section-title, #domestic .section-text, #domestic .title, #domestic .sub-title {
	color: white;
}

#domestic .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#domestic .title {
	font-size: 16px;
}

#pencil {
	margin-top: 100px;
}

#pencil .section-title {
	margin-top: 75px;
}
</style>

<div id='domestic'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'></div>
			<div class='section-title'>Domestic Violence Risk <span class='bold'>Assessment</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>	Risk is defined as the probability that a person will engage in a certain kind of behavior in the future. A risk assessment is a procedure we use to gather important characteristics about individuals who have been involved in intimate partner violence and use that information to predict the likelihood of re-abuse, enhance safety for victims, and manage risks posed to victims.</p>
			<p>Our treatment providers follow a decision-making process to estimate, identify, qualify, or quantify risk, but also to offer recommendations regarding treatment.  Intervention is sensible to the risk caused by batterers to the victims and the victim’s immediate personal circumstances that may increase their vulnerability – such ass self-harm. We account for factors that may exacerbate those risks and strongly advocate for the victims by providing ease of access to mental health services and community resources. We listen to the victims and do not place them in situations where there is any possibility of further risk from their abusers.</p>

			<p>Benefits
				<ul>
					<li>Help identify risk levels of recidivism, inform conditions of release, and need for supervision.</li>
					<li>Provide intimate partner victims and case managers relevant information to develop more realistic safety plans</li>
					<li>Educate our community and the justice system about domestic violence</li>
					<li>Offers evidence-based best practices for batter intervention programs. </li>
				</ul>


			<br>
			<p>
			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-1'>
			
				</div>
				<div class='col-lg-2' style='border-right: 1px solid white'>
					<div class='title center'>COST</div>
					<div class='section-text center'>
						$200 (report included)
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid white'>
					<div class='title center'>LENGTH</div>
					<div class='section-text center'>
						Approximately 90 min
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid white'>
					<div class='title center'>REPORT</div>
					<div class='section-text center'>
						Generally, 3-5 pgs long
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid white'>
					<div class='title center'>TURN-AROUND TIME</div>
					<div class='section-text center'>
						1 week to complete
					</div>
				</div>
				<div class='col-lg-2'>
					<div class='title center'>REQUIREMENTS</div>
					<div class='section-text center'>
						Any supportive document
					</div>
				</div>
				<div class='col-lg-1'>
			
				</div>
			</div>
			</p>
		
		</div>
</div>
		
</div>