<style>

#drug  {
	padding: 25px 0px;
	background: #344A53 !important;
}

#drug .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#drug .section-title, #drug .section-text, #drug .title, #drug .sub-title {
	color: white;
}

#drug .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#drug .title {
	font-size: 16px;
}

#pencil {
	margin-top: 100px;
}

#pencil .section-title {
	margin-top: 75px;
}

.section-number {
	font-size: 45px;
	margin-top: 15px;
}
</style>

<div id='drug'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'></div>
			<div class='section-title'>Drug and Alcohol <span class='bold'>Evaluation</span></div>
			<hr class='short' style='background: white'>
		</div>
		<div class='section-text'>
			<p>A drug and alcohol evaluation is used to analyze your substance use history and give your treatment provider more information about the situation you are in. In some case it is possible to know what substances you are using, the dosage and frequency of consumption, which can guide treatment lead to specific recommendations being made regarding your treatment.</p>

			<p>Some drug and alcohol evaluations are conducted for medical purpose while others are requested by court for legal procedures. Your evaluation will follow a screening process that includes the completion of a clinical assessment in addition to the drug and alcohol test. You will be asked to provide a urine sample to establish a baseline. After assessment is done and reviewed, recommendations regarding treatment or education are made. Depending on the result, you may be required to participate in individual or group therapy sessions, substance abuse education class, or rehabilitation program. Our Level 1 Outpatient Substance Abuse Program requires participation in at least two support groups per week and random drug and/or alcohol urine testing in addition to therapy.</p>


			<br>
			<div class='section-title'>Phases</div>

			<div class='row' style='margin-top: 25px'>

				<div class='col-lg-1'><div class='section-number center'>1</div></div>
				<div class='col-lg-2'>
					<!-- <div class='title center'>EXTREME HARDSHIP WAIVERS</div> -->
					<div class='section-text'>
						SCREENING<br>
						The initial stage where the issue is investigated.
					</div>
					</div>
				<div class='col-lg-1'><div class='section-number center'>2</div></div>
				<div class='col-lg-2'>
					<!-- <div class='title center'>DOMESTIC VIOLENCE CASES</div> -->
					<div class='section-text'>
						ASSESSMENT<br>
						Information about the problem is gather in this stage.
					</div>
				</div>
				<div class='col-lg-1'><div class='section-number center'>3</div></div>
				<div class='col-lg-2'>
					<!-- <div class='title center'>ASYLUM / U VISA CASES</div> -->
					<div class='section-text'>
						FOLLOW-UP<br>
						Required when there is a need for treatment.
					</div>
				</div>
				<div class='col-lg-1'><div class='section-number center'>4</div></div>
				<div class='col-lg-2'>
					<!-- <div class='title center'>T Visa Evaluations</div> -->
					<div class='section-text'>
						REFERRAL<br>
						Information is sent to treatment providers. 
					</div>
				</div>
			</div>
			</p>
			<br>
			<br>
			<p class='center' style='font-size: 24px'>60% of individuals identified with a substance abuse also have a co-occurring disorder</p>
			<br><br>
			<p>IMPORTANT NOTICE<br>
			WMH does not provide alcohol and drug evaluations for court at this time. These types of evaluations need to be done through a certified DUI/DWI state agency. In most cases they are required in legal procedures for driving under the influence (DUIs), disorderly conduct while intoxicated, possession of drugs or alcohol; public intoxication, drug trafficking or distribution; manufacturing and/or distribution of controlled substances; and/or use of fake IDs for purchase or consumption.</p>
			<br>
			<p>
			<div class='row' style='margin-top: 25px'>
			<!-- 	<div class='col-lg-1'>
			
				</div> -->
				<div class='col-lg-3' style='border-right: 1px solid white'>
					<div class='title center'>COST</div>
					<div class='section-text center'>
						$200 (report included)
					</div>
				</div>
				<div class='col-lg-3' style='border-right: 1px solid white'>
					<div class='title center'>LENGTH</div>
					<div class='section-text center'>
						Approximately 90 min.
					</div>
				</div>
				<div class='col-lg-3' style='border-right: 1px solid white'>
					<div class='title center'>REPORT</div>
					<div class='section-text center'>
						Generally, 3-4 pgs long
					</div>
				</div>
				<div class='col-lg-3'>
					<div class='title center'>REQUIREMENTS</div>
					<div class='section-text center'>
						Doctor or court referral
					</div>
				</div>
			<!-- 	<div class='col-lg-1'>
			
				</div> -->
			</div>
			</p>
		
		</div>
</div>
		
</div>