<style>

#eapfaq {
	padding: 50px 0px;
}

#eapfaq .section-title {
	margin-bottom: 25px;
}

.eap-faq-title {
		font-size: 20px;
	color: white;
	margin-bottom: 20px;
}

.fa-sort-down {
	position: absolute;
	right: 20px;
	margin-top: -5px;
}

.faq-questions .card {
	border: none !important;
	margin-bottom: 10px;
}

.faq-questions .card-body {
	background: #f6f8f9;
	border: none;
	color: #5c656d;
	font-weight: 300;
	line-height: 24px;
	padding: 25px 9px;
	padding-left: 32px;
}

.faq-questions .card-header {
	background: white;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none !important;
}

.faq-questions .btn-link {
	text-decoration: none;
	color: #4eaac8;
}

.faq-questions {
	padding: 75px 0px;
	background: #344A53 !important
}

.faq-questions hr {
	width: 10%;
	margin-left: 0px;
	margin-bottom: 50px;
}

.faq-questions .header {
	text-align: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}
</style>

<div id='eapfaq' class='faq-questions'>

<div class='container'>	
<div class='eap-faq-title'>Common EAP Questions</div>
<div class='row'>
			<div class='col-lg-12'>
				<div class="accordion" id="accordionExample">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h2 class="mb-0">
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Why is EAP important?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				      <div class="card-body">
				        EAPs offers a wide range of services and resources to both employers and employees to support the overall strength and functionality of every component within your workplace. Most employers agree that reducing employee health risks, reducing healthcare costs and improving employee productivity are top company objectives. When you combine the costs and risks associated with chronic illness and mental health the use of EAPs is an obvious choice.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						How do I start receiving EAP services?
				          <i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body">
				        Call your company’s EAP. Provide your information and employer name. Schedule an available time and a counselor that fits your needs. Set up an appointment and start treatment.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Is there a fee?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				      <div class="card-body">
						EAP services are free of charge. However, only a limited number of sessions will be available. Your therapist will assess if your issue can be resolved in the number of sessions and, if necessary, refer you to a provider who is best suited to address your needs. Once referred, you will be responsible for payment.     </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingFour">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						Are services confidential?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body">
						EAP services follow strict standards of privacy and confidentiality according to State and Federal guidelines, unless disclosure of information is required by law or court order. Records of all services are kept private and are unavailable to your employer. </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingFive">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						How do I make a referral or request EAP services?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
				      <div class="card-body">
						Employers can begin by reminding the employee about EAP, calling EAP to consult and decide whether a referral is appropriate, or making a formal referral to EAP on behalf of the employee. Employees, on the other hand, should call their EAP provider and request behavioral health services directly. </div>
				    </div>
				  </div>
				    <div class="card">
				    <div class="card-header" id="headingSix">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
						How can employers improve participation in EAP programs?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
				      <div class="card-body">
						Connect employees to relevant information and resources to support personal health and improved work/life balance. Alternatively, provide training and consultations for managers and supervisors to address existing organizational concerns.  </div>
				    </div>
				  </div>
				    <div class="card">
				    <div class="card-header" id="headingSeven">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven" style='text-align: left'>
						Does treatment work?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
				      <div class="card-body">
						According to the World Health Organization, 80% of employees treated for mental illness report improved levels of work efficacy and satisfaction.</div>
				    </div>
				  </div>
				    <div class="card">
				    <div class="card-header" id="headingEight">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
						Why EAPs remain underutilized?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
				      <div class="card-body">
						EAPs remain underutilized due to the inability to effectively communicate their value and impact. The way EAP is deployed and advertised lacks scope and breadth. As a result, the EAP services are often fragmented, uncoordinated and even duplicative. </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>