<style>

#eaphelp {
	padding: 50px 0px;
	background: #1f5267;
	color: white!important;
}	

#eaphelp hr {
   width: 100px;
   height: 100px;
   border-color: white;
   /* dashed border */
  background-image: repeating-linear-gradient(90deg, #333333, #333333 14px, transparent 14px, transparent 25px, #333333 25px);
background-size: 4px 100%, 0, 0, 0;
background-position: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
background-repeat: no-repeat;

}


#eaphelp .section-text {
	color: white;
}

.table-head {
	font-size: 26px;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 20px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: #4eaac8 ;
  margin-top: -6px;
  left: 11%;
}
.dot2 {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: #4eaac8 ;
  margin-top: -6px;
  left: 36%;
}
.dot3 {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: #4eaac8 ;
  margin-top: -6px;
  left: 61%;
}
.dot4 {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: #4eaac8 ;
  margin-top: -6px;
  left: 85%;
}

</style>

<div id='eaphelp'>
	<div class='container'>
		<div class='section-title center' style='padding-bottom: 25px'>EAP Helps <span class='bold'>With</span></div>
		<div class='row' style='border-top: 1px dashed #4eaac8 ; position: relative'>
			<span class="dot"></span><span class="dot2"></span><span class="dot3"></span><span class="dot4"></span>
			<div class='col-lg-3'>
				<div class='table-head center'>Mental Health Issues</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ stress<br>
					✓ depression and anxiety<br>
					✓ crisis and trauma<br>
					✓ grief and loss
				</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='table-head center'>Substance Abuse</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ alcohol and drug abuse<br>
					✓ process addictions<br>
					✓ compulsive behaviors<br>
					✓ educating family members
				</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='table-head center'>Work-Related Issues</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ job stress and burnout<br>
					✓ conflict at work<br>
					✓ change in work habits<br>
					✓ financial stress
				</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='table-head center'>Family Matters</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ child and elderly care<br>
					✓ relationship issues<br>
					✓ separation and divorce<br>
					✓ domestic abuse/violence
				</div>
				</div>
			</div>
		</div>
	</div>
</div>