<style>

#eaphelp {
	padding: 50px 0px;
	background: #97AFB9;
	color: white!important;
}	

#eaphelp hr {
	border-color: white;
	margin-top: 25px;
	margin-bottom: 0px;
}

#eaphelp .section-text {
	color: white;
}

.table-head {
	font-size: 26px;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 20px;
}

</style>

<div id='eaphelp'>
	<div class='container'>
		<div class='section-title center'>EAP Helps <span class='bold'>With</span></div>
		<hr>
		<div class='row'>
			<div class='col-lg-3'>
				<div class='table-head center'>Mental Health Issues</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ stress<br>
					✓ depression and anxiety<br>
					✓ crisis and trauma<br>
					✓ grief and loss
				</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='table-head center'>Substance Abuse</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ alcohol and drug abuse<br>
					✓ process addictions<br>
					✓ compulsive behaviors<br>
					✓ educating family members
				</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='table-head center'>Work-Related Issues</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ job stress and burnout<br>
					✓ conflict at work<br>
					✓ change in work habits<br>
					✓ financial stress
				</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='table-head center'>Family Matters</div>
				<div class='table-list'>
					<div class='section-text'>
					✓ child and elderly care<br>
					✓ relationship issues<br>
					✓ separation and divorce<br>
					✓ domestic abuse/violence
				</div>
				</div>
			</div>
		</div>
	</div>
</div>