<style>

#solutions td {
	/*border: 1px dashed red;*/
	vertical-align: top;
	padding: 20px;
}

#solutions hr {
	border-color: white;
}

#solutions .head {
	margin-top: 25px;
}

#solutions {
	background: #b19eb1;
	padding: 50px 0px;
	color: white;
}

#solutions ul {
	list-style-position: outside;
}

#solutions .section-text {
	color: white;
}
</style>

<div id='solutions' class='section-text'>
	<div class='container'>
		<table>
			<tr>
				<td class='section-title' style='width: 50%'>Corporate wellness solutions</td>
				<td class='center section-title' style='width: 25%'>59%</td>
				<td class='center section-title' style='width: 25%'>40%</td>
			</tr>			
			<tr>
				<td>EAP not only provides resources to alleviate personal and workplace issues for employees, it also helps improve job performance and increases their loyalty.</td>
				<td>Employees who think health and wellness benefits are important for increasing loyalty to their employer.</td>
				<td>Employees who think a wider selection of employer benefits would increase their loyalty.</td>
			</tr>			
			<tr>
				<td></td>
				<td colspan='2'>Source: Metlife (2017 Survey)</td>

			</tr>			
			<tr>
				<td>
				<p class='bold'>Critical Incident Response</p>
				<p>When tragic events occur, such as a personal accident, terminal or chronic illness, unexpected death, suicide, or violence at work or at home, suicide, the impact can be devastating and leave you emotionally overwhelmed.</p>

				<p>Critical incidents bring with them significant physical, cognitive, and emotional reactions that may need to be addressed by professionals who can help you effectively deal with those reactions so that you can return to normalcy more quickly and disruption is reduced.</p>

				<p>At WMH, we offer critical incident response services and group interventions. These services often include confidential sessions specially designed to help reduce the impact of tragic event and accelerate recovery. Our holistic assessment of and response to managing wellness will create a positive environment for all team members.</p>
				</td>
				<td colspan='2'>
				<p class='bold'>Workshops and Groups Services</p>
				<p>These services are designed to meet the needs of employees and managers in the evolving workplace.</p>

				<ul>
					<li>Grief/Trauma: To help employees process feelings related to a co-worker or family member who has died or who is terminally ill.</li>
					<li>Workshop: Team building activities for stress reduction, improved energy and productivity, work-life balance, pain and more.</li>
					<li>Mindfulness: Simple techniques to calm the mind, relax the body, and have better control over your emotional state.</li>
					<li>Training: Cultivate emotional intelligence, resolve conflict, confront sexual harassment, manage through turbulent times, or develop effective communicating styles.</li>
					<li>Consultation: Talk about bullying, workplace violence, sexual harassment and more with an EAP provider.</li>
				</ul>
				</td>
			</tr>			
		</table>
		<div class='row'>
			<div class='section-title center'>Increasing <span class='bold'>Utilization</span></div>
		</div>
		<div class='row'>
			<div class='col-lg-3'>
				<div class='head center'>EDUCATE</div>
				<hr>
				<div class='section-text'>Facilitate access to information regarding Employee Assistance Programs.</div>
			</div>
			<div class='col-lg-3'>
				<div class='head center'>ASSESS</div>
				<hr>
				<div class='section-text'>Identify factors that impact employees. What needs do they have?</div>
			</div>
			<div class='col-lg-3'>
				<div class='head center'>ANALYZE</div>
				<hr>
				<div class='section-text'>Examine the source of absenteeism and decreased productivity and adherence.</div>
			</div>
			<div class='col-lg-3'>
				<div class='head center'>SUPPORT</div>
				<hr>
				<div class='section-text'>Promote mental health treatment and a stigma-free workplace environment.</div>
			</div>
		</div>
	</div>
</div>