<style>
#instructor {
	padding-bottom: 50px;
}

.instructor-image {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.instructor-image img {
	height: 150px;
	width: 150px !important;
	margin: auto;
}

#when {
	width: 100%;
}

#when td {
	vertical-align: top;
}

th {
	background: #97AFB9;
	color: white;
	padding-left: 10px;
}

</style>

<div class='container'>
<div id='instructor'>
  		<div class='section-title center'>About the Provider</div>
  		<div class='instructor-image'><img src='./images/havah.png'></div>
  		<div class='section-text'>
  			<p>Havah is a fully licensed clinical social worker who has been trained to provide Trauma-Focused Cognitive Therapy. She completed her rigorous training and certification in Eye Movement Desensitization and Reprocessing (EMDR) through the EMDR International Association back in February 2012 and is an expert in the application of this research-based integrative psychotherapy approach.</p>

			<p>Using auditory tones or visual cues, Havah will ask you to follow a rhythmic left-right pattern while prompting thoughts and feelings that linked to your traumatic memories and beliefs. Havah’s therapy sessions are offered in an environment of trust, compassion and empathy. Her sessions are designed to provide you with the support you need and enhance your sense of control. She will help you navigate through your struggles, listen to you without judgment, and, once and reprocess your traumatic memories to liberate you from the emotional distress associated with those memories.</p>

  		</div>
  		<table id='when'>
  			<tr>
	  			<th>Duration</th>
	  			<th>Where</th>
	  			<th>Cost</th>
	  		</tr>
	  		<tr class='section-text'>
	  			<td>Sessions often last 90 minutes, rather than the<br> traditional 45-minute psychotherapy session.</td>
	  			<td>3825 Market St, Ste 4<br>
				 Wilmington, NC 28403
				</td>
	  			<td>$110 per session<br>
				(Assessment and report not included).
				</td>
	  		</tr>
  		</table>
  	</div>
  </div>