<style>

.banner-box {
	width: 100%;
	background: #00314A;
	color: white;
	padding: 55px 15px;
	text-align: center;
	font-size: 28px;
	font-weight: 300;
	margin: 50px 0px;
}	

#emdr-model {
	padding: 55px 0px;
}

#emdr-model .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#emdr-model .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#emdr-model .section-text {
	color: white;
	margin-top: 0px;
}

</style>

<div id='emdr-model'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>TREATMENT MODEL</div>
			<div class='section-title'>Eight <span class='bold'>Phases</span></div>
			<hr class='short'>
		</div>
		<div class='row'>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase One</div>
					<div class='box-title section-text center'>History</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase Two</div>
					<div class='box-title section-text center'>Preparation</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase Three</div>
					<div class='box-title section-text center'>Assessment</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase Four</div>
					<div class='box-title section-text center'>Desensitization</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase Five</div>
					<div class='box-title section-text center'>Installation</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase Six</div>
					<div class='box-title section-text center'>Body Scan</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase Seven</div>
					<div class='box-title section-text center'>Closure</div>
				</div>
			</div>
			<div class='col-lg-3'>
				<div class='box'>
					<div class='box-phase center'>Phase Eight</div>
					<div class='box-title section-text center'>Re-evaluation</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='section-text center' style='margin-top: 0px; font-size: 24px'>EMDR works as sequential processing.<br>When the correct target is processed,<br>subsequent stressors will also be addressed</div>

<div class='banner-box'>Although minor stressors can be self-treated, severe traumas, phobias, <br>
and PTSD should be addressed by a licensed professional.
</div>
	