<style>

#eapfaq {
	padding: 50px 0px;
	background: #344A53 !important;
}

#eapfaq .section-title {
	margin-bottom: 25px;
}

.eap-faq-title {
		font-size: 20px;
	color: white;
	margin-bottom: 20px;
}

.fa-sort-down {
	position: absolute;
	right: 20px;
	margin-top: -5px;
}

.faq-questions .card {
	border: none !important;
	margin-bottom: 10px;
}

.faq-questions .card-body {
	background: #f6f8f9;
	border: none;
	color: #5c656d;
	font-weight: 300;
	line-height: 24px;
	padding: 25px 9px;
	padding-left: 32px;
}

.faq-questions .card-header {
	background: white;
	padding-top: 3px;
	padding-bottom: 3px;
	border: none !important;
}

.faq-questions .btn-link {
	text-decoration: none;
	color: #4eaac8;
}

.faq-questions {
	padding: 75px 0px;
}

.faq-questions hr {
	width: 10%;
	margin-left: 0px;
	margin-bottom: 50px;
}

.faq-questions .header {
	text-align: left;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
}
</style>
<div id='eapfaq' class='faq-questions'>

<div class='container'>	
<div class='eap-faq-title'>Common EMDR questions </div>
<div class='row'>
			<div class='col-lg-12'>
				<div class="accordion" id="accordionExample">
				  <div class="card">
				    <div class="card-header" id="headingOne">
				      <h2 class="mb-0">
				        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Is EMDR effective?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
				      <div class="card-body">
				        EDMR is recommended by the International Society for Stress Studies, SAMHSA, the Departments of Veterans Affairs and Defence, and the World Health Organization  for the treatment of Post Traumatic Stress Disorder (PTSD). Current research suggests that EMDR is as effective as Exposure Therapy and Trauma-Focused Cognitive Behavioral Therapy.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingTwo">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						What are the side-effects of EMDR?
				          <i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
				      <div class="card-body">
				        Potential side effects include emotional distress during the session, which is usually short-lived, patient may experience vivid dreams or nightmares after the session or feel temporarily worse. It is recommended that EMDR is administered by a trained and certified practitioner to reduce its potential for side-effects.
				      </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingThree">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						How long does an EMDR session last?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
				      <div class="card-body">
						EMDR sessions tend to be longer than traditional therapy sessions to allow patients process their memories in full during the same session.   </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingFour">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						What to expect after a session?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
				      <div class="card-body">
						After a successfully completed EMDR session, patients should leave feeling more empowered and calmer than they initially felt. </div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingFive">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
						Does it work for children?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
				      <div class="card-body">
						EMDR can be adapted for children using a developmentally appropriate language. EMDR can be used with non-verbal children or those diagnosed with Autism Spectrum Disorders EMDR given that it is sensory-based.</div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingSix">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseFive">
						Are EMDR and hypnosis the same thing?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
				      <div class="card-body">
						During EMDR therapy, patients enter a relaxing state but do not go deep into a trance-like state of consciousness to access the sensory information stored with the traumatic event. However, the patient needs to be aware of the sensations, feelings, and thoughts involved in the event while maintaining a sense of calm and control to prevent the limbic system from becoming over-activated. When this happens, patients are unable to process the disturbing memory adaptively.</div>
				    </div>
				  </div>
				  <div class="card">
				    <div class="card-header" id="headingSeven">
				      <h2 class="mb-0">
				        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
						How is mindfulness used with EMDR?
						<i class="fas fa-sort-down"></i>
				        </button>
				      </h2>
				    </div>
				    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
				      <div class="card-body">
						EMDR therapy integrates mindfulness to help patients be more in tune with their surroundings when recalling images of the traumatic event. EMDR therapists often asks patients to practice mindfulness meditation throughout the day and focus on being mindful.</div>
				    </div>
				  </div>
				   
				</div>
			</div>
		</div>
	</div>
</div>

