<style>

#facts {
	padding: 50px;
}

#facts .number {
	font-size: 45px;
	font-weight: 600;
	vertical-align: middle;
}

#facts .section-text{
	margin-top: 25px;
	border-right: 1px solid gray;
	/*font-size: 16px;*/
	padding: 0px 10px;
	height: 100px;
	vertical-align: middle;
}

#facts .section-text td {
	vertical-align: middle;
}

</style>

<div id='facts'>
	<div class='container'>
		<div class='section-title center'>EMDR Facts</div>
		<div class='row'>
			<div class='col-lg-4'>
				<table>
					<tr>
						<td><div class='number'>1</div></td>
						<td>
							<div class='section-text' style='padding-left: 20px'>EMDR is often used in the treatment of Post-Traumatic Stress Disorder, trauma, or phobias.</div>
						</td>
					</tr>
				</table>
				</div>
			<div class='col-lg-4'>
				<table>
					<tr>
						<td><div class='number'>2</div></td>
						<td>
							<div class='section-text' style='padding-left: 20px'>Patients may find relief in as few as six sessions.</div>
						</td>
					</tr>
				</table>
			</div>	
			<div class='col-lg-4'>
				<table>
					<tr>
						<td><div class='number'>3</div></td>
						<td>
							<div class='section-text' style='border-right: none; padding-left: 20px'>EMDR removes the negative emotional charge of a traumatic event</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class='section-text center' style='border-right: none'>EMDR can also be used to treat<br>
		Anxiety • Panic Attacks • Grief and Loss • Depression • Addictions • Anger • Phobias • Sleep Problems • Low Self-Esteem • Trust Issues</div>
	</div>

</div>