<style>

#emdr-how {
	padding: 50px 0px;
	background: #6784C1;
	color: white;
}

#emdr-how img {
	margin: 20px 0px;
}
#emdr-how .section-title {
/*	margin-bottom: 25px;
*/}

#emdr-how .section-text {
	color: white !important;
}

</style>


<div id='emdr-how'>
<div class='container'>
<div class='section-title'>How Does it Work? </div><br>
<div class='section-text'>
<p>EMDR is based on the notion that negative thoughts and feelings are the result of “unprocessed memories”. By using a technique called bilateral stimulation, which is paired with the distressing memories you experience, your therapist will alter the way you see the event that causes distress. While doing this, the right and left hemisphere of your brain become activated, allowing neural connections to be created.</p>

 <div class='center'><img src='./images/eyes.png' class='center'></div>

<p>Today, several types of bilateral sensory input may be used to accomplish this goal. For instance, some EMDR therapists would ask you to follow their moving finger with their eyes or alternate between your right and left knee while tapping them, while others use technology to guide this process. There are machines with lights that move back and forth, or hand-held pods that vibrate and have adjustable speed and strength.</p>

<p>No matter the device being used, you should be able to remember an event without feeling distressing sensations in your body soon after you start receiving EMDR treatment. You will also develop autonomy and experience increased self-esteem.</p>
<br>

<p class='center'>“Traumatic memories may be stored in a raw sensory form, in the limbic system, rather than as a semantic memory”
Francine Shapiro</p>
</div>
</div>
</div>