<style>



#emdr {
	background: white;
	/*height: 300px;*/
	width: 100%;
	/*color: white;*/
	padding-top: 50px;
	padding-bottom: 50px;
}

#emdr hr {
	border-color: white;
}

#emdr .section-text {
	/*color: white;*/
}

#emdr .sub-title {
	color: white;
	margin-top: 100px;
}

.left-title {
	text-align: center;
}

.right-side {
	position: relative;
}

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
}
.navigation li {
	border: 1px solid lightgray;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='emdr'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<div class='sub-title'>TRAUMA TREATMENT</div>
					<div class='section-title'>Eye Movement Desensitization
					<br>and <span class='bold'>Reprocessing</span>

					</div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
			<div class='right-side section-text'>
				<p>EMDR is an effective therapy approach for the treatment of trauma. It uses bilateral stimulation and repetitive eye movements to help you reprocess distressing thoughts and reduce the intensity of those thoughts.</p>

				<p>The brain stores distressing memories and thoughts as “sensory memories” instead of “factual memories” when exposed to traumatic situations. Accessing those memories later can make you experience unpleasant feelings and sensations, even though you are not actually experiencing the event at the moment. EMDR can help separate the sensations that are linked to those memories so that your response when recalling the event is more rational and the previous distressing emotions are no longer part of it. </p>

			</div>


			</div>

		</div>
</div>
	</div>