<style>

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
	margin: auto;
	text-align: center;
	justify-content: center;
}
.navigation li {
	border: 1px solid lightgray;
	width: 250px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
	color: #4eaac8 !important;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 250px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a {
	color: #4eaac8;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='individual'>
<div class='header'>Group <span class='bold'>Therapy</span></div>
<div class='container'>
	<div class='row' style='width: 99.99%; margin: auto'>
		<div class='navigation'>
			<ul class="nav nav-pills flex-row center">
			<li><a data-toggle="pill" class='active' href="#anger">Anger Management Therapy</a></li>
			<li><a data-toggle="pill" href="#alcohol">Alcohol and Drug Education </a></li>
			<li><a data-toggle="pill" href="#saiop">After SAIOP: Aftercare Treatment</a></li>
			<li><a data-toggle="pill" href="#worry">Why Do I Worry So Much?</a></li>
			<li><a data-toggle="pill" href="#grief">Grief, Loss and Trauma</a></li>
			<li><a data-toggle="pill" href="#relapse">Relapse Prevention Group</a></li>
			</ul>
		</div>	
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="anger">
			<div class='technique-name'>Anger Management Therapy</div><hr>
			<div class='technique-content'>


		</div>
	</div>


		<div class="tab-pane fade" id="alcohol">
			<div class='technique-name'>Alcohol and Drug Education</div><hr>
			<div class='technique-content'>
			
			</div>

		</div>
		<div class="tab-pane fade" id="saiop">
			<div class='technique-name'>After SAIOP: Aftercare Treatment</div><hr>
			<div class='technique-content'>
				
			</div>
		</div>

		<div class="tab-pane fade" id="worry">
			<div class='technique-name'>Why Do I Worry So Much?</div><hr>
			<div class='technique-content'>

			</div>
		</div>

		<div class="tab-pane fade" id="grief">
			<div class='technique-name'>Grief, Loss and Trauma</div><hr>
			<div class='technique-content'>
				
			</div>
		</div>

		<div class="tab-pane fade" id="relapse">
			<div class='technique-name'>Relapse Prevention Group</div><hr>
			<div class='technique-content'>
				
			</div>
		</div>
</div>
</div>