<style>


.group-image img {
	width: 100%;
	box-shadow: 5px 5px 40px gray;
}

#individual button {
	margin-top: 20px;
	margin-bottom: 45px;
}

#individual hr {
	margin-left: 0px;
	margin-bottom: 15px;
}
#individual .section-text {
	padding: 0px 0px;
}

#individual .section-title {
	padding: 55px 0px;
}

#anger .section-title, #worry .section-title, #grief .section-title {
	padding: 0px;
}
.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
	margin: auto;
	text-align: center;
	justify-content: center;
	margin-bottom: 45px;
}

.navigation li {
	border: 1px solid lightgray;
	width: 250px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
	color: #4eaac8 !important;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	transition: color 100ms ease-in-out;
	color: lightgray;
}

.navigation a {
	color: #4eaac8;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 0px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='individual'>
<div class='section-title center'>Group <span class='bold'>Therapy</span></div>
<div class='container'>
	<div class='row' style='width: 99.99%; margin: auto'>
		<div class='navigation'>
			<ul class="nav nav-pills flex-row center">
			<li><a data-toggle="pill" class='active' href="#anger">Anger, Violence and Aggression</a></li>
			<!-- <li><a data-toggle="pill" href="#alcohol">Alcohol and Drug Education </a></li> -->
			<!-- <li><a data-toggle="pill" href="#saiop">After SAIOP: Aftercare Treatment</a></li> -->
			<li><a data-toggle="pill" href="#worry">Why Do I Worry So Much?</a></li>
			<li><a data-toggle="pill" href="#grief">Grief, Loss and Trauma</a></li>
			<!-- <li><a data-toggle="pill" href="#relapse">Relapse Prevention Group</a></li> -->
			</ul>
		</div>	
	</div>


	<div class='row'>
	<div class='section-text' style='margin: 0px 50px 20px 50px'>
		<p>Group therapy encourages members of the group to talk about their issues and discuss them as a group. We observe the group dynamic closely and how the group interacts to give participants appropriate feedback regarding their reactions (e.g., behaviors, words). Members of our groups learn skills to address their issues and concerns while evaluating their own worldviews.</p> 
	</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="anger">
			<!-- <div class='technique-name'>Anger, Violence and Aggression</div> -->
			<hr style='padding-bottom: 45px'>
			<div class='technique-content'>
				<div class='row'>
					<div class='col-lg-5'>
						<div class='group-image'><img src='./images/anger.png'></div></div>
						<div class='col-lg-7'>
							<div class='group-info'>
								<div class='sub-title'>Emotion Regulation</div>
								<div class='section-title'>Anger, Violence and <span class='bold'>Aggression</div>
								<hr class='short'>
								<div class='section-text'>
									<p>Anger is an emotion that promotes action when something or someone has done wrong to us. Anger can lead to behaviors that intent to cause harm the thing or person that affected us and, in rare cases, we may engage in physical behaviors that intent to seriously injury or even kill that thing or person. </p>

									<p>Anger, aggression and violence are widespread in society. Therefore, it is our goal to provide support to those experiencing destructive anger and to promote healthy responses to this emotion.</p>

								</div>

							</div>
						</div>

					</div>
					<div class='row'>
						<p>Group sessions are held on Tuesdays at 5:30pm and last one hour. Group size is limited to 12 participants. Registration and completing an intake assessment are necessary before you can join. Participants are eligible to receive a certificate (for court of attorneys) after participating in at least 6 consecutive sessions. Classes include a variety of topics that include, but are not limited to, the following:</p>

						<p>
							<ul style='width: 100%'>
								<li>What is anger?</li>
								<li>Where does anger comes from?</li>
								<li>How to increase your emotional intelligence and develop healthier relationships?</li>
								<li>Anger triggers, etc. </li>
							</ul>
						</p>
						<br>
						
						<br><br>
						<p>Common Skills:
							<ul style='width: 100%'>
								<li>Cognitive reframing and restructuring</li>
								<li>Thought stopping techniques</li>
								<li>Calming techniques</li>
								<li>Exercising and progressive muscle relaxation</li>
								<li>Time out</li>
								<li>Identification of possible solutions</li>
								<li>Using 'I' statements</li>
								<li>Practicing forgiveness</li>
								<li>Using humor</li>
							</ul>
						</p>
						<p style='margin: auto; text-align: center; width: 100%'>
							<a href="https://wmh1.clientsecure.me" class="spwidget-button" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global="" data-spwidget-autobind="" style="background: none">
							<button>Certified Anger Management Class</button>
						</a></p>
					</div>
				</div>
	</div>
<!-- 

		<div class="tab-pane fade" id="alcohol">
			<div class='technique-name'>Alcohol and Drug Education</div><hr>
			<div class='technique-content'>
			
			</div>

		</div>
		<div class="tab-pane fade" id="saiop">
			<div class='technique-name'>After SAIOP: Aftercare Treatment</div><hr>
			<div class='technique-content'>
				
			</div>
		</div> -->

		<div class="tab-pane fade" id="worry">
			<!-- <div class='technique-name'>Why Do I Worry So Much?</div> -->
			<hr style='padding-bottom: 45px'>
			<div class='technique-content'>
				<div class='row'>
					<div class='col-lg-5'>
						<div class='group-image'><img src='./images/tiger.png'></div></div>
						<div class='col-lg-7'>
							<div class='group-info'>
								<div class='sub-title'>ANXIETY IS AN EMOTION</div>
								<div class='section-title'>Why do I worry so <span class='bold'>Much?</span></div>
								<hr class='short'>
								<div class='section-text'>
									<p>Anxiety is both an emotion and a survival mechanism. It alerts us from danger by making out bodies recognize the need leave or fight back. In general, anxiety works as a response to internal or external triggers and when we threatened, under pressure, or challenged there needs to be something that tells us what to do.</p>

									<p>Participants will have the opportunity to share their stories and learn from others how anxiety affects they everyday life.</p>

								</div>

							</div>
						</div>

					</div>
					<div class='row'>
						<p>The group approach is psychoeducational in nature to help participants build awareness and understanding about the feelings they experience. Participants will also learn basic tools to regulate their emotions and recognize that, in moderation, anxiety is not necessarily a bad thing. Individuals who struggle with anxiety on a regular basis and want to learn about their condition before committing to therapeutic intervention are welcome to join. Handouts and other materials will be provided, as well as snacks and beverages/coffee free of cost.</p>

						<p><span class='bold'>Confidentiality</span><br>
						WMH aims to create a sense of safety for each group member. Participants will be asked to sign a HIPAA Consent to protect the information shared during the meetings. It is expected that participants will not share information about other members of the group, including their identity, words, or actions.
						</p>
					
						<p><span class='bold'>Punctuality</span><br>
						Meetings begin at 6:30 pm and last approximately one hour. Participants who arrive late can simply enter the room quietly to not interrupt the group dynamic.
						</p>

						<p>No solicitations • No violence (i.e., physical, verbal, emotional, sexual) • No participation under the influence of drugs or alcohol • Participation is expected but not forced • Freedom to exit the group at any time • Non-treatment • Feedback is welcomed</p>

						<p style='margin: auto; text-align: center; width: 100%'>
							<a href="https://wmh1.clientsecure.me" class="spwidget-button" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global="" data-spwidget-autobind="" style="background: none">
								<button>Book Now</button></a></p>
					</div>
			</div>
		</div>

		<div class="tab-pane fade" id="grief">
			<!-- <div class='technique-name'>Grief, Loss and Trauma</div> -->
			<hr style='padding-bottom: 45px'>
			<div class='technique-content'>
				<div class='row'>
					<div class='col-lg-5'>
						<div class='group-image'><img src='./images/flower.png'></div></div>
						<div class='col-lg-7'>
							<div class='group-info'>
								<div class='sub-title'>UNCOMPLICATED BEREAVEMENT</div>
								<div class='section-title'>Grief, Loss & <span class='bold'>Trauma</span></div>
								<hr class='short'>
								<div class='section-text'>
									<p>Normal bereavement or grieving over the death of a loved one is expected. Sometimes, individuals have an extraordinarily difficult time dealing with the loss and experience symptoms similar to those of a major depressive episode. We offer professional help to you better manage your grieving. </p>

									<p>Grieving is a necessary part of healing. Sharing with others the pain, anger, and other emotions you may be experiencing may help you experience comfort when grieving becomes unmanageable.</p>

								</div>

							</div>
						</div>

					</div>
					<div class='row'>
						

						<p>Group goals:
							<ul style='width: 100%'>
								<li>To teach participants the normal stages of grieving</li>
								<li>To encourage participants to talk about the loss</li>
								<li>To help participants express their emotions related to the loss</li>
								<li>To help participants identify coping issues</li>
								<li>To help participants shift focus from their loss to their own personal life</li>
								<li>To provide continuous support and link participants to resources in the community.</li>

							</ul>
						</p>
						<br>
						<p style='margin: auto; text-align: center; width: 100%'>
							<a href="https://wmh1.clientsecure.me" class="spwidget-button" data-spwidget-scope-id="d18270b1-1ca3-4e69-9d82-9ac2300a0eb4" data-spwidget-scope-uri="wmh1" data-spwidget-application-id="7c72cb9f9a9b913654bb89d6c7b4e71a77911b30192051da35384b4d0c6d505b" data-spwidget-scope-global="" data-spwidget-autobind="" style="background: none">
								<button>Book Now</button>
							</a></p>
						<br><br>
						
					</div>
				</div>
			</div>
		</div>

</div>
</div>