<style>

#immigration-assessment  {
	padding: 50px 0px;
	background: #E6F4F1 !important;
}

#immigration-assessment .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#immigration-assessment .section-title, #immigration-assessment .section-text, #immigration-assessment .title, #immigration-assessment .sub-title {
	color: /*blac*/;
}

#immigration-assessment .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#immigration-assessment .title {
	font-size: 16px;
}

#pencil {
	margin-top: 100px;
}

#pencil .section-title {
	margin-top: 75px;
}
</style>

<div id='immigration-assessment'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>MENTAL HEALTH ASSESSMENT </div>
			<div class='section-title'>Immigration <span class='bold'>Evaluation</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>An immigration evaluation is a mental health assessment that will be used by immigration court to determine whether you can legally remain in the United States. It is conducted by a licensed mental health professional and sent to your attorney. An effective immigration evaluation often addresses the psychological aspects of various legal points and expand beyond what is covered in clinical assessments. </p>

			<p>
			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-3' style='border-right: 1px solid black'>
					<div class='title center'>EXTREME HARDSHIP WAIVERS</div>
					<div class='section-text center'>
					For qualifying family members of applicants seeking waivers of grounds of inadmissibility.					</div>
				</div>
				<div class='col-lg-3' style='border-right: 1px solid black'>
					<div class='title center'>DOMESTIC VIOLENCE CASES</div>
					<div class='section-text center'>
						For undocumented immigrants who have been abused by their US citizen spouse.
					</div>
				</div>
				<div class='col-lg-3' style='border-right: 1px solid black'>
					<div class='title center'>ASYLUM / U VISA CASES</div>
					<div class='section-text center'>
						For victims of persecution in their home country or a qualifying crime within the USA.
					</div>
				</div>
				<div class='col-lg-3'>
					<div class='title center'>T Visa Evaluations</div>
					<div class='section-text center'>
						For anyone who has been a victim of forced labor/labor trafficking or sex trafficking.
					</div>
				</div>
			</div>
			</p>

			<p>The immigration evaluation includes in-depth interviews that occur over the course of 3 to 4 meetings. You will be asked questions regarding your personal and family history, work history, medical and psychiatric history, and immigration status as they pertain to the case. Pertinent information regarding your psychological and emotional state will be collected using some of the following instruments: Post-traumatic stress disorder, cognitive/intelligence, adaptive behavior, mental status, depression, anxiety, attention deficit, partner violence, measures of violent behavior and tendencies, measures of achievement, personality inventories, and malingered symptoms.</p>

			<p>
			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-1'>
			
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>COST</div>
					<div class='section-text center'>
						$1000 (report included)
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>LENGTH</div>
					<div class='section-text center'>
						Approximately 4 hours
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>Report</div>
					<div class='section-text center'>
						Generally, 13-15pp. long
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>TURN-AROUND TIME</div>
					<div class='section-text center'>
						7-14 days to complete
					</div>
				</div>
				<div class='col-lg-2'>
					<div class='title center'>REQUIREMENTS</div>
					<div class='section-text center'>
						Any supportive document
					</div>
				</div>
				<div class='col-lg-1'>
			
				</div>
			</div>
			</p>
			
			<p>Expert Witness: Fees for court testifying are $200/hour and there is a 3-hour minimum. If you have any questions or would like to schedule an evaluation, please call our office at 910-777-5575.</p>
		</div>


		
</div>