<style>

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
}
.navigation li {
	border: 1px solid lightgray;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a {
	color: #4eaac8;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='individual'>
<div class='header'>Individual <span class='bold'>Therapy</span></div>
<div class='container'>
	<div class='row' style='width: 99.99%; margin: auto'>
		<div class='navigation'>
		<ul class="nav nav-pills flex-row">
		<li><a data-toggle="pill" class='active' href="#trauma">Trauma/PTSD Therapy</a></li>
		<li><a data-toggle="pill" href="#depression">Depression Therapy</a></li>
		<li><a data-toggle="pill" href="#anxiety">Anxiety Therapy</a></li>
		<li><a data-toggle="pill" href="#adhd">ADHD Treatment</a></li>
		<li><a data-toggle="pill" href="#compassion">Compassion Fatigue Therapy</a></li>
		</ul>
	</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="trauma">
			<div class='technique-name'>Trauma/PTSD Therapy</div><hr>
			<div class='technique-content'>
				<p>Learn to overcome psychological trauma. Trauma exists when a person perceives threat and his/her ability to handle the event has been impaired.</p>

				<p>Some common trauma and stressor-related disorders include:
					<ul>
						<li>Adjustment disorders Post-traumatic stress disorder (PTSD)</li>
						<li>Acute stress disorder (ASD)</li>
						<li>Reactive attachment disorder (RAD)</li>
						<li>Disinhibited social engagement disorder (DSED)</li>
					</ul>
				</p>

				<p>Treatment Goals:
					<ul>
						<li>To help you become aware of your feelings</li>
						<li>To help you face the reality of the traumatic event without getting stuck in it</li>
						<li>To decrease or eradicate trauma symptoms</li>
						<li>To work towards shifting focus from the past to the present</li>
						<li>To improve daily functioning</li>
						<li>To help you reclaim your personal power</li>
						<li>To help you overcome addictions associated with traumatic stress</li>
						<li>To help you gain skills that prevent relapse</li>
					</ul>
				</p>

				<p>Treatment Modalities:
					<ul>
						<li>Individual Psychotherapy</li>
						<li>Cognitive Behavioral Therapy</li>
						<li>Prolonged Exposure Therapy</li>
						<li>Eye Movement Desensitization and Reprocessing (EMDR)</li>
						<li>Hypnotherapy</li>
						<li>Psychodynamic Therapy</li>
						<li>Group Therapy</li>
					</ul>
				</p>

		</div>
	</div>


		<div class="tab-pane fade" id="depression">
			<div class='technique-name'>Depression Therapy</div><hr>
			<div class='technique-content'>
				<p>Learn to address the causes of persistent feeling of sadness and loss of interest.  Learning that depression is not a weakness and that stopping unpleasant or negative feelings may require long-term treatment is important.</p>

				<p>Common types of depressive disorders are:
					<ul>
						<li>Major Depressive Disorder (Clinical Depression)</li>
						<li>Persistent Depressive Disorder</li>
						<li>Bipolar Disorder</li>
						<li>Postpartum Depression</li>
						<li>Premenstrual Dysphoric Disorder</li>
						<li>Seasonal Affective Disorder</li>
						<li>Atypical Depression</li>
					</ul>
				</p>

				<p>Treatment Goals:
					<ul>
						<li>Develop a safety plan</li>
						<li>Become involved pleasurable or enjoyable activities</li>
						<li>Decrease reports of suicidal ideation</li>
						<li>Learn coping skills, including problem solving and emotional regulation</li>
						<li>Identify maladaptive, negative thoughts and replace them with more positive, adaptive thoughts</li>
					</ul>
				</p>

				<p>Treatment Modalities:
					<ul>
						<li>Cognitive Behavioral Therapy</li>
						<li>Interpersonal Therapy</li>
						<li>Psychodynamic Therapy</li>
						<li>Social Skills Therapy</li>
						<li>Supportive Counseling</li>
						<li>Behavioral Activation</li>
						<li>Problem-Solving Therapy</li>
					</ul>
				</p>

			</div>

		</div>
		<div class="tab-pane fade" id="anxiety">
			<div class='technique-name'>Anxiety Therapy</div><hr>
			<div class='technique-content'>
				<p>Anxiety therapy is the most common form of therapy nowadays. Treatment centers on assessing how patients experience disproportionate emotional and physical reactions to a stressors, and the extent to which anxiety impairs their ability to live in harmony.</p>

				<p>Common types of anxiety disorders are:
					<ul>
						<li>Generalized anxiety disorder</li>
						<li>Panic disorder</li>
						<li>Agoraphobia</li>
						<li>Separation anxiety</li>
						<li>Specific phobias</li>
						<li>Social anxiety disorder</li>
					</ul>
				</p>

				<p>Treatment Goals:
					<ul>
						<li>To learn calming skills that can reduce anxiety symptoms</li>
						<li>To implement techniques that manage anxiety symptoms</li>
						<li>To explore biased, fearful self-talk</li>
						<li>To identify, challenge, and replace irrational beliefs with positive, realistic, and empowering self-talk.</li>
					</ul>
				</p>

				<p>Modalities:
					<ul>
						<li>Cognitive Behavioral Therapy</li>
						<li>Exposure Therapy</li>
						<li>Acceptance and Commitment Therapy (ACT)</li>
						<li>Dialectical Behavioral Therapy (DBT)</li>
						<li>Interpersonal Therapy (ITP)</li>
						<li>Eye Movement Desensitization and Reprocessing (EMDR)</li>
					</ul>
				</p>

			</div>
		</div>
		<div class="tab-pane fade" id="adhd">
			<div class='technique-name'>ADHD Treatment</div><hr>
			<div class='technique-content'>
				<p>ADHD lasts into adulthood for at least one-third of children with ADHD. Treatments for adults can include medication, psychotherapy, education or training, or a combination of treatments.</p>

				<p>The best adult ADHD treatment strategies are multimodal ones — combinations of several different, complementary approaches that work together to reduce symptoms. For one person, this ideal combination may include medication, nutrition, exercise, and behavioral therapy. For someone else, it may mean taking supplements, participating in CBT, and joining an ADHD support group. Medication is often the first line of defense against the symptoms of ADHD for one simple reason: studies show it to be most effective. Medicine alone is not sufficient treatment for most adults with ADHD. This is especially true for adults struggling with work and day-to-day responsibilities. While medication works on a neurological level to regulate the brain, behavior therapy addresses specific problem behaviors by teaching the individual how to structure their time, establish predictability and routines, and increase positive outcomes. Behavior therapy can help change behavior through conditioning, which involves the following:</p>

				
					<p>
				<ul>
					<li>Creating an environment conducive to suitable behavior</li>
					<li>Providing positive feedback and reinforcement for acceptable behavior and improvement</li>
					<li>Establishing clear consequences for unwanted behavior, which may entail withholding reward/praise, or enforcing negative consequences</li>
					<li>Being consistent about expectations and consequences, both positive and negative</li>
				</ul>
				</p>

				<p>Tips:
				<ul>
					<li>Create a routine</li>
					<li>Manage distractions</li>
					<li>Limit choices</li>
					<li>Be clear and specific</li>
					<li>Design a plan</li>
				</ul>
				</p>

					<p>Modalities
					<ul>
					<li>Cognitive Behavioral Therapy</li>
					<li>Parent Training in Behavior Management and Behavior Intervention in the Classroom (for children)</li>
					<li>Social Skills Training</li>
					<li>Support Groups</li>
					<li>Nutrition and Supplements</li>
					<li>Exercise</li>
					<li>Nature Therapy</li>
					<li>Brain Training</li>
				<li>Coaching</li>
			</ul>
			</p>
				</ul>

			</div>
		</div>
		<div class="tab-pane fade" id="compassion">
			<div class='technique-name'>Compassion Fatigue Therapy</div><hr>
			<div class='technique-content'>
				<p>Compassion Fatigue is a state experienced by those helping people in distress. The effects of Compassion Fatigue can cause pain and suffering, therefore it can be helpful to talk about feelings with someone you trust and/or a mental health professional. Our program focuses on helping individuals become more educated about how they are been affected by compassion fatigue, develop healthy lifestyles to decrease the effects of this condition, develop coping strategies decrease symptoms, and identifying resources and networks to prevent stress reactions.</p>

				<p>Common symptoms:
					<ul>
				<li>Chronic physical and emotional exhaustion</li>
				<li>Depersonalization</li>
				<li>Feelings of inequity toward the therapeutic or caregiver relationship</li>
				<li>Irritability</li>
				<li>Feelings of self-contempt</li>
				<li>Difficulty sleeping</li>
				<li>Weight loss</li>
				<li>Headaches</li>
				<li>Poor job satisfaction</li>
			</ul>
			</p>

				<p>Treatment Goals:
					<ul>
				<li>Learning to reducing stressful workloads</li>
				<li>Monitoring sleep patterns</li>
				<li>Taking time to "disconnect" regularly</li>
				<li>Meditation Journaling</li>
				<li>Seeking personal therapy to process work problems</li>
				<li>Regular exercise</li>
			</ul>
			</p>

				<p>Intervention
					<ul>
				<li>Motivation for Change</li>
				<li>High Priority on Self-Care</li>
				<li>Distress Reduction in the Workplace</li>
				<li>Identifying the Situation, Feelings and Thoughts</li>
				<li>Generating Alternative Viewpoints</li>
				<li>Decatastrophizing and De-awfulizing</li>
				<li>Reaching out to support groups and networks</li>
			</ul>
			</p>

			</div>
		</div>
	</div>
</div>
</div>