<style>

#individual .section-text {
	padding: 0px 25px;
}

#individual .bold {
	margin-top: 20px;
}

#individual img {
	margin-top: 15px;
	width: 100%;
}
.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
}
.navigation li {
	border: 1px solid lightgray;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a {
	color: #4eaac8;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='individual'>
<div class='header'>Individual <span class='bold'>Therapy</span></div>
<div class='container'>
	<div class='row' style='width: 99.99%; margin: auto'>
		<div class='navigation'>
		<ul class="nav nav-pills flex-row">
		<li><a data-toggle="pill" class='active' href="#trauma">Trauma/PTSD Therapy</a></li>
		<li><a data-toggle="pill" href="#depression">Depression Therapy</a></li>
		<li><a data-toggle="pill" href="#anxiety">Anxiety Therapy</a></li>
		<li><a data-toggle="pill" href="#adhd">ADHD Treatment</a></li>
		<li><a data-toggle="pill" href="#compassion">Compassion Fatigue Therapy</a></li>
		</ul>
	</div>
	</div>

	<br>
	<div class='row'>
	<div class='section-text'>
		<p>Individual therapy is one-on-one support offered for a wide range of emotional, cognitive, and behavioral issues. Our focus here is on symptom reduction, skills development, personal change, and enhanced quality-of-life. Our patients are guided through a process of self-reflection that facilitates healing.</p>

		<p>Individual counseling is best suited for those who need to overcome personal obstacles, learn to make healthy decisions, attain unachieved goals, and cope with difficulties better.</p>
	</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="trauma">
			<div class='technique-name'>Trauma/PTSD Therapy</div><hr>
			<div class='technique-content'>


				<div class='row'>
					<dov class='col-lg-6'><img src='./images/trauma.png'>
					</dov>
					<div class='col-lg-6'>
						<p>Learn to overcome psychological trauma.</p>
						<p> Trauma exists when a person perceives threat and his/her ability to handle the event has been impaired.</p>
						<p>Common symptoms: agitation, hostility, hypervigilance, self-destructive behavior, social isolation, flashback, fear, mistrust, loss of interest or pleasure in activities, guilt, loneliness, insomnia, nightmares. emotional detachment.</p>
					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Trauma-related disorders:</div>
						<li>Adjustment disorders</li>
						<li>Post-traumatic stress disorder (PTSD)</li>
						<li>Acute stress disorder (ASD)</li>
						<li>Reactive attachment disorder (RAD)</li>
						<li>Disinhibited social engagement disorder (DSED)</li>
					</dov>
					<div class='col-lg-6'>
						<div class='bold'>Treatment Modalities:</div>
						<li>Individual Psychotherapy</li>
						<li>Cognitive Behavioral Therapy</li>
						<li>Prolonged Exposure Therapy</li>
						<li>Eye Movement Desensitization and Reprocessing (EMDR)</li>
						<li>Hypnotherapy</li>
						<li>Psychodynamic Therapy</li>
						<li>Group Therapy</li>
					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Treatment Goals:</div>
						<li>Awareness of feelings</li>
						<li>Decrease or eradicate symptoms</li>
						<li>Face the reality of the traumatic event without getting stuck in it</li>
						<li>Shift focus from the past to the present</li>
						<li>Improve daily functioning</li>
						<li>Reclaim personal power</li>
						<li>Overcome addictions associated with traumatic stress</li>
						<li>Gain skills that prevent relapse</li>

					</dov>
					<div class='col-lg-6'>
					</div>
				</div>

				
			</div>
		</div>


		<div class="tab-pane fade" id="depression">
			<div class='technique-name'>Depression Therapy</div><hr>
			<div class='technique-content'>
				<div class='row'>
					<dov class='col-lg-6'><img src='./images/depression.png'>
					</dov>
					<div class='col-lg-6'>
						<p>Learn to address persistent feeling of sadness and loss of interest.</p>
						<p>Depression exist when you experience persistent low mood or loss of interest in activities, which may have a significant impairment in your daily life.</p>
						<p>Common symptoms: apathy, guilt, hopelessness, loss of interest or pleasure in activities, sadness, excessive crying, irritability, social isolation, insomnia, fatigue, increased/decreased appetite, slowness, thoughts of suicide, weight gain/loss
					</p>
					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Types of depressive disorders:</div>

							<li>Major Depressive Disorder (Clinical Depression)</li>
							<li>Persistent Depressive Disorder</li>
							<li>Bipolar Disorder</li>
							<li>Postpartum Depression</li>
							<li>Premenstrual Dysphoric Disorder</li>
							<li>Seasonal Affective Disorder</li>
							<li>Atypical Depression</li>

					</dov>
					<div class='col-lg-6'>
						<div class='bold'>Treatment Modalities:</div>
							<li>Cognitive Behavioral Therapy</li>
							<li>Interpersonal Therapy</li>
							<li>Psychodynamic Therapy</li>
							<li>Social Skills Therapy</li>
							<li>Supportive Counseling</li>
							<li>Behavioral Activation</li>
							<li>Problem-Solving Therapy</li>

					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Treatment Goals:</div>
						<li>Develop a safety plan</li>
						<li>Participate in pleasurable or enjoyable activities</li>
						<li>Decrease suicidal ideation</li>
						<li>Learn coping skills, problem solving and emotional regulation</li>
						<li>Identify maladaptive thoughts</li>
						<li>Shift focus to adaptive thoughts</li>

					</dov>
					<div class='col-lg-6'>
				</div>
			</div>
		</div>
	</div>
		<div class="tab-pane fade" id="anxiety">
			<div class='technique-name'>Anxiety Therapy</div><hr>
			<div class='technique-content'>
				<div class='row'>
					<dov class='col-lg-6'><img src='./images/anxiety.png'>
					</dov>
					<div class='col-lg-6'>
						<p>Learn to manage strong feelings of worry, nervousness, or fear.</p>
						<p>Anxiety is often a normal response to threatening situations. However, when such a response is disproportionate to the stressors, you may experience excessive nervousness, fear, apprehension, and worry. </p>
						<p>Common symptoms: irritability, lack of concentration, racing thoughts, sweating, excessive worry, fear, insomnia, nausea, palpitations.</p>
					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Types of depressive disorders:</div>
						<li>Generalized anxiety disorder</li>
						<li>Panic disorder</li>
						<li>Agoraphobia</li>
						<li>Separation anxiety</li>
						<li>Specific phobias</li>
						<li>Social anxiety disorder</li>

					</dov>
					<div class='col-lg-6'>
						<div class='bold'>Treatment Modalities:</div>
						<li>Cognitive Behavioral Therapy</li>
						<li>Exposure Therapy</li>
						<li>Acceptance and Commitment Therapy (ACT)</li>
						<li>Dialectical Behavioral Therapy (DBT)</li>
						<li>Interpersonal Therapy (ITP)</li>
						<li>Eye Movement Desensitization and Reprocessing (EMDR)</li>

					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Treatment Goals:</div>
						<li>Reduce anxiety symptoms</li>
						<li>Learn calming skills</li>
						<li>Manage anxiety symptoms</li>
						<li>Explore biased, fearful self-talk</li>
						<li>Identify and replace irrational beliefs</li>
						<li>Build realistic, and empowering self-talk.</li>

					</dov>
					<div class='col-lg-6'>
				</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="adhd">
			<div class='technique-name'>Attention-Deficit/Hyperactivity Therapy</div><hr>
			<div class='technique-content'>
				<div class='row'>
					<dov class='col-lg-6'><img src='./images/adhd.png'>
					</dov>
					<div class='col-lg-6'>
						<p>Learn to control impulsive behaviors and develop concentration.</p>
						<p>ADHD is a neurodevelopmental disorder stemming from differences in brain development and brain activity that affect attention and self-control. It usually emerges during childhood and can persist into adulthood.</p>
						<p>Children with ADHD may have trouble paying attention, controlling impulsive behaviors (may act without thinking about what the result will be), or be overly active. ADHD lasts into adulthood for at least one-third of children with ADHD. Treatments for adults can include medication, psychotherapy, education or training, or a combination of treatments. 
						</p>
						<p>Common symptoms: fidgeting, impulsivity, irritability, difficulty focusing, forgetfulness, short attention span, boredom, , or mood swings.</p>
					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Tips:</div>
						<li>Create a routine</li>
						<li>Manage distractions</li>
						<li>Limit choices</li>
						<li>Be clear and specific</li>
						<li>Design a plan</li>
					</dov>
					<div class='col-lg-6'>
						<div class='bold'>Treatment Modalities:</div>
						<li>Cognitive Behavioral Therapy (multimodal)</li>
						<li>Social Skills Training</li>
						<li>Support Groups</li>
						<li>Nutrition and exercise</li>
						<li>Anger management</li>
						<li>Family therapy</li>
						<li>Applied behavior analysis</li>

					</div>
				</div>

				<div class='row'>
					<div class='col-lg-6'>
						<div class='bold'>Treatment can help by:</div>
						<li>Creating an environment conducive to suitable behavior</li>
						<li>Providing positive feedback and reinforcement for acceptable behavior and improvement</li>
						<li>Establishing clear consequences for unwanted behavior</li>
						<li>Enforcing negative consequences</li>
						<li>Emphasizing the importance of being consistent about expectations and consequences, both positive and negative.</li>

					</div>
					<div class='col-lg-6'>
				</div>

			</div>
		</div>
	</div>
		<div class="tab-pane fade" id="compassion">
			<div class='technique-name'>Compassion Fatigue Therapy</div><hr>
			<div class='technique-content'>
				<div class='row'>
					<dov class='col-lg-6'><img src='./images/compassion.png'>
					</dov>
					<div class='col-lg-6'>
						<p>Learn to make changes in your lifestyle to decrease pain and suffering.</p>
						<p>Compassion Fatigue is an emotional and physical state experienced by those helping people in distress. We provide education about how compassion fatigue is affecting your life and help you develop healthy lifestyles to decrease the effects of this condition, develop coping strategies to reduce symptoms, and identifying resources and networks to prevent stress reactions.</p>
					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Common symptoms</div>
						<li>Chronic physical and emotional exhaustion </li>
						<li>Depersonalization</li>
						<li>Feelings of inequity</li>
						<li>Irritability</li>
						<li>Feelings of self-contempt</li>
						<li>Difficulty sleeping</li>
						<li>Weight loss</li>
						<li>Headaches</li>
						<li>Poor job satisfaction</li>
					</dov>
					<div class='col-lg-6'>
						<div class='bold'>Treatment Approach:</div>
						<li>Motivational Interviewing</li>
						<li>Self-Care</li>
						<li>Distress Reduction in the workplace</li>
						<li>Cognitive Behavioral Therapy</li>
						<li>Brief Solution-Focused Therapy</li>
						<li>Support groups and networks</li>

					</div>
				</div>

				<div class='row'>
					<dov class='col-lg-6'>
						<div class='bold'>Treatment Goals:</div>
						<li>Reduce stressful workloads</li>
						<li>Monitor sleep patterns</li>
						<li>Disconnect regularly</li>
						<li>Meditation journaling</li>
						<li>Process work problems</li>
						<li>Regular exercise</li>

					</dov>
					<div class='col-lg-6'>
				</div>

			</div>
		</div>
	</div>
	</div>
</div>
</div>