<style>

#issues {
	/*background: #f6f8f9;*/
	padding: 55px 0px;
}

#issues .header {
	margin-top: 0px;
}

#issues ul {
  list-style: none; /* Remove default bullets */
}

#issues ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #4eaac8;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

</style> 

<div id='issues'>
<div class='container'>
<div class='sub-title center'>Common Issues</div>
	<div class='header'>We Can Help <span class='bold'>With</span></div>
	<hr class='short'>
</div>

<div class='faq-questions'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-4'>
				<ul>
					<li>Dual Diagnoses</li>
					<li>Substance Abuse</li> 
					<li>Attention Deficit & Hyperactivity (ADHD)</li>
					<li>Obsessions/Compulsivity (OCD)</li>
					<ul>
						<li>Hoarding</li>
					</ul>
					<li>Impulse Control Disorders</li>
					<li>Oppositional Defiance (ODD)</li>
					<li>Personality Disorders</li>
					<li>Anxiety</li>
					<li>Clinical Depressive (MDD)</li>
					<li>Other Mood Disorders (BD/SAD)</li>
					<li>Borderline Personality (BPD)</li>
					<li>Relationship Issues</li>
					<ul>
						<li>Infidelity</li>
						<li>Codependency</li>
						<li>Family Conflict</li>
						<li>Break-ups</li>
						<li>Separation & Divorce</li>
					</ul>
						
				</ul>
			</div>
			<div class='col-lg-4'>
				<ul>
					<li>Marital and Premarital Conflict</li>
					<li>Pregnancy, Prenatal, Postpartum</li>
					<li>Domestic Abuse and Violence</li>
					<li>Life Transitions</li>
					<li>Behavioral Addictions</li>
					<ul>
						<li>Food</li>
						<li>Internet</li>
						<li>Gambling</li>
						<li>Sex & Masturbation</li>
						<li>Shopping</li>
						<li>Video Games</li>
					</ul>
					<li>Men's Issues</li>
					<li>Anger Management</li>
					<li>Behavioral Problems</li>
					<li>Peer Relationships</li>
					<li>Teen Violence</li>
					<li>Stress</li>
					<li>Trauma</li>
				</ul>
			</div>
			<div class='col-lg-4'>
				<ul>
					<li>Sexual Abuse</li>
					<li>Post-traumatic Stress Disorder</li> 	
					<li>Compassion Fatigue</li>
					<li>Suicidal Ideation</li>
					<li>Self-Harming</li>
					<li>Thought Disorders</li>
					<li>Loss & Grief</li>
					<li>Life Coaching</li>
					<li>Coping Skills</li>
					<li>Compassion Fatigue</li>
					<li>Sleep or Insomnia</li>
					<li>Parenting</li>
					<li>School Issues</li>
					<li>Racial Identity</li>
					<li>Self Esteem</li>
					<li>Elderly Persons Disorders</li>
					<li>Immigration Evaluations for Visa applications</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</div>





