<style>

#outpatient .bold {
	font-weight: 400;
}	
#outpatient img {
	width: 100%;
	vertical-align: top;
}

</style>

<div id='outpatient'>

<div class='container'>
<!-- <div class='sub-title'>WHAT WE TREAT</div> -->
	<div class='header'>Outpatient Substance <span class='bold'>Abuse</span></div>
	<hr class='short'>
</div>

<div class='container'>
	<!-- <div class='background-alt'> -->
		<div class='row'>
		<div class='col-lg-6'>
			<img src='./images/dots.png'>
		</div>
		<div class='col-lg-6'><p>
			<div class='section-text bold' style='margin-top: 20px'>Alcohol and Drug Psychoeducation</div>
			<div class='section-text'>Early Intervention for individuals who are at risk of developing substance-related problems  - or there is not yet sufficient information to document a diagnosable substance use disorder.</div></p>
			<p><div class='section-text bold'>Aftercare/Relapse Prevention Treatment</div>
			<div class='section-text'>Typically consists of less than 9 hours of service per week for adults (less than 6 hours for adolescents) for recovery or motivational enhancement. </div></p>
			<p><div class='section-text bold'>Clinical Supervision</div>
			<div class='section-text'>For associate-level substance abuse professionals.</div></p>
			<p><div class='section-text bold'>Drug and Alcohol Screenings</div>
			<div class='section-text'>Office-based tests to detect and manage alcohol and substance use disorders.</div></p>
		</div>
	<!-- </div> -->
	</div>
</div>