<style>

.card-head {
	text-align: center;
	padding: 10px;
	background: gray;
	color: white;
}

#perspectives {
	padding: 50px 0px;
}

#perspectives .header {
	margin-top: 0px;
}
.perspective-card {
	width: 100%;
	height: 475px;
	border: 1px solid lightgray;
	/*padding: 10px;*/
}	

#perspectives .section-text {
	padding: 10px;
}
</style>

<div class='container'>
	<div class='row'>
		<img src='./images/heart.png' style='width: 30%; padding-top: 20px; padding-bottom: 20px'>
		<img src='./images/laugh.png' style='width: 40%'>
		<img src='./images/handheart.png' style='width: 30%; padding-top: 20px; padding-bottom: 20px'>
	</div>
</div>
<div id='perspectives'>
	<div class='container'>
	<div class='sub-title center'>COUPLES PROBLEMS</div>
		<div class='header'>Therapy <span class='bold'>Perspectives</span></div>
	
		<div class='row'>
			<!-- <div class='col-lg-1'></div> -->
			<div class='col-lg-4'>
				<div class='perspective-card'>
					<div class='card-head'>Gottman Approach</div>
					<div class='section-text'>
						<p>Balance of positivity to negativity in the couples interactions.</p>

						<p>“Every relationship is a system that develops its own balance or stable steady states, with respect to the ratio of positivity and negativity in behavior, perception, and physiology. These stable states are a way of quantifying the old idea of homeostasis in general systems theory.” – John Gottman</p>

						<p>Criticism • Defensiveness • Contempt • Stone walling</p>

					</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='perspective-card'>
					<div class='card-head'>Emotionally Focused Therapy</div>
					<div class='section-text'>
						<p>Expression of deep, underlying emotions from a place of vulnerability.</p>

						<p>Reorganize and expand your emotional responses to secure the bond that that exist between you and your partner. Additionally, reposition the stance that you have on interactions with your partner to create new and more beneficial interactions within the partnership.
						– Sue Johnson</p>

						<p>Emotional Connection • Attachment • Indirect Support • Emotional Confirmation</p>

					</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='perspective-card'>
					<div class='card-head'>IMAGO Approach</div>
					<div class='section-text'>
						<p>Conflict within the relationship creates opportunities for healing and growth.</p>

						<p>Understand each other’s feelings and “childhood wounds” more empathically… to heal… and move toward a more conscious relationship… The “Imago Dialogue” allows couples to move from blame and reactivity, to understanding and empathy, [to] create a deeper and loving connection with each other. – Harville  Hendrix and Helen L. Hunt</p>

						<p>Reactivity • Empathy • Loving connection </p>

					</div>
				</div>
			</div>
			<!-- <div class='col-lg-1'></div> -->
		</div>
</div>
</div>
