<style>


	#preference {
		padding: 55px 200px;
		/*color: #5c656d;*/
		color: white;
		text-align: left;
		/*background: white;*/
		/*height: 600px;*/
		/*margin-bottom: 25px;*/
		background: #97AFB9;
	}

	#preference button {
		float: none;
		margin-top: 20px;
	}

	#preference button:hover {
		background: #00314A; 
		transition: background .5s ease;
	}
	
	#preference img {
		width: 100%;
		border-radius: 10px;
		margin-top: 20px;
		/*box-shadow: 19px 11px 46px 0px rgba(15, 8, 49, 0.2);*/
	}

	#preference hr {
		width: 30%;
		margin-left: 0px;
	}

	#preference .section-text {
		color: white;
	}
</style>

<div id='preference' class='background-alt'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='why-image'><img src='./images/windows.png'></div>
			</div>
			<div class='col-lg-6'>
				<br>
				<div class='sub-title'>TREATMENT PREFERENCE</div>
				<div class='section-title'>Greater Choices in your Treatment <span class='bold'>Experience</span></div>
				<hr>
				<div class='section-text'><p>Our treatment preference is to offer you greater choices in your personal therapy experience so as to allow us to evaluate your psychosocial and relational profile and provide you the type of counseling that is most adequate and effective for you. </p>
				<p>We understand that social stigma, demotivation, self-reliance, and money can influence treatment seeking behavior and accepting the need for help even during times of crisis. </p> 
				 </div>
			</div>
			</div>
		</div>
	</div>
</div>