<style>

.bigger {
	font-size: 26px;
	/*font-weight: 400;*/
}

.white {
	color: white;
}


</style>

<div id='sa-boxes'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-4' style='background-color: #00314A !important; padding: 25px 0px'>
				<div class='title section-text bigger center white'>Treatment Process </div>
				<table class='center section-text white'>
					<tr>
						<td>Intake/Screening</td>
					</tr>
					<tr>
						<td>l</td>
					</tr>
						<td>Clinical Assessment</td>
					</tr>
					<tr>
						<td>l</td>
					</tr>
					<tr>
						<td>Psychoeducation</td>
					</tr>
					<tr>
						<td>l</td>
					</tr>
					<tr>
						<td>Individual and/or Group Therapy</td>
					</tr>
					<tr>
						<td>l</td>
					</tr>
					<tr>
						<td>Support Group Attendance Required</td>
					</tr>
					<tr>
						<td>l</td>
					</tr>
					<tr>
						<td>Random Drug Screens</td>
					<tr>
						<td>l</td>
					</tr>
					<tr>
						<td>Discharge</td>
					</tr>
					<tr>
						<td>l</td>
					</tr>
					<tr>
						<td>Follow-up</td>
					</tr>
				</table>
			</div>
			<div class='col-lg-4' style='background-color: #97AFB9; padding: 25px 0px;' >
				<div class='title section-text bigger center white'>Treatment Goals</div>
				<ol class='section-text white'>
					<li>To identify the causes and consequences of substance abuse</li>
					<li>To reduce or eliminate substance use</li>
					<li>To remove access to illegal and dangerous drug</li>
					<li>To understand underlying co-occurring mental health issues</li>
					<li>To develop healthy coping techniques</li>
					<li>To connect treatment and recovery with support network</li>
					<li>To develop new and improved strategies to prevent drug use</li>
					<li>To achieve and maintain a meaningful, sustained recovery</li>
				</ol>
			</div>
			<div class='col-lg-4' style='background-color: #E6F4F1; padding: 25px 0px;'>
				<div class='title section-text bigger center'>Treatment Modalities</div>
				<ul class='section-text'>
					<li>Cognitive Behavioral Therapy</li><br>
					<li>Motivational Interviewing</li><br>
					<li>Rational Emotive Behavior Therapy</li><br>
					<li>Dialectical Behavioral Therapy</li><br>
					<li>Eye Movement Desensitization and Reprocessing</li><br>
					<li>Seeking Safety</li>
				</ul>
			</div>
		</div>
		<div class='section-text'>** Aftercare follow-up is conducted regular intervals after discharge to check-in, receive feedback, and provide you with encouragement and guidance when necessary.</div>
	</div>
</div>

