<style>
	
#effective {
	background: #97AFB9;
	padding: 55px 0px;
}

#effective .section-text {
	color: white;
}

#effective .section-title {
	color: white;
	margin-bottom: 20px;
}

</style>


<div id='effective'>
	<div class='container'>
		<div class='section-title'>Effective Supervision</div>
		<div class='section-text'>
		<p>Our clinical supervisors have met the required education and are passionate about helping new therapist develop competence, interpersonal skills, and professional maturity. </p>

		<p>Supervision will be based on their knowledge of the performance domains, including:</p>
		</div>
		<ul class='section-text'>
			<li>Counselor Development</li>
			<li>Professional & Ethical Standards</li>
			<li>Program Development & Quality Assurance</li>
			<li>Performance Evaluation</li>
			<li>Administration</li>
			<li>Treatment Knowledge</li>
		</ul>
	</div>
</div>
