<style>



#sa-education {
	/*background: #97AFB9;*/
	/*height: 300px;*/
	width: 100%;
	/*color: white;*/
	padding-top: 50px;
	padding-bottom: 50px;
}

#sa-education hr {
	/*border-color: white;*/
}

#sa-education .section-text {
	/*color: white;*/
}

#sa-education .sub-title {
	/*color: white;*/
	margin-top: 125px;
}

.left-title {
	text-align: center;
}

.right-side {
	position: relative;
}

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
}
.navigation li {
	border: 1px solid lightgray;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='sa-education'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<div class='sub-title'>LEVEL 0.5</div>
					<div class='section-title'>Alcohol and Drug <span class='bold'>Education</span></div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
			<div class='right-side section-text'>
				<p>Wilmington Mental Health uses a variety of methods to help you achieve sobriety, reinforce your efforts to stay sober, or learn healthy ways to manage their substance use.</p>

				<p>One of those approaches is psychoeducation, which is often combined with cognitive behavioral therapy to educate you about substance abuse and its consequences, to create awareness and motivate you to seek treatment, and to support you if you are considering recovery.</p>

				<p>Psychoeducation is an essential treatment ingredient that often leads to meaningful conversations and long-lasting positive changes. At WMH we strive to provide you with engaging lectures that you can apply to your recovery.</p>
			</div>
			</div>
		</div>
	</div>
</div>