<style>




</style>

<div id='substance'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>OUTPATIENT SERVICES</div>
			<div class='section-title'>Substance Abuse <span class='bold'>Treatment</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>Substance abuse is one of our nation’s major health problem and demands effective treatment. We offer both individual and group therapy to engage anyone affected with a substance use disorder. Individual therapy provides an opportunity to become educated about alcohol and drugs, learn skills essential to recovery, and develop strategies to prevent relapse. Group therapy, in turn, works well for those needing affiliation and connection with others experiencing similar issues.</p>

			<p>Substance abuse treatment is very effective in treating co-occurring disorders. That is, when people experience drug or alcohol addiction and suffer from depression, anxiety, bipolar disorder, or any other mental health condition. Substance abuse treatment can be very supportive in times of distress and trouble, it can help people develop health and creative lifestyles, and be a powerful source of stabilization.</p>
		</div>
	</div>
</div>

