<style>

#sa-how {
	padding: 55px 0px;
	background: #97AFB9;
	color: white;
}

#sa-how img {
	margin: 20px 0px;
}


#sa-how .section-text {
	color: white !important;
}

</style>


<div id='sa-how'>
<div class='container'>
<div class='section-title'>How it Works? </div><br>
<div class='section-text'>
<p>Psychoeducation is synonym of empowerment. It informs you and your family members the risks and consequences of substance abuse, addictive behaviors, and co-occurring disorders. Psychoeducational material is presented within a structured framework via lectures, videos, or audio recordings.</p>

<p>WMH therapists often start conversation about specific topics to instill self-awareness, to identify resources and strengths, explore alternatives for growth and change, to educate about the process of recovery, to encourage action and commitment, to teach recovery and relapse prevention skills, and to communicate to family members the need to offer support to the recovering person. When treatment is completed, the knowledge you acquire through psychoeducation can be an invaluable tool for coping and continuing on in your recovery process. You will learn about:</p>

<p class='center'>The nature of substance abuse • Substance abuse treatment options • Coping and management strategies • Skills to avoid relapse.</p>


</div>
</div>
</div>