<style>

.right-text {
	font-size: 24px;
	text-align: right;
	margin-top: 125px;
	padding-bottom: 50px;
}

#sa-life {
	background-color: #00314A !important;
	padding: 50px 0px;
}

#sa-life .section-text {
	color: white;
}

</style>

<div id='sa-life'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-5'><img src='./images/life.png'></div>
			<div class='col-lg-7'>
				<div class='right-text section-text'>Our therapeutic effort is provided within the most caring,<br> private, and professional environment.</div>
			</div>
		</div>
	</div>
</div>