<style>

.right-text {
	font-size: 24px;
	text-align: right;
	margin-top: 100px;
	padding: 55px auto;
}

#sa-life {
	background-color: #00314A !important;
	padding: 50px 0px;
}

#sa-life .section-text {
	color: white;
}

#sa-life img {
	box-shadow: 5px 5px 40px black;
}
</style>

<div id='sa-life'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-5'><img src='./images/life.png' alt='Life'></div>
			<div class='col-lg-7'>
				<div class='right-text section-text'>Our therapeutic effort is provided within the most caring,<br> private, and professional environment.</div>
			</div>
		</div>
	</div>
</div>