<style>

#plan {
	background: #00314A !important;
	padding: 55px 0px;
}

#plan .section-text, #plan .section-title {
	color: white;
}
</style>


<div id='plan'>
	<div class='container'>
		<div class='section-title'>Relapse Prevention Plan</div>
		<div class='section-text'><p>A written personal recovery plan is a detailed plan of action to help identify self-care strategies, potential signs of relapse, people you will reach out to during difficult times, and techniques you can use to deal with urges and cravings.</p>

		<p>Relapse prevention plan components:
		<ul>
			<li>Your goals and motivation to stay in recovery </li>
			<li>Your challenges</li>
			<li>Your coping skills and strategies</li>
			<li>Your support system</li>
			<li>The consequences of relapsing</li>
			<li>How to remain accountable</li>
			<li>I am grateful for</li>
			<li>Ways to improve self-care and avoid relapse</li>
		</ul>
	</p>
</div>
<div class='row section-text' style='margin-top: 50px'>
	<div class='col-lg-4 center' style='border-right: 1px solid white'>
		<div class='plan-title bold'>Length</div>
		<div class='plan-text'>Minimum 12 consecutive weeks.</div>
	</div>
	<div class='col-lg-4 center' style='border-right: 1px solid white'>
		<div class='plan-title bold'>Absences</div>
		<div class='plan-text'>Only two absences are allowed.</div>
	</div>
	<div class='col-lg-4 center'>
		<div class='plan-title bold'>Materials</div>
		<div class='plan-text'>Books and handouts will be provided</div>
	</div>
	</div>
	</div>
</div>
