<style>

.banner-box {
	width: 100%;
	background: #00314A;
	color: white;
	padding: 15px;
	text-align: center;
	font-size: 26px;
	font-weight: 300;
	margin: 50px 0px 0px 0px;
	padding: 50px 0px 50px 0px;
}	

#substance-model  {
	padding: 55px 0px;
}

#substance-model .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#substance-model .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#substance-model .box .section-text {
	color: white;
	font-size: 16px;
}

</style>

<div id='substance-model'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'>TREATMENT PROCESS</div>
			<div class='section-title'>Simple language + Open discussions = <span class='bold'>De-stigmatization</span></div>
			<hr class='short'>
		</div>
		<div class='section-text' style='padding-bottom: 55px'>
			<p>Psychoeducation and instructional support serve to promote recovery. Family members are often invited to receive furthering education regarding substance abuse treatment and recovery so that they have a better understanding of their loved one is facing.</p>


		</div>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Intake/Screening </div>
					<div class='box-title section-text center'>Information gathering</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Clinical Assessment</div>
					<div class='box-title section-text center'>ASAM Level 0.5 determination</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Psychoeducation</div>
					<div class='box-title section-text center'>Structured education on substance abuse</div>
				</div>
			</div>
		</div>
	<div class='row'>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Individual or Group Therapy</div>
					<div class='box-title section-text center'>At least 12 consecutive weeks of treatment</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Support Groups</div>
					<div class='box-title section-text center'>Participation in mutual support group</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='box'>
					<div class='box-phase center'>Random Drug Screens</div>
					<div class='box-title section-text center'>Alcohol and drug testing</div>
				</div>
			</div>
		</div>
			
		</div>
	</div>
	