<style>



#sa-treatment {
	/*background: #97AFB9;*/
	/*height: 300px;*/
	width: 100%;
	/*color: white;*/
	padding-top: 55px;
	padding-bottom: 55px;
}

#sa-treatment hr {
	/*border-color: white;*/
}

#sa-treatment .section-text {
	/*color: white;*/
}

#sa-treatment .sub-title {
	/*color: white;*/
	margin-top: 100px;
}

.left-title {
	text-align: center;
}

.right-side {
	position: relative;
}

.treatment-box {
	text-align: center;
}

</style>

<div id='sa-treatment'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<div class='sub-title'>ASAM LEVEL I</div>
					<div class='section-title'>Relapse <span class='bold'>Prevention</span></div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
			<div class='right-side section-text'>
				<p>The primary goal of relapse prevention treatment is to identify high-risk situations that will make you vulnerable to relapse.</p>

				<p>WMH therapist use cognitive behavioral therapy to teach you coping strategies to prevent future relapses and how to anticipate scenarios that may trigger your addictive behavior.</p>

				<p>During relapse prevention treatment, you will learn skills to cope with internal and external triggers and identify contributing factors that make relapsing more likely to occur. You will design a relapse prevention plan with your therapist to is fundamental during aftercare, therefore it is important that communication exist between the recovering person and a aftercare counselor.</p>
			</div>
			</div>
		</div>
	</div>
</div>