<style>



#sa-treatment {
	/*background: #97AFB9;*/
	/*height: 300px;*/
	width: 100%;
	/*color: white;*/
	padding-top: 50px;
	padding-bottom: 50px;
}

#sa-treatment hr {
	/*border-color: white;*/
}

#sa-treatment .section-text {
	/*color: white;*/
}

#sa-treatment .sub-title {
	/*color: white;*/
	margin-top: 125px;
}

.left-title {
	text-align: center;
}

.right-side {
	position: relative;
}

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
}
.navigation li {
	border: 1px solid lightgray;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='sa-treatment'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<div class='sub-title'>ASAM LEVEL I</div>
					<div class='section-title'>Relapse <span class='bold'>Prevention</span></div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
			<div class='right-side section-text'>
				<p>The primary goal of relapse prevention treatment is to identify high-risk situations that will make you vulnerable to relapse.</p>

				<p>WMH therapist use cognitive behavioral therapy to teach you coping strategies to prevent future relapses and how to anticipate scenarios that may trigger your addictive behavior.</p>

				<p>During relapse prevention treatment, you will learn skills to cope with internal and external triggers and identify contributing factors that make relapsing more likely to occur. You will design a relapse prevention plan with your therapist to is fundamental during aftercare, therefore it is important that communication exist between the recovering person and a aftercare counselor.</p>
			</div>
			</div>
		</div>
	</div>
</div>