<style>



#sa-supervision {
	/*background: #97AFB9;*/
	/*height: 300px;*/
	width: 100%;
	/*color: white;*/
	padding-top: 50px;
	padding-bottom: 50px;
}

#sa-supervision hr {
	/*border-color: white;*/
}

#sa-supervision .section-text {
	/*color: white;*/
}

#sa-supervision .sub-title {
	/*color: white;*/
	margin-top: 100px;
}

.left-title {
	text-align: center;
}

.right-side {
	position: relative;
}

.treatment-box {
	text-align: center;
}

</style>

<div id='sa-supervision'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<div class='sub-title'>ADDICTION PROFESSIONALS</div>
					<div class='section-title'>Clinical <span class='bold'>Supervision</span></div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
			<div class='right-side section-text'>
				<p>Clinical supervision is an important part of a therapist’ professional development and growth. It safeguards our profession and enhances quality care.</p>

				<p>WMH provides effective clinical supervision by training, educating, supporting, and guiding substance abuse professionals who treat, prevent, and reduce the conditions that place individuals at risk of developing a substance use disorder.</p>

				<p>Our clinical supervisors are experienced and possess a wealth of formal knowledge and professional skills that are to be passed on to the supervisee</p>

				<p class='center'>Leadership • Encouragement • Skillful Training • Clinical Direction
</p>

			</div>
			</div>
		</div>
	</div>
</div>