<style>



#sa-treatment {
	/*background: #97AFB9;*/
	/*height: 300px;*/
	width: 100%;
	/*color: white;*/
	padding-top: 50px;
	padding-bottom: 50px;
}

#sa-treatment hr {
	/*border-color: white;*/
}

#sa-treatment .section-text {
	/*color: white;*/
}

#sa-treatment .sub-title {
	/*color: white;*/
	margin-top: 125px;
}

.left-title {
	text-align: center;
}

.right-side {
	position: relative;
}

.treatment-box {
	text-align: center;
}

.navigation {
	text-decoration: none;
}
.navigation li {
	border: 1px solid lightgray;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.navigation li:hover {
	border: 1px solid #4eaac8;
	width: 210px;
	margin: 5px;
	text-align: center;
	padding: 5px;
	font-size: 15px;
	transition: font-size 100ms ease-in-out;
	color: lightgray;
	text-decoration: none !important;
	font-weight: 400;
}

.navigation a:hover {
	text-decoration: none;
	color: black;
}

.navigation ul {
	margin: auto;
}

#individual {
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#individual .tab-content {
	margin: 50px 1em;
}

.technique-name {
	font-size: 20px;
	font-weight: 400;
	color: #4eaac8;
}
</style>

<div id='sa-treatment'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6'>
				<div class='left-title'>
					<div class='sub-title'>LEVEL 1</div>
					<div class='section-title'>Outpatient <span class='bold'>Treatment</span></div>
					<hr class='short'>
				</div>
			</div>
			<div class='col-lg-6' style='position: relative'>
			<div class='right-side section-text'>
				<p>This level of care typically follows rehabilitation or Substance Abuse Intensive Outpatient (SAIOP). Treatment is frequently offered several times a week, but less than nine hours per week, and organized to enhance your recovery and motivation to continue your recovery.</p>

				<p>During this recovery period you will develop a relapse prevention plan to lower your relapse potential and the techniques you have previously learned will be reinforced.</p>

				<p>Your therapist will help you set goals that are relevant and meaningful to your recovery and evaluate your personal expectations so that they are in line with your treatment plan and motivation to stay on track with your recovery.</p>

			</div>
			</div>
		</div>
		<div class='section-text'>
		<p>Level 1 outpatient treatment will suit you if you:</p>

		<ul>
			<li>Have recently been referred to our program from a more intensive treatment</li>
			<li>Have a less severe substance use disorder</li>
			<li>Are or have been stable for an extended period</li>
		</ul>

		<p>Treatment recommendations will be following your initial assessment and your therapist may ask that you participate in individual and/or group therapy. WMH’s Level 1 Alcohol and Drug treatment program can last between 6 and 52 weeks. Participants are required to attend a minimum of two groups per week, including support groups such as AA, NA, or SMART Recovery. </p>
	</div>

	</div>
</div>