<style>

#who {
	padding: 50px 0px;
}

#who .section-title, #what .section-title {
	margin-bottom: 20px;
}

#when {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

#when td {
	vertical-align: top;
}

th {
	background: #97AFB9;
	color: white;
	padding-left: 10px;
}

</style>

<div id='who'>
	<div class='section-title center'>Who can be supervised?</div>
	<div class='section-text center'>Licensed clinical addiction specialists (LCAS) • Certified Substance Abuse Counselors (CSACs) • Certified Criminal Justice Professionals (CCJPs)</div>
</div>

<div class='container'>
<div id='what'>
<div class='section-title'>What to expect?</div>

<div class='section-text'>
<p>Your supervisor will:
<ol>
<li> help you see the role ethics play in your professional growth</li>
<li> review with you the NCSAPPB’s code of ethics</li>
<li> maintain a supervisory file documenting your growth and development</li>
<li> complete annual written evaluations summarizing your professional progress</li>
<li> outline a plan to address areas identified as needing further growth</li>
<li> provide a copy of your assessment to the Board, if requested, and</li>
<li> present the Board with an accurate representation of your readiness for a certification or license</li>
</ol>
</p>
</div>
</div>

<table id='when' class='center'>
	<tr>
		<th>Cost</th>
		<th>Requirements</th>
	
	</tr>
	<tr class='section-text '>
		<td><span class='bold'>$75</span> (individual supervision) • <span class='bold'>$50</span> (group supervision)</td>
		<td>Supervision Contract • Weekly or Biweekly Meetings</td>
	</tr>
</table>

</div>