<style>

td {
	/*border: 1px dashed red;*/
	/*height: 310px;*/
	width: 300px;
	padding: 0px;
	vertical-align: bottom;
}

#services {
	/*background: #f6f8f9;*/
	width: 100%;
	/*padding-bottom: 50px;*/
	padding-top: 55px;
	padding-bottom: 0px;
}

#services a {
	text-decoration: none;
}

#services .header {
	margin-top: 0px;
	padding-top: 0px;
}

#services .sub-title {
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px !important;
	padding-top: 50px;
}

.service-box {
	/*border: 1px solid lightgray;*/
	/*margin: 10px 0px;*/
	height: auto;
	padding: 20px 5px;
	text-align: center;
	background: white;
}

.service-box i {
	text-align: center;
	margin: auto;
	font-size: 50px;
	color: #4eaac8;
}

.service-header {
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.service-table {
	margin: auto;
	text-align: center;
}

.service-text {
	text-align: left;
	font-size: 1em;
}

.title-box {
	width: 100%;
	height: 100%;
	border: 1px solid black;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	background: white;
	color: gray;
	border: 1px solid #4eaac8;
}

</style> 
<div id='services'>

<div class='container'>
	<div class='row'>
		<div class='col-lg-1'></div>
		<div class='col-lg-5'><a href='#services'><div class='title-box'>Outpatient Mental Health Services</div></a></div>
		<div class='col-lg-5' id='tbox'><a href='#outpatient'><div class='title-box'>Outpatient Substance Abuse Treatment</div></a></div>
		<div class='col-lg-1'></div>
	</div>
	<div class='row'>
		<div class='col-lg-1'></div>
		<div class='col-lg-5' style='margin-top: 25px'><a href='#approach'><div class='title-box'>Treatment Approach </div></a></div>
		<div class='col-lg-5' style='margin-top: 25px'><a href='#preference'><div class='title-box'>Treatment Preference</div></a></div>
		<div class='col-lg-1'></div>
	</div>
</div>


<div class='container'>
<div class='sub-title'>LEVELS OF CARE</div>
	<div class='header'>Outpatient Mental <span class='bold'>Health</span></div>
	<hr class='short'>
</div>

<div class='service-table hide-on-mobile'>
<table style='margin: auto'>
	<tr>
		<td></td>
		<td rowspan='2'>
			<div class='service-box' style='height: 250px'>
				<div class='service-icon'><i class="fas fa-couch"></i></div>
				<div class='service-header'>Individual Therapy</div>
				<div class='service-text'>
					<ul>
						<li>Trauma/PTSD Therapy</li>
						<li>Depression Therapy</li>
						<li>Anxiety Treatment</li>
						<li>ADHD Treatment</li>
						<!-- <li>Compassion Fatigue Therapy</li> -->
					</ul>
				</div>
			</div>
		</td>
		<td></td>
	</tr>
	<tr>
		<td rowspan='2' style='border-bottom: 1px solid gray'>
			<div class='service-box' style='padding-top: 100px'>
				<div class='service-icon'><i class="fas fa-desktop"></i></div>
				<div class='service-header'>Teletherapy</div>
				<div class='service-text'>
					<ul>
						<li>Remote</li>
						<li>Secure</li>
						<li>Reliable</li>
					</ul>
				</div>
			</div>
		</td>
		<td rowspan='2' style='border-bottom: 1px solid gray'>
				<div class='service-box' style='padding-top: 100px'>
					<div class='service-icon'><i class="fas fa-user-friends"></i></div>
					<div class='service-header'>Couple / Family Therapy</div>
					<div class='service-text'>
						<ul>
							<li>Premarital Counseling</li>
							<li>Conflict Resolution</li>
							<li>Family Systems</li>
						</ul>
					</div>
				</div>
		</td>
		<!-- <td>f</td> -->
	</tr>
	<tr>
		<td rowspan='2'>
			<div class='service-box' style='background: whitesmoke'>
					<div class='service-icon'><i class="fas fa-plus-circle"></i></div>
					<div class='service-header'>Specialties</div>
					<div class='service-text'>
						<ul>
							<li>Anger Management</li>
							<li>EMDR</li>
							<li>Biofeedback</li>
							<li>Sex Offender Treatment</li>
							<li>Trauma-Focused CBT</li>
						</ul>
					</div>
				</div>
		</td>
		<!-- <td>i</td> -->
		<!-- <td>j</td> -->
	</tr>
	<tr>
		<td rowspan='2' style='vertical-align: top'>
			<div class='service-box'>
				<div class='service-icon'><i class="fas fa-users"></i></div>
				<div class='service-header'>Group Therapy</div>
				<div class='service-text'>
					<ul>
						<li>Anger, Aggression & Violence</li>
						<li>What Do I Worry So Much?</li>
						<li>Grief, Loss, and Trauma</li>

					</ul>
				</div>
			</div>
		</td>
		<td rowspan='2' style='vertical-align: top'>
			<div class='service-box'>
					<div class='service-icon'><i class="fas fa-clipboard-list"></i></div>
					<div class='service-header'>Clinical Evaluations</div>
					<div class='service-text'>
						<ul>
							<li>Intake Assessment (CCA)</li>
							<li>Immigration Evaluations</li>
							<li>Sex Offender Risk Assessment</li>

						</ul>
					</div>
				</div>
		</td>
		<!-- <td>m</td> -->
	</tr>
	<tr>
		<td rowspan='2'>
			<div class='service-box'>
					<div class='service-icon'><i class="fas fa-bars"></i></div>
					<div class='service-header'>Other Services</div>
					<div class='service-text'>
						<ul>
							<li>Employee Assistance Program</li>
							<li>Compassion Fatigue Therapy</li>
							<li>Urinalysis</li>

						</ul> 
					</div>
				</div>
		</td>
		<!-- <td>o</td> -->
		<!-- <td>p</td> -->
	</tr>
	<tr>
		<td></td>
		<td></td>
		<!-- <td>s</td> -->
	</tr>
</table>
</div>

<div class='service-table hide-on-desktop display-on-mobile' style='height: auto'>
	<div class='container'>
	<div class='row'>
		<div class='col-lg-4'>
			<div class='service-box' style='height: 250px'>
				<div class='service-icon'><i class="fas fa-couch"></i></div>
				<div class='service-header'>Individual Therapy</div>
				<div class='service-text'>
					<ul>
						<li>Trauma/PTSD Therapy</li>
						<li>Depression Therapy</li>
						<li>Anxiety Treatment</li>
						<li>ADHD Treatment</li>
						<!-- <li>Compassion Fatigue Therapy</li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class='col-lg-4'>
			<div class='service-box' style='padding-top: 100px'>
				<div class='service-icon'><i class="fas fa-desktop"></i></div>
				<div class='service-header'>Teletherapy</div>
				<div class='service-text'>
					<ul>
						<li>Remote</li>
						<li>Secure</li>
						<li>Reliable</li>
					</ul>
				</div>
			</div>
		</div>
		<div class='col-lg-4'>
				<div class='service-box' style='padding-top: 100px'>
					<div class='service-icon'><i class="fas fa-user-friends"></i></div>
					<div class='service-header'>Couple / Family Therapy</div>
					<div class='service-text'>
						<ul>
							<li>Premarital Counseling</li>
							<li>Conflict Resolution</li>
							<li>Family Systems</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='service-box' style='background: whitesmoke'>
					<div class='service-icon'><i class="fas fa-plus-circle"></i></div>
					<div class='service-header'>Specialties</div>
					<div class='service-text'>
						<ul>
							<li>Anger Management</li>
							<li>EMDR</li>
							<li>Biofeedback</li>
							<li>Sex Offender Treatment</li>
							<li>Trauma-Focused CBT</li>
						</ul>
					</div>
				</div>
			</div>
		<div class='col-lg-4'>
			<div class='service-box'>
				<div class='service-icon'><i class="fas fa-users"></i></div>
				<div class='service-header'>Group Therapy</div>
				<div class='service-text'>
					<ul>
						<li>Anger, Aggression & Violence</li>
						<li>What Do I Worry So Much?</li>
						<li>Grief, Loss, and Trauma</li>

					</ul>
				</div>
			</div>
		</div>
	<div class='col-lg-4'>
			<div class='service-box'>
					<div class='service-icon'><i class="fas fa-clipboard-list"></i></div>
					<div class='service-header'>Clinical Evaluations</div>
					<div class='service-text'>
						<ul>
							<li>Intake Assessment (CCA)</li>
							<li>Immigration Evaluations</li>
							<li>Sex Offender Risk (SORA)</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	<div class='row'>
		<div class='col-lg-12'>
			<div class='service-box'>
					<div class='service-icon'><i class="fas fa-bars"></i></div>
					<div class='service-header'>Other Services</div>
					<div class='service-text'>
						<ul>
							<li>Employee Assistance Program (EAP)</li>
							<li>Mental Health Screenings</li>
							<li>Compassion Fatigue Therapy</li>

						</ul> 
					</div>
				</div>
			</div>
	</div>
</div>
</div>

	<div class='container'>
		<div class='row'>
			<div class='col-lg-4'>

			</div>
			<div class='col-lg-4'>
				
			</div>
			<div class='col-lg-4'>

			</div>
		</div>
		<div class='row'>
			<div class='col-lg-4'>
				
			</div>
			<div class='col-lg-4'>
				
			</div>
			<div class='col-lg-4'>
				
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='service-icon'></div>
				<div class='service-header'></div>
				<div class='service-text'></div>
			</div>
			<div class='col-lg-4'>
				
			</div>
			<div class='col-lg-4'>
				<div class='service-icon'></div>
				<div class='service-header'></div>
				<div class='service-text'></div>
			</div>
		</div>
	</div>
</div>