<style>

#services {
	background: #f6f8f9;
	width: 100%;
	padding-bottom: 50px;
}

#services .header {
	margin-top: 0px;
	padding-top: 0px;
}

#services .sub-title {
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px !important;
	padding-top: 50px;
}

.service-box {
	border: 1px solid lightgray;
	margin: 10px 0px;
	height: 310px;
	padding: 20px 5px;
	text-align: center;
	background: white;
}

.service-box i {
	text-align: center;
	margin: auto;
	font-size: 100px;
	color: gray;
}
.service-header {
	font-weight: bold;
	font-size: 18px;
	color: #4eaac8;
	text-align: center;
	margin-top: 10px;
}

.service-text {
	text-align: left;
	font-size: 1em;
}

</style> 
<div id='services'>

<div class='container'>
<div class='sub-title'>WHAT WE TREAT</div>
	<div class='header'>Outpatient Mental <span class='bold'>Health</span></div>
	<hr class='short'>
</div>

	<div class='container'>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='service-box'>
					<div class='service-icon'><i class="fas fa-desktop"></i></div>
					<div class='service-header'>Teletherapy</div>
					<div class='service-text'>
						<ul>
							<li>Remote</li>
							<li>Secure</li>
							<li>Reliable</li>
						</ul>
					</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='service-box'>
					<div class='service-icon'><i class="fas fa-user-alt"></i></div>
					<div class='service-header'>Individual Therapy</div>
					<div class='service-text'>
						<ul>
							<li>Trauma/PTSD Therapy</li>
							<li>Depression Therapy</li>
							<li>Anxiety Treatment</li>
							<li>ADHD Treatment</li>
							<!-- <li>Compassion Fatigue Therapy</li> -->
						</ul>
					</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='service-box'>
					<div class='service-icon'><i class="fas fa-user-friends"></i></div>
					<div class='service-header'>Couple / Family Therapy</div>
					<div class='service-text'>
						<ul>
							<li>Premarital Counseling</li>
							<li>Conflict Resolution</li>
							<li>Family Systems</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='service-box'>
					<div class='service-icon'><i class="fas fa-users"></i></div>
					<div class='service-header'>Group Therapy</div>
					<div class='service-text'>
						<ul>
							<li>Anger, Aggression & Violence</li>
							<li>What Do I Worry So Much?</li>
							<li>Grief, Loss, and Trauma</li>

						</ul>
					</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='service-box'>
					<div class='service-icon'><i class="fas fa-plus-circle"></i></div>
					<div class='service-header'>Specialties</div>
					<div class='service-text'>
						<ul>
							<li>Anger Management</li>
							<li>EMDR</li>
							<li>Biofeedback</li>
							<li>Sex Offender Treatment</li>
							<li>Trauma-Focused CBT</li>
						</ul>
					</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='service-box'>
					<div class='service-icon'><i class="fas fa-clipboard-list"></i></div>
					<div class='service-header'>Clinical Evaluations</div>
					<div class='service-text'>
						<ul>
							<li>Intake Assessment (CCA)</li>
							<li>Immigration Evaluations</li>
							<li>Sex Offender Risk (SORA)</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-4'>
				<div class='service-icon'></div>
				<div class='service-header'></div>
				<div class='service-text'></div>
			</div>
			<div class='col-lg-4'>
				<div class='service-box'>
					<div class='service-icon'><i class="fas fa-bars"></i></div>
					<div class='service-header'>Other Services</div>
					<div class='service-text'>
						<ul>
							<li>Employee Assistance Program (EAP)</li>
							<li>Mental Health Screenings</li>
							<li>Compassion Fatigue Therapy</li>

						</ul> 
					</div>
				</div>
			</div>
			<div class='col-lg-4'>
				<div class='service-icon'></div>
				<div class='service-header'></div>
				<div class='service-text'></div>
			</div>
		</div>
	</div>
</div>