<style>

#sexoffender  {
	padding: 25px 0px;
	background: #E6F4F1 !important;
}

#sexoffender .box {
	height: auto;
	padding: 5px 10px;
	background: #7c5292;
	color: white;
	margin-bottom: 20px;
}

#sexoffender .section-title, #sexoffender .section-text, #sexoffender .title, #sexoffender .sub-title {
	color: /*blac*/;
}

#sexoffender .box-phase {
	font-size: 26px;
	font-weight: 300;
}

#sexoffender .title {
	font-size: 16px;
}

#pencil {
	margin-top: 100px;
}

#pencil .section-title {
	margin-top: 75px;
}
</style>

<div id='sexoffender'>
	<div class='container'>
		<div class='center'>
			<div class='sub-title'></div>
			<div class='section-title'>Sex Offender Risk <span class='bold'>Assessment</span></div>
			<hr class='short'>
		</div>
		<div class='section-text'>
			<p>A Risk Assessment is a clinical evaluation used to predict the degree of possibility of a sexual re-offense. Here at WMH, we use structured and research guided assessment tools to determine risk levels and make recommendations regarding treatment and danger posed to the public. If you are facing a sentence or criminal adjudication, need a decision regarding treatment needs, are registered as sex offender and waiting for a classification, or have a civil commitment proceeding, most likely would be asked to take an RA since courts have long supported mental health treatment as an alternative to jail.</p>

			<p>The assessment starts with a list of factors that are likely to be related to risk, drawn from personal experience. Our assessment use actuarial tools and incorporate dynamic risk factors such as the offender's age at the time of assessment factors during testing. Risk factors are assessed on the basis of their nature, origin and effect to increase reliability and validity and to provide precise estimates of recidivism risk. The assessment incorporate protective and relevant factors, informs the development of treatment, and facilitates the patient’s engagement in the assessment process.</p>

			<br>
			<div class='section-text'><span class='bold'>Facts about Risk Assessments</span></div>

			<div class='row' style='margin-top: 25px'>

				<div class='col-lg-3' style='border-right: 1px solid black'>
					<!-- <div class='title center'>EXTREME HARDSHIP WAIVERS</div> -->
					<div class='section-text center'>
						Children who welcome or allow being sexually abused by not resisting or saying “no” are giving consent to sexual activity – the age of consent in most states is 18 years.</div>
					</div>
				<div class='col-lg-3' style='border-right: 1px solid black'>
					<!-- <div class='title center'>DOMESTIC VIOLENCE CASES</div> -->
					<div class='section-text center'>
						Most sexual assaults are committed by someone known to the victim or the victim’s family, regardless of whether the victim is a child or an adult.
					</div>
				</div>
				<div class='col-lg-3' style='border-right: 1px solid black'>
					<!-- <div class='title center'>ASYLUM / U VISA CASES</div> -->
					<div class='section-text center'>
						Contrary to the belief, sex offenders do not commit sexual assault because they were under the influence of alcohol or as a direct result of excessive drinking.
					</div>
				</div>
				<div class='col-lg-3'>
					<!-- <div class='title center'>T Visa Evaluations</div> -->
					<div class='section-text center'>
						Treatment can contribute significantly with community safety and recidivism, especial when participants and attend and comply with treatment recommendations.
					</div>
				</div>
			</div>
			</p>
			<br><br>
			<p class='center' style='font-size: 24px'>WMH RA evaluators receive training and are undergo monitoring to ensure that risk assessment procedures and instruments are used appropriately and with integrity.</p>
			<br>
			<br>
			<p>
			<div class='row' style='margin-top: 25px'>
				<div class='col-lg-1'>
			
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>COST</div>
					<div class='section-text center'>
						$2500 (report included)
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>LENGTH</div>
					<div class='section-text center'>
						Approximately 8 hours
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>REPORT</div>
					<div class='section-text center'>
						Generally, 20-25 pgs long
					</div>
				</div>
				<div class='col-lg-2' style='border-right: 1px solid black'>
					<div class='title center'>TURN-AROUND TIME</div>
					<div class='section-text center'>
						2-4 weeks to complete
					</div>
				</div>
				<div class='col-lg-2'>
					<div class='title center'>REQUIREMENTS</div>
					<div class='section-text center'>
						Any supportive document
					</div>
				</div>
				<div class='col-lg-1'>
			
				</div>
			</div>
			</p>
		
		</div>
</div>
		
</div>