<style>

.benefits {
	width: 100%;
	margin: 25px 0px;
	color: #5c656d;
	font-size: 18px;
	line-height: 167%;
	font-weight: 300;
}

#support {
	padding: 50px 0px;
}	

#support .section-text {
	margin-top: 20px;
}

</style>


<div id='support'>
	<div class='container'>
		<div class='row'>
			<div class='section-title'>Feel supported.<br>Approach your health <span class='bold'>Proactively</span></div>
			<div class='section-text'>
				<p>EAP services are often delivered face-to-face or online. We use multiple counseling modalities and offer immediate support for work or life issues by meeting you in person or through teletherapy.</p>
				<p>Our interventions are designed to assist you,  the employee, as you navigate uncertain and unpredictable times, which in turn may be adversely affecting your performance at work. These personal problems include relationship challenges, financial difficulties, wellness matters, work-related trauma, and violence, among others. Our EAP services can be extended to family members such as your spouse, children our partners who live in the same household.</p>
			</div>
			<br>
			<br>
			<div class='section-title center'>Benefits of <span class='bold'>EAP</span></div>
				<table class='benefits'>
					<div class='section-text'>
					<tr>
						<td><li>Personal Development</li></td>
						<td><li>Improved concentration</li></td>
						<td><li>Team building and workflow</li></td>
					</tr>
					<tr>
						<td><li>Stress and anxiety management</li></td>
						<td><li>Enhanced performance under pressure</li></td>
						<td><li>Self and situational awareness</li></td>
					</tr>
					<tr>
						<td><li>Improved mental health</li></td>
						<td><li>Improved productivity</li></td>
						<td><li>Energy management</li></td>
					</tr>
				</div>
				</table>
				<br>
				<br>
				<br>
			<div class='section-title center' style='margin-top: 25px'>Who Offers <span class='bold'>EAP</span></div>
			<table class='benefits'>
					<div class='section-text'>
					<tr>
						<td>~97% of large companies<br>
						with more than 5,000 employees</td>

						<td>~80% of mid-sized companies<br>
						With 1,01 – 5,000 employees</td>

						<td>~75% of small organizations<br>
							With 251 – 1,000 employees</td>
					</tr>
				</div>
				</table>
				<div class='section-text center'>For information or an appointment, call 910-777-5575. All calls are confidential.</div>

		</div>
	</div>
</div>