<style>

#techniques i {
	float: right;
	color: #4eaac8 !important;
}

#techniques li {
	background: #f6f8f9;
	padding: 10px 10px;
	margin: 5px 0px 0px 0px;
}

#techniques li a {
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
}

.technique-name {
	font-size: 20px;
}

.technique-title {
	font-size: 20px;
	margin-top: 20px;
}

.technique-title-first {
	font-size: 20px;
	margin-top: 0px;
}


</style> 

<div id='techniques'>

<div class='container'>
<!-- <div class='sub-title'></div> -->
	<div class='header'>Our <span class='bold'>Techniques</span></div>
	<hr class='short'>
</div>

<div class='container'>
	<div class='row'>
		<div class='col-lg-5'>
			<ul class="nav nav-pills flex-column">
			  	<div class='technique-title-first'>Commonly Used</div>
			  	<li><a data-toggle="pill" href="#cbt">Cognitive Behavioral Therapy (CBT)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#rebt">Rational Emotive Behavior Therapy (REBT)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#mi">Motivational interviewing (MI)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#sfbt">Solution-Focused Brief Therapy (SFBT)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#dbt">Dialectic Behavioral Therapy (DBT)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#emdr">Eye Movement Desensitization and Reprocessing (EMDR)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#bio">Biofeedback</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#trauma">Trauma-Informed Therapy </a><i class="fas fa-chevron-right"></i></li>
				<li><div href="#family">Family Therapy</div></li>
				<li><div href="#interpersonal">Interpersonal Therapy</div></li>
				<li><div href="#conflict">Conflict Resolution Therapy</div></li>
				<li><div href="#person">Person-Centered Therapy</div></li>
				<li><a data-toggle="pill" href="#ifs">Integrative Internal Family Systems Therapy (IFS)<i class="fas fa-chevron-right"></i></a></li>
				<li><a data-toggle="pill" href="#eft">Emotionally Focused Therapy (EFT)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#anger">Anger Management</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#matrix">The Matrix Model</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#medication">Medication Assisted Treatment (Whole-Patient Approach)</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#gottman">Gottman Method</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#guided">Guided Therapeutic Imagery</a><i class="fas fa-chevron-right"></i></li>
				<li><div href="#irt">Imago Relationship Therapy (IRT)</div></li>
				<li><a data-toggle="pill" href="#exposure">Exposure Therapy</a><i class="fas fa-chevron-right"></i></li>
				<li><a data-toggle="pill" href="#critical">Critical Incident Stress Management</a><i class="fas fa-chevron-right"></i></li>
				
				<div class='technique-title'>Other Techniques We May Use</div>
				<li><div href="#coach">Life Coaching</div></li>

				<div class='technique-title'>Case Management</div>
				<li><div href="#service">Service Coordination and Referrals</div></li>

				<div class='technique-title'>Complementary & Alternative Treatment</div>
				<li><a data-toggle="pill" href="#mindfulness">Mindfulness-Based Cognitive Behavioral Therapy</a><i class="fas fa-chevron-right"></i></li>

				<div class='technique-title'>Other Methods We May Use</div>
				<li><div href="#reality">Reality Therapy</div></li>
				<li><div href="#psychodrama">Psychodrama</div></li>
				<li><div href="#gestalt">Gestalt Therapy</div></li>
				<li><div href="#existential">Existential Therapy</div></li>
				<li><div href="#positive">Positive Psychology</div></li>
				<li><div href="#narrative">Narrative Therapy</div></li>
				<li><div href="#christian">Christian Counseling</div></li>
				<li><div href="#journal">Journal Therapy</div></li>
				<li><div href="#logotherapy">Logotherapy</div></li>
				<li><div href="#motivational">Motivational Enhancement Therapy</div></li>
				<li><div href="#compassion">Compassion Focused Therapy</div></li>
				<li><div href="#cpp">Core Process Psychotherapy (CPP)</div></li>
				<li><div href="#discernment">Discernment Counseling</div></li>
				<li><div href="#dyadic">Dyadic Developmental Psychotherapy (DDP)</div></li>
				<li><div href="#emotional">Emotional Freedom Technique</div></li>
				<li><div href="#pragmatic">Pragmatic-Existential Therapy for Couples (PET-C)</div></li>
				<li><div href="#cdoi">Client-Directed Outcome-Informed Therapy (CDOI)</div></li>
				<li><div href="#attachment">Attachment-Based Life Coaching</div></li>
				<li><div href="#schema">Schema Therapy</div></li>

			</ul>
		</div>


		<div class='col-lg-7'>

			<div class="tab-content">
				<div class="tab-pane container active" id="cbt"><div class='technique-name'>Cognitive Behavioral Therapy (CBT)</div></div>
				<div class="tab-pane container fade" id="rebt"><div class='technique-name'>Rational Emotive Behavior Therapy (REBT)</div></div>
				<div class="tab-pane container fade" id="mi"><div class='technique-name'>Motivational interviewing (MI)</div></div>
				<div class="tab-pane container fade" id="sfbt"><div class='technique-name'>Solution-Focused Brief Therapy (SFBT)</div></div>
				<div class="tab-pane container fade" id="dbt"><div class='technique-name'>Dialectic Behavioral Therapy (DBT)</div></div>
				<div class="tab-pane container fade" id="emdr"><div class='technique-name'>Eye Movement Desensitization and Reprocessing (EMDR)</div></div>
				<div class="tab-pane container fade" id="bio"><div class='technique-name'>Biofeedback</div></div>
				<div class="tab-pane container fade" id="trauma"><div class='technique-name'>Trauma-Informed Therapy</div></div>
				
				<div class="tab-pane container fade" id="ifs"><div class='technique-name'>Integrative Internal Family Systems Therapy (IFS)</div></div>
				<div class="tab-pane container fade" id="eft"><div class='technique-name'>Emotionally Focused Therapy (EFT)</div></div>
				<div class="tab-pane container fade" id="anger"><div class='technique-name'>Anger Management</div></div>
				<div class="tab-pane container fade" id="matrix"><div class='technique-name'>The Matrix Model</div></div>
				<div class="tab-pane container fade" id="medication"><div class='technique-name'>Medication Assisted Treatment (Whole-Patient Approach)</div></div>
				<div class="tab-pane container fade" id="gottman"><div class='technique-name'>Gottman Method</div></div>
				<div class="tab-pane container fade" id="guided"><div class='technique-name'>Guided Therapeutic Imagery</div></div>
				<div class="tab-pane container fade" id="exposure"><div class='technique-name'>Exposure Therapy</div></div>
				<div class="tab-pane container fade" id="critical"><div class='technique-name'>Critical Incident Stress Management</div></div>
				<div class="tab-pane container fade" id="mindfulness"><div class='technique-name'>Mindfulness-Based Cognitive Behavioral Therapy</div></div>
			</div>

		</div>
	</div>
</div>
</div>