
        <style>

#techniques {
	background: #00314A;
	/*color: white;*/
	padding-top: 55px;
	padding-bottom: 55px;
}

#techniques .card {
	/*background: none;*/
	margin-bottom: 5px;
}

#techniques .card-body {
		color: #5c656d;
	font-size: 18px;
	/*line-height: 167%;*/
	font-weight: 300;
}

#myUL button {
	padding-left: 0px !important;
}
#techniques .section-text {
	color: black;
}

#techniques .section-title {
	color: white;
	padding-top: 50px;
}

#technique-header {

}

#techniques hr {
	margin-top: 0px;
	margin-bottom: 20px;
}

#techniques i {
	float: right;
	color: #4eaac8 !important;
}

/*#techniques li {
	background: #f6f8f9;
	padding: 10px 10px;
	margin: 5px 0px 0px 0px;
}

#techniques li a {
	color: black;
	text-transform: uppercase;
	font-size: 12px;
	text-decoration: none;
}*/

.technique-name {
	font-size: 20px;
}

.technique-description {
	font-size: 16px !important;
	text-align: left;
	margin-top: 15px;
	  z-index: 2;
	  padding: 0px 10px 20px 10px;
}

.technique-header {
	font-size: 30px;
	color: white;
	margin-top: 30px;
}

.technique-title {
	font-size: 16px;
	font-weight: 600;
	padding: 5px 5px;
	z-index: 2;
	background: #4eaac8;
	color: white;
	height: 60px;
	border-radius: 10px 10px 0px 0px;
}

.technique-title-first {
	font-size: 20px;
	margin-top: 0px;
}


#search {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

.search-title {
	text-align: left;
	font-size: 20px;
	/*text-decoration: underline;*/
	font-weight: 400;
}

.sub-description {
	text-transform: none !important;
		color: #5c656d;
	font-size: 18px;
	/*line-height: 167%;*/
	font-weight: 300;
}
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li button {
  /*background-color: #eee;*/
  text-decoration: none; /* Add a hover effect to all links, except for headers */
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 1;
}

#techniques i {
	float: right;
	font-size: 40px;
	position: absolute;
	right: 20px;
	top: 25px;
	z-index: 0;
	color: #1F4E79 !important;
}

#techniques .card-header {
	height: 93px;
}

#techniques hr {
	background: white;
}

.plus {
	position: absolute;
	font-size: 50px;
	right: 20px;
	top: 15px;
	font-weight: 300;
}
</style> 

<div id='techniques'>

<div class='container'>
<!-- <div class='sub-title'></div> -->
	<div class='section-title center' style='font-size: 42px'>Our <span class='bold'>Techniques</span></div>
	<hr class='short'>
</div>

<div class='container'><div class='center'><input type="text" id="search" onkeyup="search()" placeholder="Search..."></div>

<div class='section-title'>Commonly Used</div><hr>

<div id="accordion">

<ul id="myUL">
  <li class='searchli'>
	  <div class="card">
	    <div class="card-header" >
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" onclick="tech('change1')" >
	          <div class='section-text search-title'>Cognitive Behavioral Therapy (CBT)</div>
	          	<div class='sub-description'>Your thoughts, emotions, and behaviors are inextricably linked.</div>
	        </button>
	        <div id='change1'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse1" class="collapse" data-parent="#accordion">
	      <div class="card-body">
		      	<p>CBT is a goal-oriented psychotherapy treatment approach posits that irrational patterns of thinking can adversely affect feelings and behaviors. Therefore, challenging (automatic and "negative") thought patterns can lead to logical and critical thinking. </p>

		       	<ul>
					<li>Common exercises:</li>
					<li>Behavioral experiments</li>
					<li>Thought records</li>
					<li>Behavioral activation</li>
				</ul>

				<p>"Cognitive therapy seeks to alleviate psychological stresses by correcting faulty conceptions and self-signals. By correcting erroneous beliefs, we can lower excessive reactions". ― Aaron T. Beck</p>
	      </div>
	    </div>
	  </div>
  </li>

  <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" onclick="tech('change2')">
	          <div class='section-text search-title'>Rational Emotive Behavior Therapy (REBT)</div>
	          	<div class='sub-description'>Develop rational thinking to facilitate healthy emotional behavior and expression.</div>
	        </button>
	        <div id='change2'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse2" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
					<p>REBT teaches you to question the validity of distorted and irrational thoughts and consider alternative standpoints. You then learn to evaluate situations more accurately and develop perspectives and habits that enable you to act in helpful, effective ways.</p>

					<p>Common exercises:
						<ul>
					<li>Disputing irrational beliefs</li>
					<li>Imagine the worst</li>
					<li>Blown out of all proportion</li>
					</ul>
					</p>

					<p>“Too many people are unaware that it is not outer events or circumstances that will create happiness; rather, it is our perception of events and of ourselves that will create, or uncreate, positive emotions.” ― Albert Ellis</p>
				</div>
	      	</div>
	    </div>
	  </div>
  </li>

  <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" onclick="tech('change3')">
	          <div class='section-text search-title'>Motivational interviewing (MI)</div>
	          	<div class='sub-description'>Deal with issues surrounding readiness to change behaviors.</div>
	        </button>
	        <div id='change3'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse3" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
					<p>MI is a directive, client-centered psychotherapy approach used to help you develop behavior change by exploring and resolving your ambivalences about changing.</p>

					<p>Common activities and tools:
						<ul>
							<li>Open-ended questions</li>
							<li>Forming affirmations and reflections</li>
							<li>Directive reflecting</li>
						</ul>
					</p>

					<p>“People are the undisputed experts on themselves. No one has been with them longer, or knows them better than they do themselves. In MI, the helper is a companion who typically does less than half of the talking.” ― William R. Miller</p>
				</div>
	      	</div>
	    </div>
	  </div>
  </li>

  <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" onclick="tech('change4')">
	          <div class='section-text search-title'>Solution-Focused Brief Therapy (SFBT) </div>
	          	<div class='sub-description'>Explore possibilities and new ways of thinking and behaving to resolve problems.</div>
	        </button>
	        <div id='change4'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse4" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
			      	<p>SFBT may help you become aware of your preferred future and develop motivation to move toward that future. SFBT also helps you identify and work toward your goals, set specific and measurable outcome goals, and conceptualize and work through open problems instead of focusing on the presenting problem.</p>

					<p>Common exercises:
						<ul>
						<li>Miracle question</li>
						<li>Exception questions</li>
						<li>Solution mind mapping</li>
						<li>Experiment journal</li>
					</ul>
					</p>

					<p>“That’s a way to see it and there is also another way to see it” ― Insoo Kim Berg</p>

					</div>
	      	</div>
	    </div>
	  </div>
  </li>

  <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse5" onclick="tech('change5')">
	          <div class='section-text search-title'>Dialectic Behavioral Therapy (DBT) </div>
	          	<div class='sub-description'>Learn to better express your inner thoughts and feelings.</div>
	        </button>
	        <div id='change5'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse5" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
			      	<p>DBT helps you accept and deal with the struggles you face in order to live life more fully and efficiently. This technique uses a problem solving and acceptance-based framework — among other strategies — to treat severe and chronic mental health conditions and issues, including borderline personality disorder, suicidal thoughts, self-harming, eating disorders and PTSD.</p>

					<p>Common exercises:
						<ul>
							<li>Radical acceptance</li>
							<li>Reality acceptance</li>
							<li>Non-judgmental stance</li>
							<li>DEAR MAN skill</li>
						</ul>
					</p>
					<p>“It is hard to be happy without a life worth living… Of course, all lives are worth living in reality. No life is not worth living. But what is important is that you experience your life as worth living—one that is satisfying, and one that brings happiness.” ― Marsha M. Linehan</p>

					</div>
	      	</div>
	    </div>
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse6" onclick="tech('change6')">
	          <div class='section-text search-title'>Eye Movement Desensitization and Reprocessing (EMDR) </div>
	          	<div class='sub-description'> Make new emotional connection with your memories for lasting changes in behavior.</div>
	        </button>
	        <div id='change6'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse6" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>EMDR helps you reprocess traumatic memories in the brain through rapid, rhythmic eye movements and access those traumatic memories and other adverse life experiences to bring them to an adaptive resolution.</p>

						<p>Common techniques:
							<ul>
								<li>Bilateral stimulation (BLS)</li>
								<li>The flash</li>
								<li>Processing</li>
								<li>Paired titration</li>
							</ul>
						</p>

						<p>“Changing the memories that form the way we see ourselves also changes the way we view others. Therefore, our relationships, job performance, what we are willing to do or are able to resist, all move in a positive direction.” ― Francine Shapiro</p>

					</div>
	      	</div>
	    </div>
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse7" onclick="tech('change7')">
	          <div class='section-text search-title'>Biofeedback</div>
	          	<div class='sub-description'>Measure your brain’s electrical and physiological activity processes.</div>
	        </button>
	        <div id='change7'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse7" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        				      	<div class='technique-description'>
						<p>Biofeedback helps you gain greater awareness of many physiological functions happening in your own body - by using electronic instruments - with the goal of being able to manipulate your body's systems at your own discretion.</p>

						<p>Types of biofeedback
							<ul>
								<li>Electromyography (EMG)</li>
								<li>Thermal or temperature</li>
								<li>Electroencephalography</li>
								<li>Galvanic skin response</li>
								<li>Heart variability</li>
							</ul>
						</p>

						<p>“The nervous system holds the key to the body’s incredible potential to heal itself.” ― Sir Jay Holder</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>



    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse9" onclick="tech('change9')">
	          <div class='section-text search-title'>Family Therapy </div>
	          	<div class='sub-description'>Develop and maintain a healthy, functional family.</div>
	        </button>
	        <div id='change9'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse9" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
			      	<div class='technique-description'>
			      	<p>This form of psychotherapy includes your entire family and helps improve the communication patterns between family members creating changes that address the health and functioning of the family.</p>

					<p>Common exercises:<ul>
					<li>Genogram</li>
					<li>Emotions ball</li>
					<li>The family gift</li>
					<li>Mirroring activity</li>
					<li>Genogram</li>
					<li>Color candy go around</li></ul></p>

					<p>“A securely attached child will store an internal working model of a responsive, loving, reliable care-giver, and of a self that is worthy of love and attention and will bring these assumptions to bear on all other relationships.” ― John Bowlby</p>

					</div>
	      	</div>
	    </div>
	  </div>
  </li class='searchli'>



    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse11" onclick="tech('change11')">
	          <div class='section-text search-title'>Person-Centered Therapy </div>
	          	<div class='sub-description'>Change achieved by emphasizing concern, care and interest.</div>
	        </button>
	        <div id='change11'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse11" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>This non-directive therapy approach can help you reach self-awareness by enabling you to take full control of the “steering wheel” during your treatment while your therapist provides full support and acceptance.</p>

						<p>Common techniques:<ul>
								<li>You are the expert</li>
								<li>You choose what to discuss</li>
								<li>The focus is on you rather than your problems</li>
								<li>Goal identification</li>
							</ul>
						</p>

						<p>“When you are in psychological distress and someone really hears you without passing judgement on you, without trying to take responsibility for you, without trying to mold you, it feels damn good!.” – Carl Rogers<p>

					</div>
	      	</div>
	    </div>
	  </div>
  </li>

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse36" onclick="tech('change24')">
	          <div class='section-text search-title'>Schema Therapy </div>
	          	<div class='sub-description'>Develop a better sense of self-worth and adequacy</div>
	        </button>
	        <div id='change24'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse36" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>Schema therapy can help you identify thoughts and actions that may be causing or exacerbating your mental health symptoms by integrating and expanding on CBT through exploration of emotions, maladaptive coping methods, and the origin of mental health concerns.</p>

						<p>Common exercises:<ul>
						<li>Maladaptive schemas</li>
						<li>Schema modes</li>
					</ul>
				</p>

						<p>“Once you can open yourself up to the idea that your defectiveness is not a fact, the healing process can begin to work.” ― Jeffrey E. Young</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse13" onclick="tech('change12')">
	          <div class='section-text search-title'>Integrative Internal Family Systems Therapy (IFS)</div>
	          	<div class='sub-description'> Insight, support, and wisdom to help families grow stronger and more cohesive</div>
	        </button>
	        <div id='change12'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse13" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
			      	<div class='technique-description'>
			      	<p>IFS encourages you to bring your family into treatment and helps improve communication and resolve conflict constructively, which in turns promotes an overall sense of well-being for all members of the family.</p>

					<p>Common exercises:<ul>
							<li>Journaling</li>
							<li>Genogram</li>
							<li>The room technique</li>
							<li>Mountain or path</li>
							<li>Feeling one’s heart</li>
						</ul>
					</p>

					<p>“Imbalanced systems, whether internal or external, will tend to polarize.” ― Richard C. Schwartz</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse14" onclick="tech('change13')">
	          <div class='section-text search-title'>Emotionally Focused Therapy (EFT) </div>
	          	<div class='sub-description'>Use your emotions as a source of healing and insight.</div>
	        </button>
	        <div id='change13'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse14" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        			
			 
			      	<div class='technique-description'>
			      	<p>EFT helps you look at patterns in your relationship and how they impact your ability to create healthy and secure bonds so that you learn to develop more trust and move in a positive direction in your relationship. </p>

					<p>Common exercises:<ul>
					<li>De-escalation</li>
					<li>Changing interaction patterns</li>
					<li>Consolidation</li>
					<li>Integration</li>
				</ul>
			</p>

					<p>“Love has an immense ability to help heal the devastating wounds that life sometimes deals us. Love also enhances our sense of connection to the larger world. Loving responsiveness is the foundation of a truly compassionate, civilized society.” ― Sue Johnson</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse15" onclick="tech('change14')">
	          <div class='section-text search-title'>Anger Management </div>
	          	<div class='sub-description'>Identify stressors, remain calm, and handle tense situations in a positive and constructive manner.</div>
	        </button>
	        <div id='change14'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse15" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        					<div class='technique-description'>
						<p>Our program will help you control and change how you feel about and behave in life situations. You will learn learning ways of coping with negative emotions in a constructive way, how to examine your triggers, adjust how you look at situations, and express your anger and frustration more positively.<p>  

						<p>Common Techniques:<ul>

						<li>Breathing exercises</li>
						<li>Impulse control</li>
						<li>Meditation</li>
						<li>Relaxation strategies</li>
					</ul>
				</p>

						<p>“Anger can be extremely rewarding in the short term. It can distract you from pain and threatening feelings. You may use anger to provoke fear and anxiety in others… But regularly directing anger at someone is likely to make him or her even less supportive. Ultimately, that person will withdraw completely- leaving you feeling even more isolated.” ― Bernard Golden</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>

    
    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse19" onclick="tech('change15')">
	          <div class='section-text search-title'>Critical Incident Stress Management </div>
	          	<div class='sub-description'>Immediate support after a traumatic event has occurred to reduce long-term consequences.</div>
	        </button>
	        <div id='change15'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse19" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>We can provide short-term psychological assistance by focusing exclusively on an immediate and identifiable problem. This will enable you to return to your daily activities sooner and decrease the change that you develop post-traumatic stress disorder (PTSD)</p>

						<p>Examples of a Critical Incident include but are not limited to:
							<ul>
						<li>Serious workplace injuries or accidents</li>
						<li>Death of a co-worker or family member</li>
						<li>Assaults, violent acts, or threats in the workplace</li>
						<li>Suicide of an employee</li>
						<li>Traumatic family or work events</li>
					</ul>
				</p>

					</div>
	      	</div>
	    </div>
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse20" onclick="tech('change16')">
	          <div class='section-text search-title'>Psychotherapy </div>
	          	<div class='sub-description'>Address your mental, emotional, and behavioral problems.</div>
	        </button>
	        <div id='change16'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse20" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        		        	<div class='technique-description'>

	        	Psychotherapy can help you assess your coping skills and promote healthier lifestyles. Our therapists will guide you through the process of identifying and correcting unhelpful thoughts and behaviors.
	        </div>
	      	</div>
	    </div>
	  </div>
  </li>

    
   <div class='section-title'>Case Management</div><hr>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Service Coordination</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

      <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Referrals</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>





	<div class='section-title'>Complementary & Alternative Treatment</div><hr>

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse26" onclick="tech('change18')">
	          <div class='section-text search-title'>Mindfulness-Based Cognitive Behavioral Therapy </div>
	          	<div class='sub-description' style='text-align: left'>Turn towards the present moment.</div>
	        </button>
	        <div id='change18'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse26" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        					<div class='technique-description'>
						<p>Learn to reach a state of focused awareness, live in the present moment, and respond more effectively to life's challenges. This technique can also help you accept, rather than change, your feelings, and thoughts about the life challenges you may be experiencing.</p>

						<p>Common exercises:<ul>
						<li>Three-minute breathing space</li>
						<li>Body scan</li>
						<li>Mindfulness stretching</li>
						<li>Daily mindfulness</li></ul></p>

						<p>“Mindfulness practice means that we commit fully in each moment to be present; inviting ourselves to interface with this moment in full awareness, with the intention to embody as best we can an orientation of calmness, mindfulness, and equanimity right here and right now.” ― Jon Kabat-Zinn</p>

					</div>
	      	</div>
	    </div>
	  </div>
  </li>

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse27" onclick="tech('change19')">
	          <div class='section-text search-title'>Reality Therapy</div>
	          	<div class='sub-description'>All humans have five basic needs: Survival, love and belonging, power, freedom, and fun.</div>
	        </button>
	        <div id='change19'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse27" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>Reality therapy helps you understand that almost all behaviors are chosen and focus on present issues and by changing the behaviors that prevent you from addressing those issues. Psychological distress is seen as the outcome of not meeting five basic psychological needs: power, love/belonging, freedom, fun and survival.</p>

						<p>Common exercises:<ul>
						<li>SAMIC3 plans</li>
						<li>SMART goals</li>
						<li>WDEP System</li>
					</ul>
				</p>

						<p>“We almost always have choices, and the better the choice, the more we will be in control of our lives.” ― William Glasser.</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse28" onclick="tech('change20')">
	          <div class='section-text search-title'>Gestalt Therapy </div>
	          	<div class='sub-description'>Become aware of the here and now and accept responsibility for yourself.</div>
	        </button>
	        	        <div id='change20'><div class='plus'>+</div></div>

	      </h5>
	    </div>

	    <div id="collapse28" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<!-- <div class='technique-description'> -->
						<p>Gestalt therapy helps you and focus on the present and how you feel about it, paying close attention to your personal life, awareness, attitude, and perceptions rather than your interpretations.</p>

						<p>Common exercises:<ul>
						<li>Empty chair</li>
						<li>Exaggeration</li>
						<li>Here and now</li>
					</ul></p>

						<p>“I do my thing and you do your thing. I am not in this world to live up to your expectations, and you are not in this world to live up to mine. You are you, and I am I, and if by chance we find each other, it's beautiful. If not, it can't be helped.” ― Fritz Perls</p>


					<!-- </div> -->
	      	</div>
	    </div>
	  </div>
  </li>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse29" onclick="tech('change21')">
	          <div class='section-text search-title'>Existential Therapy </div>
	          	<div class='sub-description'>Free will, self-determination, and the search for meaning.</div>
	        </button>
	        <div id='change21'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse29" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>This therapy style helps you look at yourself from a philosophical standpoint and explore your condition as a human being, your existence in this planet, and your capacities to explore the meaning of life.</p>

						<p>Main ideas:<ul>
						<li>Freedom of choice</li>
						<li>Meaning in life</li>
						<li>Authenticity</li>
					</ul>
				</p>

						<p>“It is perfectly true, as philosophers say, that life must be understood backwards. But they forget the other proposition, that it must be lived forwards.” ― Søren Kierkegaard</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse30" onclick="tech('change22')">
	          <div class='section-text search-title'>Narrative Therapy </div>
	          	<div class='sub-description'>Create meaning through the stories you share.</div>
	        </button>
	        <div id='change22'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse30" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>Narrative therapy helps you identify your skills, values, and knowledge, and interpret your experiences as stories that give meaning to your life and guide it.</p>

						<p>Common exercises:<ul>
						<li>My life story</li>
						<li>Externalization</li>
						<li>Deconstruction</li>
					</ul>
				</p>

						<p>“Every time we ask a question, we’re generating a possible version of a life.” – David Epston</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse31" onclick="tech('change23')">
	          <div class='section-text search-title'>Christian Counseling </div>
	          	<div class='sub-description'> Combine your faith with the principles of psychology.</div>
	        </button>
	        <div id='change23'><div class='plus'>+</div></div>
	      </h5>
	    </div>

	    <div id="collapse31" class="collapse" data-parent="#accordion">
	      <div class="card-body">
	        <p class='section-text'>
	        	<div class='technique-description'>
						<p>Christian counseling is applied as a form of therapy that emphasizes spirituality to help you overcome life’s challenges and enhance your mental and emotional health.</p>

						<p>Common principles:<ul>
						<li>Accepting of God’s will</li>
						<li>Use of scripture to guide how you should think and behave.</li>
						<li>Identify behaviors that are inconsistent with God’s teachings</li>
					</ul>
				</p>

						<p>“You can't teach a person to love something. But you can get him to feel the heat of your love for something.” ― James MacDonald</p>


					</div>
	      	</div>
	    </div>
	  </div>
  </li>


	<div class='section-title'>Other Methods We May Use</div><hr>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse16">
	          <div class='section-text search-title'>The Gottman Method</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse23">
	          <div class='section-text search-title'>Imago Relationship Therapy (IRT)</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse18">
	          <div class='section-text search-title'>Exposure Therapy</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

  <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse21">
	          <div class='section-text search-title'>Conflict Resolution Therapy</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Compassion Focused Therapy</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Emotional Freedom Technique</div>
	        </button>
	      </h5>
	    </div>

	   
	  </div>
  </li>


    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse17">
	          <div class='section-text search-title'>Guided Therapeutic Imagery</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Journal Therapy</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Logotherapy</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse22">
	          <div class='section-text search-title'>Whole-Patient Approach (Medication Assisted Treatment)</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>


 <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Life Coaching</div>
	        </button>
	      </h5>
	    </div>

	    <div id="collapse24" class="collapse" data-parent="#accordion">
	      
	    </div>
	  </div>
  </li>

 <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Positive Psychology</div>
	        </button>
	      </h5>
	    </div>

	    <div id="collapse24" class="collapse" data-parent="#accordion">
	      
	    </div>
	  </div>
  </li>

   <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse8" onclick="tech('change8')">
	          <div class='section-text search-title'>Trauma-Informed Therapy </div>
	        </button>
	        <!-- <div id='change8'><i class="fas fa-plus"></i></div> -->
	      </h5>
	    </div>

	    
	  </div>
  </li>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Psychodrama</div>
	        </button>
	      </h5>
	    </div>


	  </div>
  </li>



<!-- <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Motivational Enhancement Therapy</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>
 -->


<!-- 

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Core Process Psychotherapy (CPP)</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>


<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Client-Directed Outcome-Informed Therapy (CDOI)</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>



<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Discernment Counseling</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>

<li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse">
	          <div class='section-text search-title'>Dyadic Developmental Psychotherapy (DDP)</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li>









    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse10" onclick="tech('change10')">
	          <div class='section-text search-title'>Interpersonal Therapy</div>
	        </button>
	      </h5>
	    </div>

	   
	  </div>
  </li>







    <li class='searchli'>
	  <div class="card">
	    <div class="card-header">
	      <h5 class="mb-0">
	        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse25">
	          <div class='section-text search-title'>Conflict Resolution Therapy</div>
	        </button>
	      </h5>
	    </div>

	    
	  </div>
  </li> -->

	
	</div>
</ul>



		



<!----------------------------------------->










</div>
</div>
</div>
</div>









		